/*    Zonas      */

.ZOP_CONTE_modulo{
	width: auto;
	height: auto;
	padding: 10px 0 0 0;
}

/*.ZOP_CONTE_zona{
	width: auto;
	height: auto;
	text-align: center;
}
*/
.ZOP_TABLA_contenido{
	width: 100%;
	height: auto;
	border: none;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

.ZOP_TABLA_contenido td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
}

.ZOP_TD_columna1{ 
	vertical-align: top;
}

.ZOP_TD_columna1 img{ 
	display:block;
	border: none;
	padding: 0 10px 5px 0;
}

.ZOP_TD_columna2{
	width: 40px !important; 
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

.ZOP_TD_columna2 img{ 
	display:block;
	border: none;
/*	padding: 0 5px 5px 0;*/
}

.ZOP_TD_columna3{
	width: 635px !important; 
	vertical-align: top;
	padding-top: 15px !important;
}

.ZOP_TD_columna4{ 
	vertical-align: top;
}

.ZOP_TD_columna4 img{ 
/*	display:block;*/
	border: none;
}

.ZOP_tablaZona{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: #ffffff;
}

.ZOP_tablaZona td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
}

.ZOP_tablaFondo{
	width: 178px;
	height: 22px;
	border-collapse: collapse;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: url(../images/web/fondo_zona_1.gif) no-repeat;
}

.ZOP_tablaFondo td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
}

.ZOP_trImagen{
	width: 176px;
	height: auto;
}

.ZOP_trImagen td{
	padding: 1px;
}

.ZOP_trImagen td img{
	display: block;
}

.ZOP_trTexto{
	width: auto;
	height: auto;
	padding: 0px;
}

.ZOP_trTexto td{
	padding: 10px 10px;
}

.ZOP_trEnlace{
	width: auto;
	height: auto;
}

.ZOP_trEnlace td{
	padding: 0 10px;
}


/*  Pie Zonas  */

.ZOP_tablaFondoPie{
	width: 772px;
	height: auto;
	border-collapse: collapse;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: #F0F0F0 url(../images/web/fondo_zona_pie1.gif) no-repeat;
}

.ZOP_tablaFondoPie td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
}

.ZOP_trTextoPartners{
	width: auto;
	height: auto;
}

.ZOP_trTextoPartners td{
	padding: 11px 16px 10px 16px;
}


.ZOP_trLogosPartners{
	width: auto;
	height: auto;
}

.ZOP_trLogosPartners td{
	text-align: center;
	padding: 24px 10px;
}


.ZOP_tablaPieZona{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
}

.ZOP_tablaPieZona td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
}

.ZOP_trTextoPie{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
	background: none;
}

.ZOP_trTextoPie td{
	text-align: center;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
}

.ZOPF_texto1{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #444444;
	margin: 0px;
}

.ZOPF_texto1 a:link{
	text-decoration: none;
	color: #444444;
}

.ZOPF_texto1 a:visited{
	text-decoration: none;
	color: #444444;
}

.ZOPF_texto1 a:hover{
	text-decoration: underline;
	color: #444444;
}

.ZOPF_texto1 a:active{
	text-decoration: none;
	color: #444444;
}


.ZOPF_subtitulo1{
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
}

.ZOPF_subtitulo1 a:link{
	text-decoration: none;
	color: #000000;
}

.ZOPF_subtitulo1 a:visited{
	text-decoration: none;
	color: #000000;
}

.ZOPF_subtitulo1 a:hover{
	text-decoration: underline;
	color: #000000;
}

.ZOPF_subtitulo1 a:active{
	text-decoration: none;
	color: #000000;
}