/* Estilos agregados */

body{ font-family: "Trebuchet MS", "Lucida Console", Arial, san-serif;
	color: Black;font-size:8pt;
	font: normal;
	}
.cunia  	{border-right:1px solid #91A9DB; border-top:1px solid #91A9DB; border-bottom:1px solid #91A9DB; background-position: 0% 0%; width:17px;height:19px; background-image:url('../Images/cunia.gif'); background-repeat:no-repeat;}
	
.total       { text-align: right; font-family: Arial; font-size: 11pt; font-weight: bold; 
               border-left-width: 1; border-right-width: 1; 
               border-top: 1px solid #808080; border-bottom: 1px solid #808080; 
               background-color: #D9ECFF }
.EncabezadoHorario { border-top-style: solid; border-top-width: 1; border-bottom-style: double; 
               border-bottom-width: 3; background-color: #C0C0C0; font-weight:bold; text-align:center }
.SelOff
{
	CURSOR: hand;
	background : White;
}
.SelOn
{
	CURSOR: hand;
	background : #E6E6FA;
}

.Selected
{
	CURSOR: hand;
	background : #395ACC;
	color : #FFFFFF;
}
.SelectedOn
{
	CURSOR: hand;
	background : Navy;
	color : White;
}

.detallelista { border: 1px solid #808080; background-color: #C7E0CE }
.barraherramientas { border-left-width: 1; border-right-width: 1; border-top-width: 1;border-bottom: 1px solid #808080; background-color: #EEEEEE }
               
.aplicacionoffice { background-image: url('../Images/sup.jpg'); background-repeat: no-repeat; 
               background-position: left 4% }
.bordepestana { border-top:1px solid #808080; border-left:1px solid #808080; border-right:1px solid #808080; .azul        { color: #0000FF }
.contornotabla_negro { border: 1px solid #000000 }
.contornotabla_plomo { border: 1px solid #eaeaea }
.contornotabla_plomo2 { border: 1px solid #cccccc }
.contornotabla_negro2 { border: 2px solid #000000 }
.contornotabla_windows { border: 1px solid #dbdce3 }
.contornotabla_granate { border: 1px solid #990000 }
.contornotabla_naranja { border: 1px solid #ff9900 }
/*POR HUGO PARA WEB DE PROPUESTAS*/
.contornotabla_azul { border: 1px solid  #3399CC }
._titulousuario { color: #800000; font-size: 11pt; font-family: Arial; font-weight: bold }
select	{font-family: Verdana; font-size: 8.5pt}
a:Active		{color: #800000;  }
a:Link			{color: #000000; text-decoration:none}

a:Visited		{color: #000066; text-decoration:none underline}
table        	{font-family: Trebuchet MS; font-size: 8pt }
li           	{list-style-image: url('../Images/vineta.gif') }
.LU          { border-style:solid; border-width:1px; background-color: #FF9933; font-size:7pt; text-align:center}
.MA          { border:1px solid #000000; background-color: #34B1BC; font-size:7pt; text-align:center}
.MI          { border:1px solid #000000; background-color: #6699FF; font-size:7pt; text-align:center}
.JU          { border:1px solid #000000; background-color: #99FFCC; font-size:7pt; text-align:center}
.VI          { border:1px solid #000000; background-color: #FFFF00; font-size:7pt; text-align:center}
.SA          { border:1px solid #808080; background-color: #CCCCFF; font-size:7pt; text-align:center}
.contornotabla { border: 1px solid #808080 }
.contornotabla_celeste { border: 1px solid #00cccc }

._EncabezadoTabla { color: #800000; font-weight: bold; background-color: #F2F2F2; text-align:center }
._TituloPagina  	{font-family: "Trebuchet MS", "Lucida Console", Arial, san-serif; font-weight: bold; font-size:12pt; color:#666666}
._TituloAplicacion   { font-size: 14pt; font-weight: bold; color:#996600 }


.CajasBLOQUEADAS { font-family: Verdana; font-size:10px; border: 1px solid; border-color:#666666; background-color:#9b9b9b; color:#595959}

.Cajas  	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#ff9900; background-color:#ffeda6; color:#000000}

.Cajaspes  	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#006699; background-color:#ffeda6; color:#000000}

.Cajas_granate_plomo2  	{ font-family: Verdana; font-size:12px; border: 1px solid; border-color:#cccccc; background-color:#ffffff; color:#990000; font-weight:bold; text-align:center}


.Cajas_medidas  	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#ff9900; background-color:#ffffff; color:#990000; font-weight:1000}

.Cajas_center  	{ font-family: Verdana; font-size:11px; border: 1px solid; border-color:#ff9900; background-color:#ffffff; color:#990000; font-weight:bold; text-align:center}


.Cajas_2  	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#ff9900; background-color:#ffffff; color:#000000}

.texttarea  	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#ff9900; background-color:#ffffff; color:#990000; height:60; width:220}



.CajasCELESTES	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#4ad2ff; background-color:#ffffff; color:#003366; text-align:center}

.CajasCELESTES2	{ font-family: Verdana; font-size:12px; border: 1px solid; border-color:#4ad2ff; background-color:#ffffff; color:#ff0000; font-weight:bold}

.CajassinBordes  	{ font-family: Verdana; height:15; font-size:10px; border: 1px solid; border-color:#ffffff; background-color:#ffffff;  color:#009900; font-weight:bold}

.CajassinBordes_COD  	{ font-family: Verdana; height:15; font-size:10px; border: 1px solid; border-color:#ffffff; background-color:#ffffff;  color:#000000}

.CajassinBordes_COD2  	{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; height:15; font-size:12px; border: 1px solid; border-color:#ffffff; background-color:#ffffff;  color:#999999}

.CajassinBordes_MOD  	{ font-family: Verdana; height:20; width:80; font-size:12px; border: 1px solid; border-color:#ffffff; background-color:#ffffff;  color:#990000; font-weight:bold; text-align:center; border-color:#dddddd}

.CajassinBordes_  	{ font-family: Verdana; height:15; font-size:10px; border: 1px solid; border-color:#ffffff; background-color:#ffffff; font-weight:bold}

.CajassinBordes_negro  	{ font-family: Verdana; height:15; font-size:12px; border: 1px solid; border-color:#000000; background-color:#000000;  color:#cccccc; font-weight:bold}

.CajassinBordes_2  	{ font-family: Verdana; height:15; font-size:10px; border: 1px solid; border-color:#ffffff; background-color:#ffffff}


.CajassinBordes_GRANDE { font-family: Verdana; height:40; font-size:9px; border: 1px solid; border-color:#ffffff; background-color:#ffffff;  color:#009900; font-weight:bold}


.CajassinBordes2  	{ font-family: Verdana; height:15; font-size:12px; border: 1px solid; border-color:#000000; background-color:#000000;  color:#ff0000; font-weight:bold; height:20}
.Cajasplomo  	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#cccccc; background-color:#ffffff; color:#333333}
.Cajasplomo2  	{ font-family: Verdana; font-size:11px; border: 1px solid; border-color:#cccccc; background-color:#ffffff; color:#333333; color:#990000; font-weight:bold}

.Cajasplomo_negro  	{ font-family: Verdana; font-size:12px; border: 1px solid; border-color:#cccccc; background-color:#000000; color:#ff9900; font-weight:bold; text-align:center}

.Cajasplomo_textarea  	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#cccccc; background-color:#000000; color:#ff9900; height:55; width:180}
.Cajasgrueso  	{ font-family: Verdana; font-size:10px; border: 3px solid; border-color:#ff6600; background-color:#ffffff; color:#000000}
.Cajasnegro  	{ font-family: Verdana; font-size:11px; border: 1px solid; border-color:#000000; background-color:#ffffff; color:#666666; font-weight:bold}
.CajasCOD  	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#ff9900; background-color:#000000; color:#ff9900; for}
.Cajas_sol  	{ font-family: Verdana; font-size:10px; border: 1px solid; border-color:#ff9900; background-color:#ffffff; color:#000000; width:400; height:60}
.Cajas2  	{ font-family: Verdana; font-size: 8.5pt;width:100%; background-color:#00669; border-bottom-color:#00FF00}
.cajas3      { font-size: 8pt; border: 1px solid #C0C0C0; width:60% }
.cajas3_1      { font-size: 11px; border: 1px solid #C0C0C0; color:#006699}
.cajas3_     { font-size: 6pt; border: 0px solid #C0C0C0; width:100%; font-family:Verdana, Arial, Helvetica, sans-serif; color:#FF9900; font-weight:bold}

.franja      { border-top:1px solid #808080; border-bottom:1px solid #808080; font-weight: bold; text-align: right; background-color:#DEE0C5; border-left:'0'}
.menusuperior         { border-bottom: 2px solid #808080; background-color: #ebe1bf; font-weight:bold}
.menuizquierdo         {border-right:1px solid #808080; background-color: #DEE0C5}

.bordeizqinf { border-left: 1px solid #808080; border-right-width: 1; border-top-width: 1; 
               border-bottom: 1px solid #808080 }
.bordederinf { border-left-width: 1; border-right: 1px solid #808080; border-top-width: 1; 
               border-bottom: 1px solid #808080 }               
.bordeinf    { border-left-width: 1; border-right-width: 1; border-top-width: 1; 
               border-bottom: 1px solid #808080 }
.bordeder    { border-left-width: 1; border-right: 1px solid #808080; border-top-width: 1; 
               border-bottom-width: 1 }
.contornotablaNegro { border: 1px solid #cccccc }
.bordesup    { border-left-width: 1; border-right-width: 1; border-top: 1px solid #808080; 
               border-bottom-width: 1 }
.bordeizq    { border-left: 1px solid #808080; border-right-width: 1; border-top-width: 1; 
               border-bottom-width: 1 }

.pestanaresaltada_1 { border-left:1px solid #808080; border-right:1px solid #808080; border-top:1px solid #808080; color: #395ACC; background-color: #FFFFFF; font-weight:bold; cursor:hand }
/*POR HUGO PARA WEB DE PROPUESTAS*/

.pestanabloqueada { border: 1px solid #808080; background-color: #E1F1FB ; cursor:hand}
.pestanaresaltada { border-left:1px solid #808080; border-right:1px solid #808080; border-top:1px solid #808080; color: #0000FF; background-color: #EEEEEE; font-weight:bold; cursor:hand }
.pestanarevez { border-left: 1px solid #808080; border-right: 1px solid #808080; 
               border-top-width: 1; border-bottom: 1px solid #808080 }

._sugerencia	{border:1px solid #C0C0C0; background:#FFFCBF url('../Images/atencion.gif') no-repeat;width:100%;height:25}
._LineaCelda {
	font-family: Verdana; font-size: 8.5pt;
	border-width: 0px;
}

._Boton  	{border:1px solid #C0C0C0; background:#FEFFE1; font-family:tahoma; font-size:8pt; font-weight:bold; height:25;cursorpointer; cursor:hand}

._FormatoCelda {
	border:1px solid #C0C0C0;  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:8pt; font-weight: normal; height:25;
	vertical-align: middle;
}

.imgGuardar {border:0px solid #C0C0C0; background: url('../Images/guardar.gif') no-repeat 0% 80%;font-family:Tahoma; font-size:8pt; font-weight:bold;cursor:hand}

.consultar {border:0px solid #C0C0C0; background: url('../Images/consultar.png');font-family:Tahoma; font-size:8pt; font-weight:bold;cursor:hand; width:104; height:28}

._Guardar  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/guardar.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
._Salir  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/salir.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
._Imprimir  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/imprimir.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
._Buscar  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/previo.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}

.imagen {cursor:hand}
F
._CabeceraCelda {
    COLOR: #2F4F4F;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    background-color: #FFF8DC;
    font-size: 12;
    text-align: center;
}


._Nuevo  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/nuevo.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
.ir 	{border:1px solid #006699; background:none url('../Images/Dibujo.JPG') no-repeat 0% 80%; font-family:Verdana; font-size:7pt; font-weight:bold; height:15; width:25; background:#CCCCCC; }
.guardar_ {border:1px solid #00ccff; background:#006699 no-repeat 0% 80%; font-family:verdana; font-size:7pt; font-weight:bold; height:20; width:100; color:#FFFFFF}

.guardar_volver {border:0px solid #00ccff; background:#005177 no-repeat 0% 80%; font-family:verdana; font-size:7pt; font-weight:bold;  color:#FF0000; cursor:pointer}

._Modificar  {border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/editar.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
.Modificar5  {border:1px solid #000000; background:#ff9900 url('../Images/editar.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:23; color:#FFFFFF; width:95}
._Eliminar  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/eliminar.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}

.eliminar_ped 	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/eliminar2.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}

/*para aplicación 2 sistema propuestas por Hugo S.*/
.buscar1  	{border:0px solid #c0c0c0; background:#f0f0f0 url('../Images/menus/buscar_small.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25; cursor:hand}
.nuevo1  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/nuevo_1.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.editar1  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/editar_1.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.modificar_1  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/modificar2.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.conforme1  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/conforme1.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.prioridad  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/prioridad.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.attach  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/attachfiles.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.attach_  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/attach_3.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.guardar_prp 	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/guardar_1.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}

.ver1  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/ver_1.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.ver2  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/ver_2.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.noconforme1  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/noconforme_1.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.enviarpropuesta  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/envio_prop.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.enviaryrecibir1  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/enviaryrecibir_1.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.nuevocomentario  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/nuevocomentario.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}
.respondercomentario  	{border:0px solid #C0C0C0; background:#f0f0f0 url('../Images/menus/respondercomentario.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:35; cursor:hand}

/*---------------------------------------------------*/

.excel  {border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/xls.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; height:25}
.word  {border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/doc.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; height:25}

.agregar3  	{border:0px; background:#EEEEEE url('../Images/anadir.gif') no-repeat 0% center; width:80;font-family:Tahoma; font-size:8pt; font-weight:bold; height:25;cursor:hand}
.siguiente  	{border:0px; background:#EEEEEE url('../Images/ok.gif') no-repeat 0% center; width:80;font-family:Tahoma; font-size:8pt; font-weight:bold; height:25;cursor:hand}
.cerrar3  	{border:0px; background:#EEEEEE url('../Images/salir.gif') no-repeat 0% center; width:80;font-family:Tahoma; font-size:8pt; font-weight:bold; height:25;cursor:hand}
.guardar3  	{border:0px; background:#EEEEEE url('../Images/guardar.gif') no-repeat 0% center;width:80;font-family:Tahoma; font-size:8pt; font-weight:bold; height:25;cursor:hand}
.modificar3 {border:0px; background:#EEEEEE url('../Images/editar.gif') no-repeat 0% center; width:80;font-family:Tahoma; font-size:8pt; font-weight:bold; height:25;cursor:hand}
.eliminar3 {border:0px; background:#EEEEEE url('../Images/eliminar.gif') no-repeat 0% center; width:80;font-family:Tahoma; font-size:8pt; font-weight:bold; height:25;cursor:hand}
.imprimir3 {border:0px; background:#EEEEEE url('../Images/imprimir.gif') no-repeat 0% center; width:80;font-family:Tahoma; font-size:8pt; font-weight:bold; height:25;cursor:hand}

.agregar4  	{border:0px; background:#EEEEEE url('../Images/anadir.gif') no-repeat 0% center; width:60;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.guardar4  	{border:0px; background:#EEEEEE url('../Images/guardar.gif') no-repeat 0% center;width:60;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.modificar4 {border:0px; background:#EEEEEE url('../Images/editar.gif') no-repeat 0% center; width:60;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.eliminar4 {border:0px; background:#EEEEEE url('../Images/eliminar.gif') no-repeat 0% center; width:60;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}

.agregar2  	{border:1px solid #666666; background:#FEFFE1 url('../Images/anadir.gif') no-repeat 0% center;width:80;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.modificar2 {border:1px solid #666666; background:#FEFFE1 url('../Images/editar.gif') no-repeat 0% center;width:80;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.eliminar2 {border:1px solid #666666; background:#FEFFE1 url('../Images/eliminar.gif') no-repeat 0% center;width:80;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.regresar2 {border:1px solid #666666; background:#FEFFE1 url('../Images/salir.gif') no-repeat 0% center;width:80;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.guardar2  	{border:1px solid #666666; background:#FEFFE1 url('../Images/guardar.gif') no-repeat 0% center;width:80;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.horario2  	{border:1px solid #666666; background:#FEFFE1 url('../Images/tabla.gif') no-repeat 0% center;width:90;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.imprimir2  	{border:1px solid #666666; background:#FEFFE1 url('../Images/imprimir.gif') no-repeat 0% center;width:90;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.marcado2  {border:1px solid #666666; background:#FEFFE1 url('../Images/menu6.gif') no-repeat 0% center;width:130;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.excel2 {border:1px solid #666666; background:#FEFFE1 url('../Images/xls.gif') no-repeat 0% center;width:80;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}
.word2 {border:1px solid #666666; background:#FEFFE1 url('../Images/doc.gif') no-repeat 0% center;width:80;font-family:Tahoma; font-size:8pt; height:20;cursor:hand}

._CeldaMenu {foreground: #FFFFFF; font-family: Arial; font-size: 8pt;}
._RefMenu {color: #556B2F; text-decoration: none;}
._Titulo {font-family: Arial; font-size: 12pt; font-weight: bold; color:  #1F5E70;}	
._MisTitulos {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 18pt; color:  #2C7D92;  font: normal bold; }	

/* Informacion del registro */
._InfReg {font-family: Arial; font-size: 10pt; font-weight: bold; color: #4A96AC; }

/* boton */
._Boton {
	border-width: 0;
	color: #FFFF66;
	text-decoration: none;
	cursor: hand;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #880000;

}

/* subtitulo */
._TablaSubTitulo {
	border: 0px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #800000;
}
._SubTitulo {font-family: Arial; font-size: 10pt; color:  #FFFFFF}	

/* campos */
._Etiq {font-family: Arial Narrow; font-size: 10pt }
._EtiqOblig {font-family: Arial Narrow; font-size: 10pt; font-weight: bold;  }
._EtiqEdicion {font-family: Arial Narrow; font-size: 10pt; color:  #2C7D92}
._Campo {font-family: Arial; font-size: 8pt }

._Criterio  {font-family: Arial Narrow; font-size: 10pt; color:  #2C7D92}
._Valor  {font-family: Arial Narrow; font-size: 10pt }
._Error {font-family: Arial Narrow; font-size: 10pt ; color:red }

/* tablas */
._CeldaTitulo {
	font-family: "Arial";
	font-size: 9pt;
	background: #26758C;
	color: #FFFFFF;
	height: 16pt;
	font-weight: bold
}

.etabla { color: Black; font-weight: bold; background-color: #DFDBA4; text-align:center }
}

._CeldaGris {font-family: Arial; font-size: 8pt ; background: Gainsboro;}

/*._Celda {font-family: Arial; font-size: 8pt; background: #F5FAD3;}*/
._Nro {font-family: Arial; font-size: 8pt; color: DarkGray; width: 1%;}
._CeldaTotal {font-family: Arial; font-size: 8pt; background: White; font-weight: bold;}
._LinkCelda  {font-family: Arial; font-size: 8pt; text-decoration: none; background: White; color: #2C7D92;}
._LinkCeldaGris  {font-family: Arial; font-size: 8pt; text-decoration: none; background: Gainsboro; color: #2C7D92;}
._CeldaTituloEst {font-family: Arial Narrow; font-size: 10pt ; background:Gainsboro ; 
	color: black; height: 16pt;}
._ErrorCelda {font-family: Arial; font-size: 8pt ; color:red }

/* links */
._LinkMenu  {font-family: Arial; font-size: 8pt; align: center; color: #2C7D92;}
._Link  {font-family: Arial; font-size: 10pt; text-decoration: none; color: #2C7D92;}
._RayaLink  {font-family: Verdana, Arial, ; font-size: 10pt; color: #2C7D92;}
._MailLink  {font-family: Arial; font-size: 8pt; text-decoration: none; color: #2C7D92;}

/* Texto en los frames superiores de Internet e Intranet*/
._Titulo_ {font-family: Arial; font-size: 12pt; font-weight: bold; color:  #000000;}

/*tr {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 6pt; color: #2f4f4f
	}*/

._TituloIcono {font-family: Arial; font-size: 8pt; color:  #000000;}
._TituloLogin {font-family: verdana; font-size: 16pt; color:  #993333;}
._Login {font-family: Arial; font-size: 10pt;}
._UnificarClaves {font-family: Arial Narrow; font-size: 8pt; color:  #000000;}
._CerrarSesion {font-family: Arial; font-size: 20pt; font-weight: bold; color:  #000000;}
._Exception {font-family: Arial; font-size: 12pt }
._MisComunicaciones {font-family: Arial; font-size: 10pt }

/* Mensajes estandares */
._Mensaje {font-family: Arial; font-size: 12pt }

/* Documentos */
._TituloNoticia {font-family: Arial ; font-size: 10pt;}
._SubTituloNoticia {font-family: Arial; font-size: 8pt; color: #4A96AC;}
._Noticia {font-family: Arial; font-size: 8pt; }
._NoticiaInf {font-family: Arial; font-size: 8pt; color:#CC0000; }
._VerNoticia {font-family: Arial ; font-size: 8pt; }
._TituloDoc {font-family: Arial, Helvetica, sans-serif ; font-size: 10pt; background: White; color: #4A96AC;}
._Dato {font-family: Arial, Helvetica, sans-serif ; font-size: 8pt;}
._DatoRes {font-family: Arial, Helvetica, sans-serif ; font-size: 8pt; color: #4A96AC;}

.piepagina   { font-size: 7pt }
/* manejo de tabs */
._TablaTituloTab {border: 0px;  width: 100%; }
._CeldaTabDesactivo {background: #4A96AC;  font-family: Arial Narrow; font-size: 10pt; color:  #FFFFFF;}
._CeldaTabActivo {font-family: Arial Narrow;  font-size: 10pt ; background: #2C7D92; color: #FFFFFF; font-weight:bold}
._RefTab {color: #556B2F; text-decoration: none;}

/* Hora _ */
._Hora {font-family: Arial; font-size: 25pt }

/* Nombre del usuario y fecha de ingreso al pasar el login*/
._NombreUsuario {font-family: Arial, Helvetica, sans-serif ; font-size: 10pt; color: #FFFFFF;}
._FechaIngreso {font-family: Verdana, Arial, Helvetica, sans-serif ; font-size: 7pt; color: #FFFFFF;}

/* Info y Tips */
._TablaInfo {background:#FFFFCC; border:1px solid #96965E; padding:5px;margin-top:12px;margin-botton:12px; color:#0000FF}
._Info {font-family: tahoma,sans-serif; font-size: 11px;}
._CeldaPPS {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #8A2106;
	background-color: #789DA6;
}

.text {
	font-family: "Trebuchet MS", "Lucida Console", Arial, san-serif;
	color: Black;font-size:8pt;
	font: normal;
}


.etiqueta    { font-weight: bold }
._CeldaMenuSubTitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #800000;
}
captionMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #800000;
}

._CeldaHeader {
	background-color: #1F5E70;
	color: #FFFF7C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;


}
._PPS {
	background-color: #789DA6;
	border-bottom: medium none White;
	font-size: 11pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	color: #FFFFFF; font-style:normal; font-variant:normal; font-weight:bold; font-family:Arial
	}
.boton  	{border:1px solid #C0C0C0; background:#FEFFE1; font-family:tahoma; font-size:8pt; font-weight:bold; height:25;cursorpointer; cursor:hand}
.guardar  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/guardar.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:7pt; font-weight:bold; height:20}

.guardar_pedido  	{border:1px solid #C0C0C0; background:#000000 url('../Images/guardar.jpg') no-repeat 0% 80%; width:50; font-family:Tahoma; font-size:7pt; font-weight:bold; height:65}

.ingresar  	{border:1px solid #ff6600;  background:#ffb13e url('../Images/guardar.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:7pt; font-weight:bold; height:20}
.ingresar2  	{border:1px solid #663366;  background:#cccccc url('../Images/guardar.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:7pt; font-weight:bold; height:20}
.ingresar3  	{border:1px solid #333333;  background:#cccccc url('../Images/guardar.gif') no-repeat 0% 80%; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; height:20}
.combo  	{border:1px solid #ff6600; border-color:#FF9900; background:#d9f7ff url('../Images/guardar.gif') no-repeat 0% 80%; width:200; font-family:verdana; font-size:7pt; font-weight:bold; height:20}

.combo3  	{border:1px solid #ff6600; border-color:#000000; background:#000000 url('../Images/guardar.gif') no-repeat 0% 80%; font-family:verdana; font-size:7pt; font-weight:bold; height:20; color:#cccccc}

.combo_negro_8  	{border:1px solid #ff6600; border-color:#000000; background:#000000 url('../Images/guardar.gif') no-repeat 0% 80%; font-family:verdana; font-size:8pt; font-weight:bold; height:20; color:#cccccc}

.combo4 	{border:1px solid #ff6600; border-color:#000000; background:#000000 url('../Images/guardar.gif') no-repeat 0% 80%; width:180; font-family:verdana; font-size:7pt; font-weight:bold; height:20; color:#ffcc00}


.combo2  	{border:1px solid #ff6600;  border-color:#FF9900; background:#d9f7ff  no-repeat 0% 80%; width:300; font-family:verdana; font-size:7pt; font-weight:bold; height:20}

.combonormal  	{border:1px solid #ff6600; border-color:#FF9900; background:#ffeda6 url('../Images/guardar.gif') no-repeat 0% 80%; font-family:verdana; font-size:7pt; font-weight:bold; height:20}
.salir  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/salir.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
.buscar  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/previo.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
._subtitulousuario { color: #000080; font-weight: bold }
._nuevo  	{border:1px solid #C0C0C0; background: #FEFFE1 url('../Images/anadir.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
.modificar  {border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/eliminar2.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}

.modificar_chevere  {border:1px solid #ffffff; background:#ffffff url('../Images/flecha_derecha.jpg') no-repeat 0% 80%; width:60; font-family:verdana; font-size:7pt; font-weight:bold; height:60}

.modificar_chevere2  {border:1px solid #cccccc; background:#ffffff url('../Images/reload.jpg') no-repeat 0% 80%; width:60; font-family:verdana; font-size:7pt; font-weight:bold; height:60; cursor:hand}

.modificar_chevere_buscar  {border:1px solid #ffffff; background:#ffffff url('../Images/buscar.jpg') no-repeat 0% 80%; width:60; font-family:verdana; font-size:7pt; font-weight:bold; height:60; text-align:center; cursor:hand}

.consultar_chevere  {border:1px solid #ffffff; background:#ffffff url('../Images/ckeck.png') no-repeat 0% 80%; width:60; font-family:verdana; font-size:7pt; font-weight:bold; height:60; text-align:center; cursor:hand}

.eliminar  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/eliminar.gif') no-repeat 0% 80%; width:100; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
.previo  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/previo.gif') no-repeat 0% 80%; font-family:Tahoma; font-size:8pt; font-weight:bold; height:25}
.aprobar  	{border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/ok.gif') no-repeat 0% 80%; width:15; font-family:Tahoma; font-size:6pt; font-weight:bold; height:15}
.desaprobar {border:1px solid #C0C0C0; background:#FEFFE1 url('../Images/eliminar.gif') no-repeat 0% 80%; width:15; font-family:Tahoma; font-size:6pt; font-weight:bold; height:15}
.azul		{ color: #0000FF; font-weight: bold }
.rojo       { color: #FF0000 } 
.cursoS	{color:#996633}
.cursoC	{color:#008080}
.cursoU	{color:#9900CC}
.cursoR	{color:#FF0000; text-decoration:line-through}
.cursoM	{color:#0000FF}

/*tablas para impresión*/
THEAD    { display: table-header-group }
TBODY    { display: table-row-group }
TFOOT    { display: table-footer-group }
COL      { display: table-column }
COLGROUP { display: table-column-group }
CAPTION  { display: table-caption }

#listadiv{
	position:relative;
	width:100%;top:0; left:0;
	overflow:auto;
	}
	
	