.td_formulario {
background-color:#E1E1E1; 
}

.td_formulario_reg {
background-color:#FFFFFF; 
}

.td_formulario_tit {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:#000066; 
	color:#FFFFFF;
	font-size: 11px;
	font-weight:bold;

}

.letra_datos_gen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5C5C5C;
}

.Cajasreg_combo{ 
	font-family: Verdana; 
	font-size:10px; 
	border: 1px solid; 
	border-color:#006699; 
	background-color:#d7f7ff; 
	color:#000000;
	}
.Cajasreg_numero{ 
	font-family: Verdana; 
	font-size:10px; 
	border: 1px solid; 
	border-color:#006699; 
	background-color:#d7f7ff; 
	text-align:right;
	width:80px;
	}
.Cajasreg_texto{ 
	font-family: Verdana; 
	font-size:10px; 
	border: 1px solid; 
	border-color:#006699; 
	background-color:#d7f7ff; 
	text-align:left;
	}

.Cajasreg_fecha{ 
	font-family: Verdana; 
	font-size:10px; 
	border: 1px solid; 
	border-color:#006699; 
	background-color:#d7f7ff; 
	text-align:center;
	width:80px;
	}
