.glossymenu{
margin: 2px 2px;
padding: 0;
width: 190px; /*width of menu*/
/*border: 1px solid #9A9A9A;*/
border-bottom-width: 0;
vertical-align:top;
}

.glossymenu a.menuitem{
background: black url(.././imagenes/glossyback3.gif) repeat-x bottom left;
/*font: bold 12px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;*/
/*font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;*/
font: Normal 12px Arial,Helvetica, sans-serif; /* "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;*/
color: black;
/*color: white;*/
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 4px 0;
padding-left: 10px;
padding-right:20px;
text-decoration: none;
text-align:right;
height:20px;
cursor: s-resize;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: black;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 5px;
right: 5px;
border: none;
}

.glossymenu a.menuitem:hover{
/*background-image: url(.././imagenes/glossyback2.gif);*/
background: #9CBACE;
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
background: #31698C;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
border-bottom: 1px solid; /*blue;*/
}

.glossymenu div.submenu ul li a{
display: block;
font: Normal 12px Arial,Helvetica, sans-serif; /* "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;*/
color: white;
/*font: normal 11px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: black;*/
text-decoration: none;
padding: 2px 0;
padding-left: 10px;
padding-right:20px;
text-align:right;
height:25px;
}

.glossymenu div.submenu ul li a:hover{

background: #5A96B5;
/*background: #DFDCCB;*/
colorz: white;
}
