@charset "utf-8";
/* MODULOS*/
body{ text-align:center;margin:0; background:#C8C8C7;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}
#std_cuerpo{ width: 400px; border:solid 10px #6d7986; border-bottom:; margin: 0px auto; text-align:left; background:#6d7986;}
#std_nav{ background:#EFDBE7;padding: 7px 0 46px 15px; position:relative;}
#std_nav_menu{background:#666666; width:323px; position:absolute; right:0; top:0; padding:0 15px 5px 15px;}
#std_nav_usuario{background:#666666; width:335px; position:absolute; left:0; bottom:0; padding:10px 15px 11px 17px; font:normal 11px Arial, Helvetica, sans-serif; color:#FFF; line-height:14px;}

#std_contenido{ background:#FFF; padding:7px;}
#std_contenido > div{ height:34px; }
