@charset "utf-8";
/* MODAL POPUP*/
#std_modal{ height:100%; width:100%; position:fixed; background-image:url("/sitradocV3/img/background-modal.png");display:none; left: 0;}
#std_procesando{ height:100%; width:100%; position:fixed; background-image:url("/sitradocV3/img/background-modal.png");display:none; left: 0; z-index:2;color:#FFF; margin:0 auto;}

#std_procesando div{top:50%; left:50%; margin-top:-50px; text-align:center; background:#111; width:100px; margin-left:-70px; position:absolute; height:60px; padding:20px; border-radius:10px; text-align:center;}

#std_popup{ width:960px; height:500px; position:fixed; left:50%; top:50%; margin-left:-490px; margin-top:-260px; background:#FFF; border:solid 10px #6D7987; border-radius:5px; font-family:Arial; display:none; padding:10px;}
/*.std_cerrar_popup{ font-size:10px; font-weight:bold; line-height:10px; color:#FFF; position:absolute; background:#DF001A; display:inline-block; width:12px; height:12px; padding:5px; text-align:center;  border-radius:0 5px 5px 0; right:-32px; top:0; cursor:pointer; border-left:none;}
.std_cerrar_popup:hover{ box-shadow:1px 1px 3px #000; width:13px; right:-33px;}*/

.std_cerrar_popup{ font-size:20px; font-weight:bold; line-height:20px; color:#6D7987; position:absolute; background:#FFF; display:inline-block; width:20px; height:20px; padding:5px; text-align:center;  border-radius:0 5px 5px 0; right:-30px; top:-30px; cursor:pointer; border-radius:100%; border:solid 10px #6D7987; z-index:1000;box-shadow:1px 1px 3px #000;}

.std_titulo_popup{ background:#666; color:#FFF; position:relative; top:-10px; left:-10px; padding:10px; font-weight:bold; width:960px;}
.popup_border{ border:solid 1px #D6D6D6;}
#std_mis_destinos, #std_mis_documentos{ }
#std_popup button{
 cursor:pointer;
 border:none;
 color:#FFF;
 background:#60B7E1;
 padding:5px;
 border-radius:6px;
 box-shadow: 0 1px 3px rgba(0,0,0,0.6);
 text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
}
#std_popup button:hover{background:#3DA1D1;}
#std_popup button:active{ position: relative;top:1px;}
#std_popup input,select,option{font-family:Arial; font-size: 10px; margin:1px 2px; color:#6D7987;}
/*TABLAS*/
/*table.str_tabla_lista tr{ border-bottom:solid 1px #D6D6D6;}*/
table.str_tabla_lista tr td, table.str_tabla_lista tr th{ border:solid 1px #D6D6D6;}
table.str_tabla_lista tr th{ background: #D6D6D6; padding:3px 0;}
.str_div_lista{ width:700px; height:300px; overflow:auto;}
.str_div_lista200{ width:100%;height:200px; overflow:auto;}
.stp_opt_tabla_lista{ background: #D6D6D6; text-align:right; padding:5px; border-bottom:solid 1px #999999;}
span.std_opt { background:#60B7E1/*DF001A*/; color:#FFF; padding:5px 10px; border-radius:5px; display:inline-block; cursor:pointer; box-shadow: 0 1px 3px rgba(0,0,0,0.6);text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
span.std_opt:hover{background:#3DA1D1;}
span.std_opt:active{position: relative;top:1px;}
span.std_det{ color:#00F; padding:5px 10px; border-radius:5px; display:inline-block;}
/*GENERAL*/
.std_oculto{ display:none;}
.std_inline_block{ display:inline-block;}
.limpiar{ clear:both;}
.right{ float: right;}
.left{ float: left;}
.border-left{ border-left:solid 1px #D6D6D6;}
.uppercase{text-transform:uppercase;}
.rojo{ color:#DF001A;}
.lila{ background:#EFDBE7;}
.center{ text-align:center;}
/*MENU NAV*/
#std_nav{ text-align:left; padding:0 10px 15px 10px; font-size:11px; color:#666;}
#std_nav a{ text-decoration:none; color:#3270aa;}
#std_nav a:hover{ color:#459CEC;}
#std_nav_menu{ width:190px;}
#std_nav_menu ul{ margin:0 5px 5px 5px; padding:0; background:#666666;}
#std_nav_menu ul li{text-align:left;border-bottom:solid 1px #D6B663;}
#std_nav_menu ul li a{ color:#FFF; text-decoration:none; padding:10px; display:inline-block; font-weight:bold; border-bottom:solid 1px #F1F1F1; display:block;border-top:solid 1px #F1F1F1; display:block;}
#std_nav_menu ul li a:hover{ color:#F8B91D;}
/*CUERPO*/
#std_cuerpoCambiarContra{  width:420px; min-height:100px; margin:10px auto; }
/*FORMULARIO*/
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.miform{
width:400px;
}

/* ----------- std_form ----------- */
.std_form{
text-align:left;background:#F1F1F1;border:dashed 1px #CCC; padding:29px 24px; color:#003366;
}

.std_form h1 {
    font-size: 20px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family:'Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
}
.std_form p{
font-size:11px;
color:#666666;
margin-bottom:5px;
}
.std_form label{
font-weight:bold;
width:150px;
display:inline-block;
}
.label{
font-weight:bold;
font-size:11px;
color:#666666;
}
.std_input{
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 10px 5px;
border-radius:5px;
}
.std_textarea1{
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:300px;
margin:2px 0 10px 5px;
border-radius:5px;
height:100px;
}
.std_textarea2{
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:300px;
margin:2px 0 10px 5px;
border-radius:5px;
height:50px;
}
.std_button{
 cursor:pointer;
 border:none;
 color:#FFF;
 background:#60B7E1;
 font-weight:bold;
 padding:5px;
 border-radius:6px;
 box-shadow: 0 1px 3px rgba(0,0,0,0.6);
 text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.std_select{
	font-size:12px;
	border:solid 1px #aacfe4;
	margin:2px 0 10px 5px;
	border-radius:5px;
}
.std_button:hover{background:#3DA1D1;}
.std_button:active{ position: relative;top:1px;}
.input{ width:340px;}

.std_grid tbody tr td{ padding:0 2px;}

/*--checkbox dentro de combo-*/
ul.combobox_check { display:inline-block;}
ul.combobox_check ul{ position:absolute; background:#FF0; border:solid 1px gray;}
ul.combobox_check, ul.combobox_check ul{
	margin:0;
	padding:0;
	width:465px;
}
ul.combobox_check li, ul.combobox_check ul li{
	margin:0;
	padding:0;
	list-style:none;
	cursor:pointer;
}
ul.combobox_check ul li{ padding:2px 4px; display:block;}
ul.combobox_check ul li:hover{background:#00F; color:#FFF;
}
ul.combobox_check li ul{ display:none;}
/*ul.combobox_check li:hover ul{ display:block;}*/
/*ul.combobox_check li ul li input[type=checkbox]{ position:absolute; right:0; border:solid 5px #009966; margin:0;}*/

ul.combobox_check > li span{ width:433px; display:inline-block;}
ul.combobox_check li button{ font-size:10px; position:relative; right:-15px; margin:0; width:18px; padding:0; 
	font-weight:bold;}
ul.combobox_check ul{ max-height:300px; overflow:auto;}

.popup_trans{width:100%; height:100%; position:fixed; display:none;}


ul.combo_check {
  margin: 0;
  border: solid 1px gray;
  padding: 0;
  width: 465px; /*For KHTML*/
  list-style: none;
  float:left;
}

ul.combo_check li{
  margin: 0;
  border: 0 none;
  display: inline;
  list-style: none;
  position: relative;
  width:465px;
  display:block;

}

ul.combo_check ul {
  margin: 0 0 0 -1px;
  border: solid 1px gray;

  width: 465px;
  list-style: none;
  display: none;
  position: absolute;
  left: 0;
  max-height:300px;
  overflow:auto;
  background:#FFFFCC;
}

ul.combo_check ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul.combo_check ul li {
	padding:0;
	width:auto;
	height: auto;
	float: none; /*For IE 7 lack of compliance*/
	display: block !important;
	display: inline; /*For IE*/
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul.combo_check li button{  float:right; 
	font-weight:bold;}
ul.combo_check > li span{ width:433px; padding:3px 0; display:block;}
.border_gray{ border:solid 1px gray;}

.menu_h{
	display:table;
	margin:0 auto;
	background:#E5E5E5;
	color:#FFF;
	width:100%;
	text-align:center;
	font-weight:bold;
}
.menu_h ul li{ float:left; padding:5px;
}
.menu_h ul li a{ text-decoration:none; padding:10px 15px; display:block; margin:0 5px;}
a.menu_hs{text-decoration:none; background:#ccc; border-radius:5px; color:#111; }
.menu_h ul li a:hover{ text-decoration:none; background:#ccc; border-radius:5px; color:#111; }
.std_grilla{font-family: Arial;
font-size: 10px;
color: #6D7987;
width:100%;
}
.std_grilla tr td{ border:solid 1px #999; padding:0; margin:0;}
.std_grilla tr th{ background:#CCC; padding:10px;border:solid 1px #999;}
.std_grilla tr td img, .std_grilla tr th img{ border:none; padding:0; margin:0;}
.std_grilla tr td input[type=text], .std_grilla tr td select{font-family: Arial;
font-size: 10px;
margin:0;
color: #6D7987;
    width: 100%;
	display:block;
	padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border:0;
	display:inline-block;
}
.form{
background: #F1F1F1;
margin: 10px auto;
border: dashed 1px #CCC;
padding: 15px 10px;
color: #003366;}
select.ipseln, select.iptxtn{padding: 4px 2px;font-size:12px;border: solid 1px #aacfe4; margin: 2px 0 10px 5px;border-radius: 5px; background:#FFF;color:#6D7987; text-transform:uppercase;}
textarea.iptxtn{font-size: 12px; font-size:11px;padding: 4px 2px;
border: solid 1px #aacfe4;
margin: 2px 0 10px 5px;
border-radius: 5px;
height: 50px; background:#FFF;color:#6D7987;text-transform:uppercase;}
input.iptxtn{
color:#6D7987;
background:#FFF;
font-size: 12px;
padding: 4px 2px;
border: solid 1px #aacfe4;
margin: 2px 0 10px 5px;
border-radius: 5px;text-transform:uppercase;}
table{ border:none;}
/*ICONOS*/
.icono{ background:url(../js/plugins/jquery-ui-1.8.6/themes/base/images/ui-icons_2e83ff_256x240.png); display:inline-block; width:16px; height:16px;}
.herramientas{ background-position:80px 124px;}
/*/*/

#iframe_regper html{ display:none;}