<table>
    	<tr>
        	<td colspan="2" rowspan="2"><img src="http://{php}echo $_SERVER['SERVER_NAME'];{/php}/images/0/0/logo.gif" width="272" height="30"></td>
        </tr>
    </table>
	<table border="1">
                    <tr>
                      <th bgcolor="#CCCCCC">N&deg; DE ADJUNTO</th>
                      <th bgcolor="#CCCCCC">FECHA DE ADJUNTO</th>
                      <th bgcolor="#CCCCCC">REMITENTE</th>
                      <th bgcolor="#CCCCCC">ASUNTO</th>
                      <th bgcolor="#CCCCCC">TIPO DE DOCUMENTO</th>
                    <th bgcolor="#CCCCCC">N&deg; DE DOCUMENTO</th>
                    <th bgcolor="#CCCCCC">FOLIO</th>
                    <th bgcolor="#CCCCCC">UNIDAD DESTINO</th>
                    <th bgcolor="#CCCCCC">UNIDAD ORIGEN</th>
                    </tr>
                        {section name='i' loop=$list}
                      <tr> 
    <td>{$list[i].numAdj}</td>
    <td>{$list[i].fecha}</td>
    <td>{$list[i].remitente}</td>
    <td>{$list[i].asunto}</td>
    <td>{$list[i].tipDoc}</td>
    <td>{$list[i].ndocumento}</td>
    <td>{$list[i].folios}</td>
    <td>{$list[i].destino}</td>
    <td>{$list[i].origen}</td>
                      </tr>
                        {/section}
    </table>