/*  Estilos de Tabla */

.JER_bordeTabla{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.JER_filaTitulo{
	width: auto;
	height: auto;
	background: #0066CC;
	border-collapse: collapse;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
}

.JER_filaTitulo td{
	border: solid 1px #0066CC;
	border-collapse: collapse;
	padding: 5px;
}

.JER_filaContenido{
	width: auto;
	height: auto;
	background: #ffffff;
	border-collapse: collapse;
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #000000;
}

.JER_filaContenido td{
	border: solid 1px #0066CC;
	border-collapse: collapse;
	padding: 5px;
}




/*********************/


/* Estilos Contenido */

hr{
	height: 1px;
	border: 0;
	padding: 0;
	line-height: 0px;
	color: #0c5ea4;
	background-color: #0c5ea4;
	width: 100%;
	overflow: hidden;
}

.JERF_titulo1{
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #de7801;
	margin: 0px 0px 0px 0px;
}

.JERF_titulo1 a:link  {
	color: #de7801;
	text-decoration: none;
}

.JERF_titulo1 a:visited  {
	color: #de7801;
	text-decoration: none;
}

.JERF_titulo1 a:hover  {
	color: #de7801;
	text-decoration: underline;
}

.JERF_titulo1 a:active  {
	color: #de7801;
	text-decoration: none;
}


.JERF_texto1{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #030303;
}

.JERF_texto1 a:link{
	color: #030303;
	text-decoration: underline;
}

.JERF_texto1 a:visited{
	color:#030303;
	text-decoration: underline;
}

.JERF_texto1 a:hover{
	color:#030303;
	text-decoration: none;
}

.JERF_texto1 a:active{
	color:#030303;
	text-decoration: underline;
}



.JERF_subtitulo1{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #2e2e2e;
}

.JERF_subtitulo1 a:link  {
	color: #2e2e2e;
	text-decoration: none;
}

.JERF_subtitulo1 a:visited  {
	color: #2e2e2e;
	text-decoration: none;
}

.JERF_subtitulo1 a:hover  {
	color: #2e2e2e;
	text-decoration: underline;
}

.JERF_subtitulo1 a:active  {
	color: #2e2e2e;
	text-decoration: none;
}



.JERF_subtitulo2{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #ff5400;
}

.JERF_subtitulo2 a:link  {
	color: #ff5400;
	text-decoration: none;
}

.JERF_subtitulo2 a:visited  {
	color: #ff5400;
	text-decoration: none;
}

.JERF_subtitulo2 a:hover  {
	color: #ff5400;
	text-decoration: underline;
}

.JERF_subtitulo2 a:active  {
	color: #ff5400;
	text-decoration: none;
}


.JERF_vineta1{
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 0px 0px 0px 10px;
	margin: 2px 0px 6px 0px;
	display: block;
	background: #ffffff url(../images/web/menu_vineta_2.gif) no-repeat 0px 4px;
}


.JERF_vineta1 a:link{
	color: #de7801;
	text-decoration: underline;
}

.JERF_vineta1 a:visited{
	color: #de7801;
	text-decoration: underline;
}

.JERF_vineta1 a:hover{
	color: #de7801;
	text-decoration: none;
}

.JERF_vineta1 a:active{
	color: #de7801;
	text-decoration: underline;
}


.JERF_imagenIzquierda{
	margin: 0px 10px 10px 0px;
	padding: 0px;
	border-collapse: collapse;
	border: solid 1px #333333;
	float: left;
	display: inline;
}

.JERF_imagenIzquierda td{
	padding: 2px;
}

.JERF_imagenDerecha{
	margin: 0px 0px 10px 10px;
	padding: 0px;
	border-collapse: collapse;
	border: solid 1px #333333;
	float: right;
	display: inline;
}

.JERF_imagenDerecha td{
	padding: 2px;
}

.JERF_imagenNormal{
	margin: 10px 0px 10px 0px;
	padding: 0px;
	border-collapse: collapse;
	border: solid 1px #333333;
	float: none;
}

.JERF_imagenNormal td{
	padding: 2px;
}


/* Estilos traidos de WEB */

.WEB_CONTE_fondoTitulo1{
	width: 592px;
	height: 15px;
	background: url(../images/web/fondo_titulo_interno1.gif) no-repeat;
	overflow: hidden;
}

.WEB_CONTE_fondoTitulo2{
	width: 532px;
	height: auto;
	background: url(../images/web/fondo_titulo_interno5.gif) repeat-y;
	padding:3px 30px 10px 30px;
}



