.PER_PersonasGrupo{
	width: auto;
	height: auto;
}

.PER_ContenedorPersonas{
	width: 534px;
	height: auto;
	margin:20px auto;
}
.PER_ContenedorTitulo{
	width: 534px;
	height: 20px;
	margin-bottom: 3px;
}

.PER_TituloFondo{
	width: 95px;
	height: 20px;
	float: left;
	background-color: #90133B;
}

.PER_TituloFondoPlomo{
	width: 432px;
	float: right;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 7px;
	background-color: #DFDFDF;

}

.PER_TituloFondoPlomo p{
	font-size: 14px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	color: #464646;
	margin: 0px;
}
	
.PER_PersonasFoto{
	width: auto;
	height: auto;
	float: left;
	padding-left: 0px;
	padding-right: 7px;
}

.PER_PersonasContenido{
	width: 430px;
	height: auto;
	float: right;
}

.PER_Paginacion{
	width: auto;
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#252525;
	letter-spacing: -0.5px;
	margin-left: 6px;
}

html>body .PER_Paginacion{
	width: auto;
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#252525;
	letter-spacing: 0px;
	margin-left: 6px;
}

.PER_Paginacion a:link{
	color:#252525;
	text-decoration: underline;
}

.PER_Paginacion a:visited{
	color:#252525;
	text-decoration: underline;
}

.PER_Paginacion a:hover{
	color:#252525;
	text-decoration: none;
}

.PER_Paginacion a:active{
	color:#252525;
	text-decoration: underline;
}

.PER_Paginacion span{
	color:#A81D48;
	letter-spacing: -0.5px;
}	

.PER_PaginacionActivo{
	font:bold 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
/*	color:Black !important ;*/
	color:#a81d48 !important;
	text-decoration: underline;
/*	letter-spacing: -0.5px;*/
}

.PER_PaginacionInactivo{
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#DFDFDF !important ;
	text-decoration: none !important ;
/*	letter-spacing: -0.5px;*/
}


.PER_TextoNegrita{
	width: 534px;
	font:bold 12px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	margin-left: 6px;
	margin-bottom: 20px;
}