.TES_TestimoniosGrupo{
	width: auto;
	height: auto;
}

.TES_ContenedorTestimonios{
	width: 534px;
	height: auto;
	margin:20px auto;
}
.TES_ContenedorTitulo{
	width: 534px;
	height: 20px;
	margin-bottom: 3px;
}

.TES_TituloFondo{
	width: 95px;
	height: 20px;
	float: left;
	background-color: #90133B;
}

.TES_TituloFondoPlomo{
	width: 432px;
	float: right;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 7px;
	background-color: #DFDFDF;

}

.TES_TituloFondoPlomo p{
	font-size: 14px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	color: #464646;
	margin: 0px;
}
	
.TES_PersonasFoto{
	width: auto;
	height: auto;
	float: left;
	padding-left: 0px;
	padding-right: 7px;
}

.TES_PersonasContenido{
	width: 430px;
	height: auto;
	float: right;
}

.TES_Paginacion{
	width: auto;
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#BB083A;
	letter-spacing: -0.5px;
	margin-left: 6px;
}

html>body .TES_Paginacion{
	width: auto;
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#BB083A;
	letter-spacing: 0px;
	margin-left: 6px;
}

.TES_Paginacion a:link{
	color:#252525;
	text-decoration: none;
}

.TES_Paginacion a:visited{
	color:#252525;
	text-decoration: none;
}

.TES_Paginacion a:hover{
	color:#252525;
	text-decoration: underline;
}

.TES_Paginacion a:active{
	color:#252525;
	text-decoration: none;
}

.TES_Paginacion span{
	color:#252525;
	letter-spacing: -0.5px;
}	

.TES_PaginacionActivo{
	font:bold 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:Black !important ;
	text-decoration: underline;
/*	letter-spacing: -0.5px;*/
}

.TES_PaginacionInactivo{
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#DFDFDF !important ;
/*	letter-spacing: -0.5px;*/
}


.TES_TextoNegrita{
	width: 534px;
	font:bold 12px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	margin-left: 6px;
	margin-bottom: 20px;
}