/* Menu */

.MEN_linea{
	width: auto;
	height: 1px;
	background: none;
}

.MEN_linea hr{
	display: none;
}


.MEN_nivel_0_ACTIVO{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 4px 15px 4px 18px;
	width: auto;
	height: auto;
	color: #ffffff;
	background: #004B86 url(../images/web/menu_vineta_1.gif) no-repeat 9px 8px;
	cursor: n-resize;
	position: relative;
	z-index: 0;
}

.MEN_nivel_0_ACTIVO a:link{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_ACTIVO a:visited{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_ACTIVO a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.MEN_nivel_0_ACTIVO a:active{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OUT{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 4px 15px 4px 18px;
	width: auto;
	height: auto;
	color: #000000;
	background: #ffffff url(../images/web/menu_vineta_2.gif) no-repeat 8px 9px;
	cursor: s-resize;
	position: static;
	z-index: 0;
}

.MEN_nivel_0_OUT a:link{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_0_OUT a:visited{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_0_OUT a:hover{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_0_OUT a:active{
	text-decoration: none;
	color: #000000;
}



.MEN_nivel_0_OVER{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 4px 15px 4px 18px;
	width: auto;
	height: auto;
	color: #ffffff;
	background: #004B86 url(../images/web/menu_vineta_3.gif) no-repeat 8px 9px;
	cursor: s-resize;
	position: relative;
	z-index: 0;
}

.MEN_nivel_0_OVER a:link{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OVER a:visited{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OVER a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.MEN_nivel_0_OVER a:active{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OUT2{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 4px 15px 4px 18px;
	width: auto;
	height: auto;
	color: #000000;
	background: #ffffff url(../images/web/menu_vineta_2.gif) no-repeat 8px 9px;
	cursor: pointer;
	position: static;
	z-index: 0;
}

.MEN_nivel_0_OUT2 a:link{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_0_OUT2 a:visited{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_0_OUT2 a:hover{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_0_OUT2 a:active{
	text-decoration: none;
	color: #000000;
}


.MEN_nivel_0_OVER2{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 4px 15px 4px 18px;
	width: auto;
	height: auto;
	color: #ffffff;
	background: #004B86 url(../images/web/menu_vineta_3.gif) no-repeat 8px 9px;
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.MEN_nivel_0_OVER2 a:link{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OVER2 a:visited{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OVER2 a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.MEN_nivel_0_OVER2 a:active{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_1_ACTIVO{
	font: normal 11px/11px Arial, Helvetica, sans-serif;
	padding: 3px 25px 3px 18px;
	width: auto;
	height: auto;
	color: #000000;
	background: #4078A4 url(../images/web/menu_vineta_X.gif) no-repeat 3px 8px;
	cursor: n-resize;
	position: relative;
	z-index: 0;
}

.MEN_nivel_1_ACTIVO a:link{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_1_ACTIVO a:visited{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_1_ACTIVO a:hover{
	text-decoration: underline;
	color: #000000;
}

.MEN_nivel_1_ACTIVO a:active{
	text-decoration: none;
	color: #000000;
}


.MEN_nivel_1_OVER{
	font: normal 11px/11px Arial, Helvetica, sans-serif;
	padding: 3px 25px 3px 18px;
	width: auto;
	height: auto;
	color: #000000;
	background: #4078A4 url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	cursor: s-resize;
	position: relative;
	border-bottom: solid 1px #739CBD;
	z-index: 0;
}

.MEN_nivel_1_OVER a:link{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_1_OVER a:visited{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_1_OVER a:hover{
	text-decoration: underline;
	color: #000000;
}

.MEN_nivel_1_OVER a:active{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_1_OUT{
	font: normal 11px/11px Arial, Helvetica, sans-serif;
	padding: 3px 25px 3px 18px;
	width: auto;
	height: auto;
	color: white;
	background: #4078A4 url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	cursor: s-resize;
	position: static;
	border-bottom: solid 1px #739CBD;
	z-index: 0;
}

.MEN_nivel_1_OUT a:link{
	text-decoration: none;
	color: white;
}

.MEN_nivel_1_OUT a:visited{
	text-decoration: none;
	color: white;
}


.MEN_nivel_1_OUT a:hover{
	text-decoration: underline;
	color: white;
}


.MEN_nivel_1_OUT a:active{
	text-decoration: none;
	color: white;
}


.MEN_nivel_1_OVER2{
	font: normal 11px/11px Arial, Helvetica, sans-serif;
	padding: 3px 25px 3px 18px;
	width: auto;
	height: auto;
	color: #000000;
	background:#4078A4;
	cursor: pointer;
	position: relative;
	border-bottom: solid 1px #739CBD;
	z-index: 0;
}

.MEN_nivel_1_OVER2 a:link{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_1_OVER2 a:visited{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_1_OVER2 a:hover{
	text-decoration: underline;
	color: #000000;
}

.MEN_nivel_1_OVER2 a:active{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_1_OUT2{
	font: normal 11px/11px Arial, Helvetica, sans-serif;
	padding: 3px 25px 3px 18px;
	width: auto;
	height: auto;
	color: white;
	background:#4078A4;
	cursor: pointer;
	position: static;
	border-bottom: solid 1px #739CBD;
	z-index: 0;
}

.MEN_nivel_1_OUT2 a:link{
	text-decoration: none;
	color: white;
}

.MEN_nivel_1_OUT2 a:visited{
	text-decoration: none;
	color: white;
}


.MEN_nivel_1_OUT2 a:hover{
	text-decoration: underline;
	color: white;
}


.MEN_nivel_1_OUT2 a:active{
	text-decoration: none;
	color: white;
}



.MEN_nivel_2_ACTIVO{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 30px 3px 22px;
	width: auto;
	height: auto;
	color: #013157;
	cursor: n-resize;
	background: #739CBD url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_2_ACTIVO a:link{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_2_ACTIVO a:visited{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_2_ACTIVO a:hover{
	text-decoration: underline;
	color: #013157;
}

.MEN_nivel_2_ACTIVO a:active{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_2_OUT{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 30px 3px 22px;
	width: auto;
	height: auto;
	color: white;
	cursor: s-resize;
	background: #739CBD url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	position: static;
	border-bottom: solid 1px #B9CEDE;
	z-index: 0;
}

.MEN_nivel_2_OUT a:link{
	text-decoration: none;
	color: white;
}

.MEN_nivel_2_OUT a:visited{
	text-decoration: none;
	color: white;
}

.MEN_nivel_2_OUT a:hover{
	text-decoration: underline;
	color: white;
}

.MEN_nivel_2_OUT a:active{
	text-decoration: none;
	color: white;
}

.MEN_nivel_2_OVER{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 30px 3px 22px;
	width: auto;
	height: auto;
	color: #013157;
	cursor: s-resize; 
	background: #739CBD url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	position: relative;
	border-bottom: solid 1px #B9CEDE;
	z-index: 0;
}

.MEN_nivel_2_OVER a:link{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_2_OVER a:visited{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_2_OVER a:hover{
	text-decoration: underline;
	color: #013157;
}

.MEN_nivel_2_OVER a:active{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_2_OUT2{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 30px 3px 22px;
	width: auto;
	height: auto;
	color: white;
	background: #739CBD;
	cursor: pointer;
	position: relative;
	border-bottom: solid 1px #B9CEDE;
	z-index: 0;
}

.MEN_nivel_2_OUT2 a:link{
	text-decoration: none;
	color: white;
}

.MEN_nivel_2_OUT2 a:visited{
	text-decoration: none;
	color: white;
}

.MEN_nivel_2_OUT2 a:hover{
	text-decoration: underline;
	color: white;
}

.MEN_nivel_2_OUT2 a:active{
	text-decoration: none;
	color: white;
}


.MEN_nivel_2_OVER2{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 30px 3px 22px;
	width: auto;
	height: auto;
	color: #013157;
	background: #739CBD;
	cursor: pointer;
	position: relative;
	border-bottom: solid 1px #B9CEDE;
	z-index: 0;
}

.MEN_nivel_2_OVER2 a:link{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_2_OVER2 a:visited{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_2_OVER2 a:hover{
	text-decoration: underline;
	color: #013157;
}

.MEN_nivel_2_OVER2 a:active{
	text-decoration: none;
	color: #013157;
}



.MEN_nivel_3_ACTIVO{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 26px;
	width: auto;
	height: auto;
	color: #013157;
	cursor: n-resize;
	background: #B8CDDE url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_3_ACTIVO a:link{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_3_ACTIVO a:visited{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_3_ACTIVO a:hover{
	text-decoration: underline;
	color: #013157;
}

.MEN_nivel_3_ACTIVO a:active{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_3_OUT{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 26px;
	width: auto;
	height: auto;
	color: #4078a4;
	cursor: s-resize;
	background: #B8CDDE url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	position: relative;
	border-bottom: solid 1px #E8EFF4;
	z-index: 0;
}

.MEN_nivel_3_OUT a:link{
	text-decoration: none;
	color: #4078a4;
}

.MEN_nivel_3_OUT a:visited{
	text-decoration: none;
	color: #4078a4;
}

.MEN_nivel_3_OUT a:hover{
	text-decoration: underline;
	color: #4078a4;
}

.MEN_nivel_3_OUT a:active{
	text-decoration: none;
	color: #4078a4;
}

.MEN_nivel_3_OVER{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 26px;
	width: auto;
	height: auto;
	color: #013157;
	cursor: s-resize;
	background: #B8CDDE url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	position: relative;
	border-bottom: solid 1px #E8EFF4;
	z-index: 0;
}

.MEN_nivel_3_OVER a:link{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_3_OVER a:visited{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_3_OVER a:hover{
	text-decoration: underline;
	color: #013157;
}

.MEN_nivel_3_OVER a:active{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_3_OUT2{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 26px;
	width: auto;
	height: auto;
	color: #4078a4;
	cursor: pointer;
	background: #B8CDDE;
	position: relative;
	border-bottom: solid 1px #E8EFF4;
	z-index: 0;
}

.MEN_nivel_3_OUT2 a:link{
	text-decoration: none;
	color: #4078a4;
}

.MEN_nivel_3_OUT2 a:visited{
	text-decoration: none;
	color: #4078a4;
}

.MEN_nivel_3_OUT2 a:hover{
	text-decoration: underline;
	color: #4078a4;
}

.MEN_nivel_3_OUT2 a:active{
	text-decoration: none;
	color: #4078a4;
}

.MEN_nivel_3_OVER2{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 26px;
	width: auto;
	height: auto;
	color: #013157;
	background: #B8CDDE;
	cursor: pointer;
	position: relative;
	border-bottom: solid 1px #E8EFF4;
	z-index: 0;
}

.MEN_nivel_3_OVER2 a:link{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_3_OVER2 a:visited{
	text-decoration: none;
	color: #013157;
}

.MEN_nivel_3_OVER2 a:hover{
	text-decoration: underline;
	color: #013157;
}

.MEN_nivel_3_OVER2 a:active{
	text-decoration: none;
	color: #013157;
}


.MEN_nivel_4_ACTIVO{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 30px;
	width: auto;
	height: auto;
	color: #000000;
	cursor: n-resize;
	background: #EAF1F5 url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	position: relative;	
	z-index: 0;
}

.MEN_nivel_4_ACTIVO a:link{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_4_ACTIVO a:visited{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_4_ACTIVO a:hover{
	text-decoration: underline;
	color: #000000;
}

.MEN_nivel_4_ACTIVO a:active{
	text-decoration: none;
	color: #000000;
}

.MEN_nivel_4_OUT{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 30px;
	width: auto;
	height: auto;
	color: #4078A4;
	cursor: s-resize;
	background: #EAF1F5 url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	position: relative;
	border-bottom: solid 1px #ffffff;	
	z-index: 0;
}

.MEN_nivel_4_OUT a:link{
	text-decoration: none;
	color: #4078A4;
}

.MEN_nivel_4_OUT a:visited{
	text-decoration: none;
	color: #4078A4;
}

.MEN_nivel_4_OUT a:hover{
	text-decoration: underline;
	color: #4078A4;
}

.MEN_nivel_4_OUT a:active{
	text-decoration: none;
	color: #4078A4;
}

.MEN_nivel_4_OVER{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 30px;
	width: auto;
	height: auto;
	color: #000000;
	cursor: s-resize;
	background: #EAF1F5 url(../images/web/menu_vineta_X.gif) no-repeat 4px 6px;
	position: relative;
	border-bottom: solid 1px #ffffff;	
	z-index: 0;
}

.MEN_nivel_4_OVER a:link{
	text-decoration: none;	
	color: #000000;
}

.MEN_nivel_4_OVER a:visited{
	text-decoration: none;	
	color: #000000;
}

.MEN_nivel_4_OVER a:hover{
	text-decoration: underline;	
	color: #000000;
}

.MEN_nivel_4_OVER a:active{
	text-decoration: none;	
	color: #000000;
}


.MEN_nivel_4_OUT2{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 30px;
	width: auto;
	height: auto;
	color: #4078A4;
	background: #EAF1F5;
	cursor: pointer;
	position: relative;
	border-bottom: solid 1px #ffffff;	
	z-index: 0;
}

.MEN_nivel_4_OUT2 a:link{
	text-decoration: none;
	color: #4078A4;
}

.MEN_nivel_4_OUT2 a:visited{
	text-decoration: none;
	color: #4078A4;
}

.MEN_nivel_4_OUT2 a:hover{
	text-decoration: underline;
	color: #4078A4;
}

.MEN_nivel_4_OUT2 a:active{
	text-decoration: none;
	color: #4078A4;
}

.MEN_nivel_4_OVER2{
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	padding: 3px 20px 3px 30px;
	width: auto;
	height: auto;
	color: #000000;
	background: #EAF1F5;
	cursor: pointer;
	position: relative;
	border-bottom: solid 1px #ffffff;	
	z-index: 0;
}

.MEN_nivel_4_OVER2 a:link{
	text-decoration: none;	
	color: #000000;
}

.MEN_nivel_4_OVER2 a:visited{
	text-decoration: none;	
	color: #000000;
}

.MEN_nivel_4_OVER2 a:hover{
	text-decoration: underline;	
	color: #000000;
}

.MEN_nivel_4_OVER2 a:active{
	text-decoration: none;	
	color: #000000;
}


.MEN_nivel_5_ACTIVO{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 34px;
	width: auto;
	height: auto;
	color: #666666;
	cursor: n-resize;
	background: #D8D8D8 url(../images/web/menu_vineta_1.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_5_ACTIVO a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_ACTIVO a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_ACTIVO a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_5_ACTIVO a:active{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 34px;
	width: auto;
	height: auto;
	color: #666666;
	cursor: s-resize;
	background: #D8D8D8 url(../images/web/menu_vineta_2.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_5_OUT a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT a:hover{
	text-decoration: underline;
	color: #666666;
}


.MEN_nivel_5_OUT a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_5_OVER{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 34px;
	width: auto;
	height: auto;
	color: #666666;
	cursor: s-resize;
	background: #D8D8D8 url(../images/web/menu_vineta_2.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_5_OVER a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_5_OVER a:active{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 34px;
	width: auto;
	height: auto;
	color: #666666;
	cursor: pointer;
	background: #F5F5F5;
	position: relative;
	z-index: 0;
}

.MEN_nivel_5_OUT2 a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT2 a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT2 a:hover{
	text-decoration: underline;
	color: #666666;
}


.MEN_nivel_5_OUT2 a:active{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 34px;
	width: auto;
	height: auto;
	color: #666666;
	cursor: pointer;
	background: White;
	position: relative;
	z-index: 0;
}

.MEN_nivel_5_OVER2 a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER2 a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER2 a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_5_OVER2 a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_6_ACTIVO{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 38px;
	width: auto;
	height: auto;
	color: #A80144;
	cursor: n-resize;
	background: #D8D8D8 url(../images/web/menu_vineta_1.gif) no-repeat 4px 6px;
	position: relative;	
	z-index: 0;
}

.MEN_nivel_6_ACTIVO a:link{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_ACTIVO a:visited{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_ACTIVO a:hover{
	text-decoration: underline;
	color: #A80144;
}

.MEN_nivel_6_ACTIVO a:active{
	text-decoration: none;
	color: #A80144;
}


.MEN_nivel_6_OUT{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 38px;
	width: auto;
	height: auto;
	color: #666666;
	cursor: s-resize;
	background: #D8D8D8 url(../images/web/menu_vineta_2.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_6_OUT a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OUT a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OUT a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_6_OUT a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_6_OVER{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 38px;
	width: auto;
	height: auto;
	color: #A80144;
	cursor: s-resize;
	background: #D8D8D8 url(../images/web/menu_vineta_2.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_6_OVER a:link{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_OVER a:visited{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_OVER a:hover{
	text-decoration: underline;
	color: #A80144;
}

.MEN_nivel_6_OVER a:active{
	text-decoration: none;
	color: #A80144;
}


.MEN_nivel_6_OUT2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 38px;
	width: auto;
	height: auto;
	color: #666666;
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.MEN_nivel_6_OUT2 a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OUT2 a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OUT2 a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_6_OUT2 a:active{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OVER2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 38px;
	width: auto;
	height: auto;
	color: #A80144;
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.MEN_nivel_6_OVER2 a:link{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_OVER2 a:visited{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_OVER2 a:hover{
	text-decoration: underline;
	color: #A80144;
}

.MEN_nivel_6_OVER2 a:active{
	text-decoration: none;
	color: #A80144;
}



.MEN_nivel_7_ACTIVO{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 20px 1px 42px;
	width: auto;
	height: auto;
	color: #A80144;
	cursor: n-resize;
	background: #D8D8D8 url(../images/web/menu_vineta_1.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_7_ACTIVO a:link{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_7_ACTIVO a:visited{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_7_ACTIVO a:hover{
	text-decoration: underline;
	color: #A80144;
}

.MEN_nivel_7_ACTIVO a:active{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_7_OUT{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 20px 1px 42px;
	width: auto;
	height: auto;
	color: #666666;
	cursor: s-resize;
	background: #D8D8D8 url(../images/web/menu_vineta_2.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_7_OUT a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_7_OUT a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_7_OUT a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_7_OUT a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_7_OVER{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 20px 1px 42px;
	width: auto;
	height: auto;
	color: #A80144;
	cursor: s-resize;
	background: #D8D8D8 url(../images/web/menu_vineta_2.gif) no-repeat 4px 6px;
	position: relative;
	z-index: 0;
}

.MEN_nivel_7_OVER a:link{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OVER a:visited{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OVER a:hover{
	text-decoration: underline;
	color: #A80144;
} 

.MEN_nivel_7_OVER a:active{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OUT2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 20px 1px 42px;
	width: auto;
	height: auto;
	color: #666666;
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.MEN_nivel_7_OUT2 a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_7_OUT2 a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_7_OUT2 a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_7_OUT2 a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_7_OVER2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 20px 1px 42px;
	width: auto;
	height: auto;
	color: #A80144;
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.MEN_nivel_7_OVER2 a:link{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OVER2 a:visited{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OVER2 a:hover{
	text-decoration: underline;
	color: #A80144;
} 

.MEN_nivel_7_OVER2 a:active{
	text-decoration: none;
	color: #A80144;
} 


/* Vinetas Menu */

.MEN_vinetaN0{
	width: auto;
	height: auto;
	background: none;
	position: absolute;
	top: 0px;
	right: 172px;
	color: #666666;
	z-index: 0;
}

.MEN_vinetaN1{
	width: auto;
	height: auto;
	background: none;
	position: absolute;
	top: 3px;
	right: 167px;
	color: #ffffff;
	z-index: 0;
}

.MEN_vinetaN2{
	width: auto;
	height: auto;
	background: none;
	position: absolute;
	top: 4px;
	right: 162px;
	color: #666666;
	z-index: 0;
}

.MEN_vinetaN3{
	width: auto;
	height: auto;
	background: none;
	position: absolute;
	top: 2px;
	right: 158px;
	color: #666666;
	z-index: 0;
}

.MEN_vinetaN4{
	width: auto;
	height: auto;
	background: none;
	position: absolute;
	top: 2px;
	right: 153px;
	color: #666666;
	z-index: 0;
}

.MEN_vinetaN5{
	width: auto;
	height: auto;
	background: none;
	position: absolute;
	top: 4px;
	right: 10px;
	color: #666666;
	z-index: 0;
}

.MEN_vinetaN6{
	width: auto;
	height: auto;
	background: none;
	position: absolute;
	top: 4px;
	right: 10px;
	color: #666666;
	z-index: 0;
}

.MEN_vinetaN7{
	width: auto;
	height: auto;
	background: none;
	position: absolute;
	top: 4px;
	right: 10px;
	color: #666666;
	z-index: 0;
}
