.MEN_linea{
	width: 170px;
	height: 1px;
	background: #738ead;
	border-top: solid 1px #395973;
	overflow: hidden;
}

.MEN_cerrar{
	clear: both;
}

/***************************** Menu Botones****************************/


.MEN_nivel_0_ACTIVO{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 8px 0px 8px 0px;
	width: 170px;
	height: auto;
	color: #ffffff;
	background: #000c39;
	cursor: n-resize;
}

.MEN_nivel_0_ACTIVO a:link{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_ACTIVO a:visited{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_ACTIVO a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.MEN_nivel_0_ACTIVO a:active{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OUT{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 8px 0px 8px 0px;
	width: 170px;
	height: auto;
	color: #ffffff;
	background: #4a6d94 url(../images/menu/menu_nivel_0_out.gif) repeat-x ;
	cursor: s-resize;
}

.MEN_nivel_0_OUT a:link{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OUT a:visited{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OUT a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.MEN_nivel_0_OUT a:active{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OVER{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 8px 0px 8px 0px;
	width: 170px;
	height: auto;
	color: #ffffff;
	background: #000c39;
	cursor: s-resize;
}

.MEN_nivel_0_OVER a:link{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OVER a:visited{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OVER a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.MEN_nivel_0_OVER a:active{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OUT2{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 8px 0px 8px 0px;
	width: 170px;
	height: auto;
	color: #ffffff;
	background: #4a6d94 url(../images/menu/menu_nivel_0_out.gif) repeat-x ;
	cursor: pointer;
}

.MEN_nivel_0_OUT2 a:link{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OUT2 a:visited{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OUT2 a:hover{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OUT2 a:active{
	text-decoration: none;
	color: #ffffff;
}


.MEN_nivel_0_OVER2{
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 8px 0px 8px 0px;
	width: 170px;
	height: auto;
	color: #ffffff;
	background: #000c39;
	cursor: pointer;

}

.MEN_nivel_0_OVER2 a:link{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OVER2 a:visited{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_0_OVER2 a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.MEN_nivel_0_OVER2 a:active{
	text-decoration: none;
	color: #ffffff;
}



.MEN_nivel_1_ACTIVO{
	font: normal 11px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #5a96d6;
	background: #001842;
	cursor: n-resize;
}

.MEN_nivel_1_ACTIVO a:link{
	text-decoration: none;
	color: #5a96d6;
}

.MEN_nivel_1_ACTIVO a:visited{
	text-decoration: none;
	color: #5a96d6;
}

.MEN_nivel_1_ACTIVO a:hover{
	text-decoration: underline;
	color: #5a96d6;
}

.MEN_nivel_1_ACTIVO a:active{
	text-decoration: none;
	color: #5a96d6;
}


.MEN_nivel_1_OVER{
	font: normal 11px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #5a96d6;
	background: #001842;
	cursor: s-resize;
}

.MEN_nivel_1_OVER a:link{
	text-decoration: none;
	color: #5a96d6;
}

.MEN_nivel_1_OVER a:visited{
	text-decoration: none;
	color: #5a96d6;
}

.MEN_nivel_1_OVER a:hover{
	text-decoration: underline;
	color: #5a96d6;
}

.MEN_nivel_1_OVER a:active{
	text-decoration: none;
	color: #5a96d6;
}

.MEN_nivel_1_OUT{
	font: normal 11px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #c6e3ff;
	background: #001842;
	cursor: s-resize;
}

.MEN_nivel_1_OUT a:link{
	text-decoration: none;
	color: #c6e3ff;
}

.MEN_nivel_1_OUT a:visited{
	text-decoration: none;
	color: #c6e3ff;
}


.MEN_nivel_1_OUT a:hover{
	text-decoration: underline;
	color: #c6e3ff;
}


.MEN_nivel_1_OUT a:active{
	text-decoration: none;
	color: #c6e3ff;
}


.MEN_nivel_1_OVER2{
	font: normal 11px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #5a96d6;
	background:#001842;
	cursor: pointer;
}

.MEN_nivel_1_OVER2 a:link{
	text-decoration: none;
	color: #5a96d6;
}

.MEN_nivel_1_OVER2 a:visited{
	text-decoration: none;
	color: #5a96d6;
}

.MEN_nivel_1_OVER2 a:hover{
	text-decoration: underline;
	color: #5a96d6;
}

.MEN_nivel_1_OVER2 a:active{
	text-decoration: none;
	color: #5a96d6;
}

.MEN_nivel_1_OUT2{
	font: normal 11px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #c6e3ff;
	background:#001842;
	cursor: pointer;
}

.MEN_nivel_1_OUT2 a:link{
	text-decoration: none;
	color: #c6e3ff;
}

.MEN_nivel_1_OUT2 a:visited{
	text-decoration: none;
	color: #c6e3ff;
}


.MEN_nivel_1_OUT2 a:hover{
	text-decoration: underline;
	color: #c6e3ff;
}


.MEN_nivel_1_OUT2 a:active{
	text-decoration: none;
	color: #c6e3ff;
}


.MEN_nivel_2_ACTIVO{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #5a9ad6;
	cursor: n-resize;
	background: #002052;
}

.MEN_nivel_2_ACTIVO a:link{
	text-decoration: none;
	color: #5a9ad6;
}

.MEN_nivel_2_ACTIVO a:visited{
	text-decoration: none;
	color: #5a9ad6;
}

.MEN_nivel_2_ACTIVO a:hover{
	text-decoration: underline;
	color: #5a9ad6;
}

.MEN_nivel_2_ACTIVO a:active{
	text-decoration: none;
	color: #5a9ad6;
}

.MEN_nivel_2_OUT{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #c6e3ff;
	cursor: s-resize;
	background: #002052;
}

.MEN_nivel_2_OUT a:link{
	text-decoration: none;
	color: #c6e3ff;
}

.MEN_nivel_2_OUT a:visited{
	text-decoration: none;
	color: #c6e3ff;
}

.MEN_nivel_2_OUT a:hover{
	text-decoration: underline;
	color: #c6e3ff;
}

.MEN_nivel_2_OUT a:active{
	text-decoration: none;
	color: #c6e3ff;
}

.MEN_nivel_2_OVER{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #5a9ad6;
	cursor: s-resize; 
	background: #002052;
}

.MEN_nivel_2_OVER a:link{
	text-decoration: none;
	color: #5a9ad6;
}

.MEN_nivel_2_OVER a:visited{
	text-decoration: none;
	color: #5a9ad6;
}

.MEN_nivel_2_OVER a:hover{
	text-decoration: underline;
	color: #5a9ad6;
}

.MEN_nivel_2_OVER a:active{
	text-decoration: none;
	color: #5a9ad6;
}

.MEN_nivel_2_OUT2{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #c6e3ff;
	background: #002052;
	cursor: pointer;
}

.MEN_nivel_2_OUT2 a:link{
	text-decoration: none;
	color: #c6e3ff;
}

.MEN_nivel_2_OUT2 a:visited{
	text-decoration: none;
	color: #c6e3ff;
}

.MEN_nivel_2_OUT2 a:hover{
	text-decoration: underline;
	color: #c6e3ff;
}

.MEN_nivel_2_OUT2 a:active{
	text-decoration: none;
	color: #c6e3ff;
}


.MEN_nivel_2_OVER2{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #5a9ad6;
	background: #002052;
	cursor: pointer;
}

.MEN_nivel_2_OVER2 a:link{
	text-decoration: none;
	color: #5a9ad6;
}

.MEN_nivel_2_OVER2 a:visited{
	text-decoration: none;
	color: #5a9ad6;
}

.MEN_nivel_2_OVER2 a:hover{
	text-decoration: underline;
	color: #5a9ad6;
}

.MEN_nivel_2_OVER2 a:active{
	text-decoration: none;
	color: #5a9ad6;
}


.MEN_nivel_3_ACTIVO{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #ccdef9;
	cursor: n-resize;
	background: #083463;
}

.MEN_nivel_3_ACTIVO a:link{
	text-decoration: none;
	color: #ccdef9;
}

.MEN_nivel_3_ACTIVO a:visited{
	text-decoration: none;
	color: #ccdef9;
}

.MEN_nivel_3_ACTIVO a:hover{
	text-decoration: underline;
	color: #ccdef9;
}

.MEN_nivel_3_ACTIVO a:active{
	text-decoration: none;
	color: #ccdef9;
}

.MEN_nivel_3_OUT{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #6e89b0;
	cursor: s-resize;
	background: #083463;
	/*border-bottom: solid 1px #E8EFF4;*/
}

.MEN_nivel_3_OUT a:link{
	text-decoration: none;
	color: #6e89b0;
}

.MEN_nivel_3_OUT a:visited{
	text-decoration: none;
	color: #6e89b0;
}

.MEN_nivel_3_OUT a:hover{
	text-decoration: underline;
	color: #6e89b0;
}

.MEN_nivel_3_OUT a:active{
	text-decoration: none;
	color: #6e89b0;
}

.MEN_nivel_3_OVER{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #ccdef9;
	cursor: s-resize;
	background: #083463;
	/*border-bottom: solid 1px #E8EFF4;*/
}

.MEN_nivel_3_OVER a:link{
	text-decoration: none;
	color: #ccdef9;
}

.MEN_nivel_3_OVER a:visited{
	text-decoration: none;
	color: #ccdef9;
}

.MEN_nivel_3_OVER a:hover{
	text-decoration: underline;
	color: #ccdef9;
}

.MEN_nivel_3_OVER a:active{
	text-decoration: none;
	color: #ccdef9;
}

.MEN_nivel_3_OUT2{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #6e89b0;
	cursor: pointer;
	background: #083463;
	/*border-bottom: solid 1px #E8EFF4;*/
}

.MEN_nivel_3_OUT2 a:link{
	text-decoration: none;
	color: #6e89b0;
}

.MEN_nivel_3_OUT2 a:visited{
	text-decoration: none;
	color: #6e89b0;
}

.MEN_nivel_3_OUT2 a:hover{
	text-decoration: underline;
	color: #6e89b0;
}

.MEN_nivel_3_OUT2 a:active{
	text-decoration: none;
	color: #6e89b0;
}

.MEN_nivel_3_OVER2{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #ccdef9;
	background: #083463;
	cursor: pointer;
	/*border-bottom: solid 1px #E8EFF4;*/
}

.MEN_nivel_3_OVER2 a:link{
	text-decoration: none;
	color: #ccdef9;
}

.MEN_nivel_3_OVER2 a:visited{
	text-decoration: none;
	color: #ccdef9;
}

.MEN_nivel_3_OVER2 a:hover{
	text-decoration: underline;
	color: #ccdef9;
}

.MEN_nivel_3_OVER2 a:active{
	text-decoration: none;
	color: #ccdef9;
}


.MEN_nivel_4_ACTIVO{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #ffffff;
	cursor: n-resize;
	background: #184573;
}

.MEN_nivel_4_ACTIVO a:link{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_4_ACTIVO a:visited{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_4_ACTIVO a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.MEN_nivel_4_ACTIVO a:active{
	text-decoration: none;
	color: #ffffff;
}

.MEN_nivel_4_OUT{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #709ec8;
	cursor: s-resize;
	background: #184573;
/*	border-bottom: solid 1px #ffffff;	*/
}

.MEN_nivel_4_OUT a:link{
	text-decoration: none;
	color: #709ec8;
}

.MEN_nivel_4_OUT a:visited{
	text-decoration: none;
	color: #709ec8;
}

.MEN_nivel_4_OUT a:hover{
	text-decoration: underline;
	color: #709ec8;
}

.MEN_nivel_4_OUT a:active{
	text-decoration: none;
	color: #709ec8;
}

.MEN_nivel_4_OVER{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #ffffff;
	cursor: s-resize;
	background: #184573;
/*	border-bottom: solid 1px #ffffff;	*/
}

.MEN_nivel_4_OVER a:link{
	text-decoration: none;	
	color: #ffffff;
}

.MEN_nivel_4_OVER a:visited{
	text-decoration: none;	
	color: #ffffff;
}

.MEN_nivel_4_OVER a:hover{
	text-decoration: underline;	
	color: #ffffff;
}

.MEN_nivel_4_OVER a:active{
	text-decoration: none;	
	color: #ffffff;
}


.MEN_nivel_4_OUT2{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #709ec8;
	background: #184573;
	cursor: pointer;
/*	border-bottom: solid 1px #ffffff;	*/
}

.MEN_nivel_4_OUT2 a:link{
	text-decoration: none;
	color: #709ec8;
}

.MEN_nivel_4_OUT2 a:visited{
	text-decoration: none;
	color: #709ec8;
}

.MEN_nivel_4_OUT2 a:hover{
	text-decoration: underline;
	color: #709ec8;
}

.MEN_nivel_4_OUT2 a:active{
	text-decoration: none;
	color: #709ec8;
}

.MEN_nivel_4_OVER2{
	font: normal 10px Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 170px;
	height: auto;
	color: #ffffff;
	background: #184573;
	cursor: pointer;
/*	border-bottom: solid 1px #ffffff;*/
}

.MEN_nivel_4_OVER2 a:link{
	text-decoration: none;	
	color: #ffffff;
}

.MEN_nivel_4_OVER2 a:visited{
	text-decoration: none;	
	color: #ffffff;
}

.MEN_nivel_4_OVER2 a:hover{
	text-decoration: underline;	
	color: #ffffff;
}

.MEN_nivel_4_OVER2 a:active{
	text-decoration: none;	
	color: #ffffff;
}


.MEN_nivel_5_ACTIVO{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #666666;
	cursor: n-resize;
	background: #D8D8D8;
}

.MEN_nivel_5_ACTIVO a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_ACTIVO a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_ACTIVO a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_5_ACTIVO a:active{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #666666;
	cursor: s-resize;
	background: #D8D8D8;
}

.MEN_nivel_5_OUT a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT a:hover{
	text-decoration: underline;
	color: #666666;
}


.MEN_nivel_5_OUT a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_5_OVER{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #666666;
	cursor: s-resize;
	background: #D8D8D8;
}

.MEN_nivel_5_OVER a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_5_OVER a:active{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #666666;
	cursor: pointer;
	background: #D8D8D8;
}

.MEN_nivel_5_OUT2 a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT2 a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OUT2 a:hover{
	text-decoration: underline;
	color: #666666;
}


.MEN_nivel_5_OUT2 a:active{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #666666;
	cursor: pointer;
	background: #D8D8D8;
}

.MEN_nivel_5_OVER2 a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER2 a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_5_OVER2 a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_5_OVER2 a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_6_ACTIVO{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #A80144;
	cursor: n-resize;
	background: #D8D8D8;
}

.MEN_nivel_6_ACTIVO a:link{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_ACTIVO a:visited{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_ACTIVO a:hover{
	text-decoration: underline;
	color: #A80144;
}

.MEN_nivel_6_ACTIVO a:active{
	text-decoration: none;
	color: #A80144;
}


.MEN_nivel_6_OUT{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #666666;
	cursor: s-resize;
	background: #EEEEEE;
}

.MEN_nivel_6_OUT a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OUT a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OUT a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_6_OUT a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_6_OVER{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #A80144;
	cursor: s-resize;
	background: #D8D8D8;
}

.MEN_nivel_6_OVER a:link{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_OVER a:visited{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_OVER a:hover{
	text-decoration: underline;
	color: #A80144;
}

.MEN_nivel_6_OVER a:active{
	text-decoration: none;
	color: #A80144;
}


.MEN_nivel_6_OUT2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #666666;
	cursor: pointer;
	background: #EEEEEE;
}

.MEN_nivel_6_OUT2 a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OUT2 a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OUT2 a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_6_OUT2 a:active{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_6_OVER2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 0px;
	width: 170px;
	height: auto;
	color: #A80144;
	cursor: pointer;
	background: #D8D8D8;
}

.MEN_nivel_6_OVER2 a:link{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_OVER2 a:visited{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_6_OVER2 a:hover{
	text-decoration: underline;
	color: #A80144;
}

.MEN_nivel_6_OVER2 a:active{
	text-decoration: none;
	color: #A80144;
}



.MEN_nivel_7_ACTIVO{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 0px 1px 0px;
	width: 170px;
	height: auto;
	color: #A80144;
	cursor: n-resize;
	background: #D8D8D8;
}

.MEN_nivel_7_ACTIVO a:link{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_7_ACTIVO a:visited{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_7_ACTIVO a:hover{
	text-decoration: underline;
	color: #A80144;
}

.MEN_nivel_7_ACTIVO a:active{
	text-decoration: none;
	color: #A80144;
}

.MEN_nivel_7_OUT{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 0px 1px 0px;
	width: 170px;
	height: auto;
	color: #666666;
	cursor: s-resize;
	background: #D8D8D8;
}

.MEN_nivel_7_OUT a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_7_OUT a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_7_OUT a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_7_OUT a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_7_OVER{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 0px 1px 0px;
	width: 170px;
	height: auto;
	color: #A80144;
	cursor: s-resize;
	background: #D8D8D8;
}

.MEN_nivel_7_OVER a:link{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OVER a:visited{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OVER a:hover{
	text-decoration: underline;
	color: #A80144;
} 

.MEN_nivel_7_OVER a:active{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OUT2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 0px 1px 0px;
	width: 170px;
	height: auto;
	color: #666666;
	cursor: pointer;
	background: #D8D8D8;
}

.MEN_nivel_7_OUT2 a:link{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_7_OUT2 a:visited{
	text-decoration: none;
	color: #666666;
}

.MEN_nivel_7_OUT2 a:hover{
	text-decoration: underline;
	color: #666666;
}

.MEN_nivel_7_OUT2 a:active{
	text-decoration: none;
	color: #666666;
}


.MEN_nivel_7_OVER2{
	font: normal 9px Arial, Helvetica, sans-serif;
	padding: 1px 0px 1px 0px;
	width: 170px;
	height: auto;
	color: #A80144;
	cursor: pointer;
	background: #D8D8D8;
}

.MEN_nivel_7_OVER2 a:link{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OVER2 a:visited{
	text-decoration: none;
	color: #A80144;
} 

.MEN_nivel_7_OVER2 a:hover{
	text-decoration: underline;
	color: #A80144;
} 

.MEN_nivel_7_OVER2 a:active{
	text-decoration: none;
	color: #A80144;
} 


/******************************* Vinetas Menu **************************************/


.MEN_vineta_0_ACTIVO{
	width: 132px;
	height: auto;
	padding-left: 18px;
	float: left;
	/*background: url(../images/menu/menu_vineta_0_1.gif) no-repeat 8px 5px;*/
}

.MEN_vineta_0_OUT{
	width: 132px;
	height: auto;
	padding-left: 18px;
	float: left;
	/*background: url(../images/menu/menu_vineta_0_2.gif) no-repeat 8px 5px;*/
}

.MEN_vineta_0_OVER{
	width: 132px;
	height: auto;
	padding-left: 18px;
	float: left;
	/*background: url(../images/menu/menu_vineta_0_3.gif) no-repeat 8px 5px;*/
}


.MEN_vineta_1_ACTIVO{
	width: 130px;
	height: auto;
	padding-left: 20px;
	float: left;
	/*background: url(../images/menu/menu_vineta_1_1.gif) no-repeat 13px 6px;*/
}

.MEN_vineta_1_OUT{
	width: 130px;
	height: auto;
	padding-left: 20px;
	float: left;
	/*background: url(../images/menu/menu_vineta_1_2.gif) no-repeat 13px 6px;*/
}

.MEN_vineta_1_OVER{
	width: 130px;
	height: auto;
	padding-left: 20px;
	float: left;
	/*background: url(../images/menu/menu_vineta_1_3.gif) no-repeat 13px 6px;*/
}


.MEN_vineta_2_ACTIVO{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_2_1.gif) no-repeat 16px 6px;*/
}

.MEN_vineta_2_OUT{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_2_2.gif) no-repeat 16px 6px;*/
}

.MEN_vineta_2_OVER{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_2_3.gif) no-repeat 16px 6px;*/
}


.MEN_vineta_3_ACTIVO{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_3_1.gif) no-repeat 16px 6px;*/
}

.MEN_vineta_3_OUT{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_3_2.gif) no-repeat 16px 6px;*/
}

.MEN_vineta_3_OVER{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_3_3.gif) no-repeat 16px 6px;*/
}


.MEN_vineta_4_ACTIVO{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_4_1.gif) no-repeat 16px 6px;*/
}

.MEN_vineta_4_OUT{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_4_2.gif) no-repeat 16px 6px;*/
}

.MEN_vineta_4_OVER{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_4_3.gif) no-repeat 16px 6px;*/
}


.MEN_vineta_5_ACTIVO{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_5_1.gif) no-repeat 8px 3px;*/
}

.MEN_vineta_5_OUT{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_5_2.gif) no-repeat 8px 3px;*/
}

.MEN_vineta_5_OVER{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_5_3.gif) no-repeat 8px 3px;*/
}

.MEN_vineta_6_ACTIVO{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_6_1.gif) no-repeat 8px 3px;*/
}

.MEN_vineta_6_OUT{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_6_2.gif) no-repeat 8px 3px;*/
}

.MEN_vineta_6_OVER{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_6_3.gif) no-repeat 8px 3px;*/
}


.MEN_vineta_7_ACTIVO{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_7_1.gif) no-repeat 8px 3px;*/
}

.MEN_vineta_7_OUT{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_7_2.gif) no-repeat 8px 3px;*/
}

.MEN_vineta_7_OVER{
	width: 127px;
	height: auto;
	padding-left: 23px;
	float: left;
	/*background: url(../images/menu/menu_vineta_7_3.gif) no-repeat 8px 3px;*/
}


/*************************** Menu Desplegar ******************************/

.MEN_desplegar{
	width: 20px;
	height: auto;
	float: right;
}

.MEN_desplegar_0_OFF{
	width: 20px;
	height: 15px;
	float: right;
	background: url(../images/menu/menu_desplega_0_2.gif) no-repeat 8px 4px;
}

.MEN_desplegar_0_ON{
	width: 20px;
	height: 15px;
	float: right;
	background: url(../images/menu/menu_desplega_0_1.gif) no-repeat 6px 5px;
}


.MEN_desplegar_1_OFF{
	width: 20px;
	height: 14px;
	float: right;
	background: url(../images/menu/menu_desplega_1_2.gif) no-repeat 8px 4px;
}

.MEN_desplegar_1_ON{
	width: 20px;
	height: 14px;
	float: right;
	background: url(../images/menu/menu_desplega_1_1.gif) no-repeat 6px 5px;
}

.MEN_desplegar_2_OFF{
	width: 20px;
	height: 13px;
	float: right;
	background: url(../images/menu/menu_desplega_2_2.gif) no-repeat 8px 4px;
}

.MEN_desplegar_2_ON{
	width: 20px;
	height: 13px;
	float: right;
	background: url(../images/menu/menu_desplega_2_1.gif) no-repeat 6px 5px;
}


.MEN_desplegar_3_OFF{
	width: 20px;
	height: 13px;
	float: right;
	background: url(../images/menu/menu_desplega_3_2.gif) no-repeat 8px 4px;
}

.MEN_desplegar_3_ON{
	width: 20px;
	height: 13px;
	float: right;
	background: url(../images/menu/menu_desplega_3_1.gif) no-repeat 6px 5px;
}

.MEN_desplegar_4_OFF{
	width: 20px;
	height: 13px;
	float: right;
	background: none;
}

.MEN_desplegar_4_ON{
	width: 20px;
	height: 13px;
	float: right;
	background: none;
}

.MEN_desplegar_5_OFF{
	width: 20px;
	height: 12px;
	float: right;
	background: none;
}

.MEN_desplegar_5_ON{
	width: 20px;
	height: 12px;
	float: right;
	background: none;
}


.MEN_desplegar_6_OFF{
	width: 20px;
	height: 12px;
	float: right;
	background: none;
}

.MEN_desplegar_6_ON{
	width: 20px;
	height: 12px;
	float: right;
	background: none;
}


.MEN_desplegar_7_OFF{
	width: 20px;
	height: 12px;
	float: right;
	background: none;
}

.MEN_desplegar_7_ON{
	width: 20px;
	height: 12px;
	float: right;
	background: none;
}
