/* Contenedor Suscribase*/
#BOL_ImagenRSS{
	FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #5c5c5c;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	width:100%;
	height:auto;
	padding-bottom:20px;
}
#BOL_ImagenRSS img{
	margin-right:5px;
}
/* FIN Contenedor Suscribase*/


/* Contenedor BOLETINES*/
.BOL_Contenedor{
	width:100%;
	height:auto;
	margin-bottom:20px;
}
.BOL_FilaSubtitulo{
	width:100%;
}
.BOL_TituloListado
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #5c5c5c;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	padding-left: 12px;
	background:url(../images/bull_gen.gif) no-repeat 3px 2px;
}
.BOL_TituloListado A:active
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: none
}
.BOL_TituloListado A:link
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: none
}
.BOL_TituloListado A:visited
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: none
}
.BOL_TituloListado A:hover
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline
}
.BOL_FilaContenido{
	width:100%;
}
.BOL_Contenido
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #5c5c5c;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	margin-left: 12px;
}
.BOL_Contenido A:active
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline
}
.BOL_Contenido A:link
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline
}
.BOL_Contenido A:visited
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline
}
.BOL_Contenido A:hover
{
    COLOR: #a81d48;
    TEXT-DECORATION: none
}
.BOL_Enlace
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #a81d48;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	margin-left: 12px;
}
.BOL_Enlace A:active
{
    COLOR: #a81d48;
    TEXT-DECORATION: underline
}
.BOL_Enlace A:link
{
    COLOR: #a81d48;
    TEXT-DECORATION: underline
}
.BOL_Enlace A:visited
{
    COLOR: #a81d48;
    TEXT-DECORATION: underline
}
.BOL_Enlace A:hover
{
    COLOR: #a81d48;
    TEXT-DECORATION: none
}
/* FIN Contenedor BOLETINES*/


/* Contenedor PIE BOLETINES*/
#BOL_FilaBoton{
	width:100%;
}
.BOL_Linea{
	width:100%;
	height: 1px;
	background: #bcbcbc;
}
.BOL_Linea hr{
	display:none;
}
#BOL_ContenedorBoton{
	width:100%;
}
.BOL_Boton
{
    FONT-SIZE: 9px;
    COLOR: #252525;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	width:auto;
	height: 5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:8px;
	margin-left:10px;
	float:right;
	background:url(../images/flechita.gif) no-repeat 0px 12px;
}
.BOL_Boton A:active
{
    COLOR: #252525;
    TEXT-DECORATION: underline
}
.BOL_Boton A:link
{
    COLOR: #252525;
    TEXT-DECORATION: underline
}
.BOL_Boton A:visited
{
    COLOR: #252525;
    TEXT-DECORATION: underline
}
.BOL_Boton A:hover
{
    COLOR: #a81d48;
    TEXT-DECORATION: none
}


/* Subir */


.BOL_ContenedorBotonSubir{
	width:100%;
	height: auto;
	margin-bottom: 0px;
	margin-top: 0px;
}


.BOL_Subir{
	width: 169px;
	height: auto;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	padding-right: 20px;
	padding-top: 6px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: right;
	background: url(../images/menu_flecha_guinda_arriba.gif) no-repeat 151px 0px;
}


.BOL_Subir a:link{
	text-decoration: none;
	color:#000000;
}

.BOL_Subir a:visited{
	text-decoration: none;
	color:#000000;
}

.BOL_Subir a:active{
	text-decoration: none;
	color:#000000;
}

.BOL_Subir a:hover{
	text-decoration: underline;
	color:#a81d48;
}


/*************************************/


/* Contenedor BOLETINES INTERNA*/
.BOL_Titulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #a81d48;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.BOL_Titulo A:active
{
    COLOR: #a81d48;
    TEXT-DECORATION: underline
}
.BOL_Titulo A:link
{
    COLOR: #a81d48;
    TEXT-DECORATION: underline
}
.BOL_Titulo A:visited
{
    COLOR: #a81d48;
    TEXT-DECORATION: underline
}
.BOL_Titulo A:hover
{
    COLOR: #a81d48;
    TEXT-DECORATION: none
}
.BOL_Contenido_Interno
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #5c5c5c;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
}
.BOL_Contenido_Interno A:active
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline
}
.BOL_Contenido_Interno A:link
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline
}
.BOL_Contenido_Interno A:visited
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline
}
.BOL_Contenido_Interno A:hover
{
    COLOR: #a81d48;
    TEXT-DECORATION: none
}
/* FIN Contenedor BOLETINES INTERNA*/



.BOL_SubTitulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #5c5c5c;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.BOL_SubTitulo A:active
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: none
}
.BOL_SubTitulo A:link
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: none
}
.BOL_SubTitulo A:visited
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: none
}
.BOL_SubTitulo A:hover
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline
}

/* Estilos Contenido */

.titulo{
	margin: 0px 0px 8px 0px;
	font-size: 14px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	color: #a81d48;
	clear: left;
} 


.general{
	color: #5c5c5c;
	font-size: 11px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: normal;
	margin: 19px 0px;
}

.general a:link{
	color: #5c5c5c;
	text-decoration: underline;
}

.general a:visited{
	color:#5c5c5c;
	text-decoration: underline;
}

.general a:hover{
	color:#5c5c5c;
	text-decoration: none;
}

.general a:active{
	color:#5c5c5c;
	text-decoration: underline;
}



.subtitulo{
	color: #a81d48;
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	clear: left;
	margin: 19px 0px;
}

.subtitulo a:link  {
	color: #a81d48;
	text-decoration: none;
}

.subtitulo a:visited  {
	color: #a81d48;
	text-decoration: none;
}

.subtitulo a:hover  {
	color: #a81d48;
	text-decoration: underline;
}

.subtitulo a:active  {
	color: #a81d48;
	text-decoration: none;
}



.subtitulo2 {
	color: #a81d48;
	font-size: 11px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: normal;
	margin: 19px 0px;
}


.subtitulo2 a:link  {
	color: #a81d48;
	text-decoration: underline;
}

.subtitulo2 a:visited  {
	color: #a81d48;
	text-decoration: underline;
}

.subtitulo2 a:hover  {
	color: #a81d48;
	text-decoration: none;
}

.subtitulo2 a:active   {
	color: #a81d48;
	text-decoration: underline;
}




.subtitulo3 {
	color: #a81d48;
	font-size: 10px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	margin: 19px 0px;
}

.subtitulo3 a:link   {
	color: #a81d48;
	text-decoration: underline;
}

.subtitulo3 a:visited  {
	color: #a81d48;
	text-decoration: underline;
}

.subtitulo3 a:hover  {
	color: #a81d48;
	text-decoration: none;
}

.subtitulo3 a:active  {
	color: #a81d48;
	text-decoration: underline;
}

.filaVineta{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #5c5c5c;
	padding: 0px 0px 0px 10px;
	margin: 2px 0px 2px 0px;
	text-indent: 0px;
	display: block;
	background: url(../images/flechita.gif) no-repeat 2px 3px;
}

.filaVineta a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.filaVineta a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.filaVineta a:hover{
	color: #a81d48;
	text-decoration: underline;
}

.filaVineta a:active{
	color: #5c5c5c;
	text-decoration: none;
}

