
.JER_PersonasGrupo{
	width: auto;
	height: auto;
}

.JER_PersonasTabla{
	width: 534px;
	height: auto;
}

.JER_PersonasColumnaImagen{
	width: 102px;
	height: auto;
}

.JER_PersonasColumnaContenido{
	width: 430px;
	height: auto;
}

.JER_TestimoniosTabla{
	width: 547px;
	height: auto;
}

.JER_TestimoniosColumnaImagen{
	width: 104px;
	height: auto;
}

.JER_TestimoniosColumnaImagen img{
	margin-left: 2px;
}

.JER_TestimoniosColumnaContenido{
	width: 441px;
	height: auto;
}


.JER_PersonasFoto{
	width: auto;
	height: auto;
	float: left;
	padding-left: 0px;
	padding-right: 7px;
}

.JER_PersonasContenido{
	width: 430px;
	height: auto;
	float: right;
}


/* Contenido Interno */

#JER_ColumnaInterna {
	width: 547px;
	height: auto;
	float: right;
	color: #5c5c5c;
}

#JER_ColumnaInterna a:link{
	color:#a71d47;
	text-decoration: underline;
}

#JER_ColumnaInterna a:visited{
	color:#a71d47;
	text-decoration: underline;
}

#JER_ColumnaInterna a:hover{
	color:#a71d47;
	text-decoration: none;
}

#JER_ColumnaInterna a:active{
	color:#a71d47;
	text-decoration: underline;
}



/* 1 Columna */

.JER_ColumnaContenido2{
	width: 532px;
	padding-top: 23px;
	padding-left: 13px;
	padding-right: 22px;
	height: auto;
}


/*******************/







/* 2 Columnas */

.JER_ColumnaContenido{
	width: 358px;
	height: auto;
}

.JER_ColumnaImagenes{
	width: 189px;
}

/************************/

.JER_ImagenesTabla{
	width: 175px;
	margin-top: 23px;
	margin-right: 0px;
	height: auto;
}

.JER_LineaDivisionPlomo{
	width: 100%;
	height: 1px;
	background-color: #BCBCBC;
	clear: both;
	margin-bottom: 5px;
	margin-top: 5px;
}

.JER_LineaDivisionPlomo hr{
	display: none;
}

.JER_LineaDivisionGuinda{
	width: 100%;
	height: 1px;
	background-color: #CA7791;
	clear: both;
	margin-bottom: 5px;
	margin-top: 5px;
}

.JER_LineaDivisionGuinda hr{
	display: none;
}


/*********************/

/*  Estilos de Tabla */

.tablaInterna{
	background-color: #D3D4D5;
	margin-bottom: 20px;
	margin-top: 20px;
	voice-family:"\"}\"";
	voice-family:inherit;
	margin-top: 0px;
}


.tablaInterna2{
	background-color: #ffffff;
	margin-bottom: 20px;
	margin-top: 20px;
}

/*html>body .tablaInterna{
	background-color: #D3D4D5;
	margin-bottom: 20px;
	margin-top: 0px;
}*/

.filaEspaciado{
	padding-bottom: 10px;
	padding-top: 10px;
}

.filaFondoPlomo{
	background-color: #949494;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color:#ffffff;
}

.filaFondoPlomo a:link{
	color:#ffffff;
	text-decoration: none;
}

.filaFondoPlomo a:visited{
	color:#ffffff;
	text-decoration: none;
}

.filaFondoPlomo a:hover{
	color:#ffffff;
	text-decoration: underline;
}

.filaFondoPlomo a:active{
	color:#ffffff;
	text-decoration: none;
}

.filaFondoClaro{
	background-color: #EEEEEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color:#585759;
}

.filaFondoClaro a:link{
	color:#585759;
	text-decoration: none;
}

.filaFondoClaro a:visited{
	color:#585759;
	text-decoration: none;
}

.filaFondoClaro a:hover{
	color:#585759;
	text-decoration: underline;
}

.filaFondoClaro a:active{
	color:#585759;
	text-decoration: none;
}





/*********************/


/* Estilos Contenido */

.titulo{
	margin: 0px 0px 8px 0px;
	font-size: 14px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	color: #a50443;
	clear: left;
} 


.general{
	color: #5c5c5c;
	font-size: 11px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: normal;
	margin: 19px 0px;
}

.general a:link{
	color: #5c5c5c;
	text-decoration: underline;
}

.general a:visited{
	color:#5c5c5c;
	text-decoration: underline;
}

.general a:hover{
	color:#5c5c5c;
	text-decoration: none;
}

.general a:active{
	color:#5c5c5c;
	text-decoration: underline;
}



.subtitulo{
	color: #a50443;
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	clear: left;
	margin: 19px 0px;
}

.subtitulo a:link  {
	color: #a50443;
	text-decoration: none;
}

.subtitulo a:visited  {
	color: #a50443;
	text-decoration: none;
}

.subtitulo a:hover  {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo a:active  {
	color: #a50443;
	text-decoration: none;
}



.subtitulo2 {
	color: #a50443;
	font-size: 11px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: normal;
	margin: 19px 0px;
}


.subtitulo2 a:link  {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo2 a:visited  {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo2 a:hover  {
	color: #a50443;
	text-decoration: none;
}

.subtitulo2 a:active   {
	color: #a50443;
	text-decoration: underline;
}




.subtitulo3 {
	color: #a50443;
	font-size: 10px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	margin: 19px 0px;
}

.subtitulo3 a:link   {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo3 a:visited  {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo3 a:hover  {
	color: #a50443;
	text-decoration: none;
}

.subtitulo3 a:active  {
	color: #a50443;
	text-decoration: underline;
}



.filaVineta{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #5c5c5c;
	padding: 0px 0px 0px 10px;
	margin: 2px 0px 2px 0px;
	text-indent: 0px;
	display: block;
	background: url(images/Bull_Upc.gif) no-repeat 2px 3px;

}


.filaVineta a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.filaVineta a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.filaVineta a:hover{
	color: #a71d47;
	text-decoration: underline;
}

.filaVineta a:active{
	color: #5c5c5c;
	text-decoration: none;
}
