/* Estilos para el FCKeditor */

.titulo{
/*	margin-top: 20px;*/
	margin-bottom: 8px;
	font-size: 14px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	color: #a50443;
	clear: left;
} 


.general {
	color: #5c5c5c;
	font-size: 11px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: normal;
}

.general a:link{
	color:#a71d47;
	text-decoration: underline;
}

.general a:visited{
	color:#a71d47;
	text-decoration: underline;
}

.general a:hover{
	color:#a71d47;
	text-decoration: none;
}

.general a:active{
	color:#a71d47;
	text-decoration: underline;
}


.subtitulo3 {
	color: #9f0741;
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	clear: left;
}

.subtitulo3 a:link  {
	color: #9f0741;
	text-decoration: none;
}

.subtitulo3 a:visited  {
	color: #9f0741;
	text-decoration: none;
}

.subtitulo3 a:hover  {
	color: #9f0741;
	text-decoration: underline;
}

.subtitulo3 a:active  {
	color: #9f0741;
	text-decoration: none;
}



.subtitulo {
	color: #89022e;
	font-size: 11px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: normal;
}


.subtitulo a:link  {
	color: #000000;
	text-decoration: underline;
}

.subtitulo a:visited  {
	color: #000000;
	text-decoration: underline;
}

.subtitulo a:hover  {
	color: #000000;
	text-decoration: none;
}

.subtitulo a:active  {
	color: #000000;
	text-decoration: underline;
}




.subtitulo2 {
	color: #89022e;
	font-size: 10px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
}

.subtitulo2 a:link  {
	color: #5c5c5c;
	text-decoration: underline;
}

.subtitulo2 a:visited  {
	color: #5c5c5c;
	text-decoration: underline;
}

.subtitulo2 a:hover  {
	color: #5c5c5c;
	text-decoration: none;
}

.subtitulo2 a:active  {
	color: #5c5c5c;
	text-decoration: underline;
}

.filaVineta{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #5c5c5c;
	padding-left: 10px;
	background: url(../../../../../implementacion/web/0/0/images/vineta_interna2.gif) no-repeat 0em 0.35em;
}

.filaVineta a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.filaVineta a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.filaVineta a:hover{
	color: #a71d47;
	text-decoration: underline;
}

.filaVineta a:active{
	color: #5c5c5c;
	text-decoration: none;
}





/**********************************************/