/* Contenedores */

.BUS_CONTE_modulo{
	width: auto;
	height: auto;
}

.BUS_CONTE_ayuda{
	width: auto;
	height: auto;
	padding: 10px 0;
}

.BUS_CONTE_busquedaAvanzada{
	width:auto;
	height:auto;
	padding: 0 1px 10px 1px;
}

.BUS_CONTE_mostrarAyuda{
   width: auto;
   height: auto;
	padding: 16px 10px;
	margin: 6px 0;
	border: solid 1px #dddddd;
}

.BUS_CONTE_bloque{
   width: auto;
   height: auto;
   padding: 10px 0;
}

.BUS_CONTE_bloqueInterno{
   width:100%;
	height:auto;
}

/* Contenedor Subir */

.BUS_CONTE_subir{
   width: auto;
   height: auto;
   padding: 2px 0 8px 0;
}

.BUS_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 10px 0 0;
   padding: 6px 0 6px 0;
   background: url(images/modulos/flecha_arriba.gif) no-repeat center 0px;
}

.BUS_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.BUS_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.BUS_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.BUS_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}

.BUS_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.BUS_linea hr{ 
	display:none;
}

/* Formato de Contenidos */

.BUS_tabla1{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.BUS_tabla1 td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.BUS_vineta1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin: 0px;
	background: url(images/modulos/vineta_1.gif) no-repeat 3px 2px;
}

.BUS_texto1{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin:0px;
}

.BUS_texto1 a:link{
   color: #2D72E8;
   text-decoration:underline;
}

.BUS_texto1 a:visited{
   color: #2D72E8;
   text-decoration:underline;
}

.BUS_texto1 a:hover{
   color: #2D72E8;
   text-decoration:none;
}

.BUS_texto1 a:active{
   color: #2D72E8;
   text-decoration:underline;
}

.BUS_texto2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#0E326F;
   padding-left:12px;
   margin:0px;
}

.BUS_texto2 a:link{
   color: #0E326F;
   text-decoration:none;
}

.BUS_texto2 a:visited{
   color: #0E326F;
   text-decoration:none;
}

.BUS_texto2 a:hover{
   color: #0E326F;
   text-decoration:underline;
}

.BUS_texto2 a:active{
   color: #0E326F;
   text-decoration:none;
}

.BUS_texto3{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: Black;
	margin: 0px;
}

.BUS_texto4{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: Black;
	margin: 0px;
}

.BUS_texto5{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#0E326F;
   padding-left:12px;
   margin:5px 0px;
}

.BUS_texto5 a:link{
   color: #0E326F;
   text-decoration:none;
}

.BUS_texto5 a:visited{
   color: #0E326F;
   text-decoration:none;
}

.BUS_texto5 a:hover{
   color: #0E326F;
   text-decoration:underline;
}

.BUS_texto5 a:active{
   color: #0E326F;
   text-decoration:none;
}

.BUS_texto6{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:Black;
   margin:0px;
}

.BUS_texto6 a:link{
   color: #2D72E8;
   text-decoration:underline;
}

.BUS_texto6 a:visited{
   color: #2D72E8;
   text-decoration:underline;
}

.BUS_texto6 a:hover{
   color: #2D72E8;
   text-decoration:none;
}

.BUS_texto6 a:active{
   color: #2D72E8;
   text-decoration:underline;
}

.BUS_resaltarBusqueda{ 
	font:bold 12px Arial, Helvetica, sans-serif;
	color:Black;
	background-color:#E0E0E0;
}

.BUS_mensaje {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	PADDING-BOTTOM: 15px; 
	COLOR: #2D72E8; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}