#CHT_ContenedorLogin{
	width: 356px;
	height: 184px;
}

.CHT_Titulo{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color:#5c5c5c;
	margin: 0px;
}

.CHT_TituloVineta{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color:#5c5c5c;
	margin: 0px;
	padding-left: 10px;
	background: url(/RepositorioAPS/estilos/0/0/images/vineta_interna_chat.gif) no-repeat 2px 5px;
}

.CHT_Texto{
	width: auto;
	height: auto;
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#5c5c5c;
	margin: 0px;
}

.CHT_Texto a:link{
	color:#A81D48;
	text-decoration: none;
}

.CHT_Texto a:visited{
	color:#A81D48;
	text-decoration: none;
}

.CHT_Texto a:hover{
	color:#A81D48;
	text-decoration: underline;
}
.CHT_Texto a:active{
	color:#A81D48;
	text-decoration: none;
}

.CHT_TextoNegrita{
	width: auto;
	height: auto;
	font: bold 11px Arial, Helvetica, sans-serif;
	color:#5c5c5c;
	margin: 0px;
}

.CHT_TextoNegrita a:link{
	color:#A81D48;
	text-decoration: none;
}

.CHT_TextoNegrita a:visited{
	color:#A81D48;
	text-decoration: none;
}

.CHT_TextoNegrita a:hover{
	color:#A81D48;
	text-decoration: underline;
}

.CHT_TextoNegrita a:active{
	color:#A81D48;
	text-decoration: none;
}


.CHT_ContenedorSala{
	width: auto;
	margin: 10px auto;
}

.CHT_ContenedorTitulo{
	width: auto;
	height: auto; 
}

.CHT_ContenedorContenido{
	width: auto;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}