/* Contenedores */

.ECT_CONTE_modulo{
	width: auto;
	height: auto;
}

.ECT_CONTE_vigentes{ 
	width:auto;
	height:auto;
}

.ECT_CONTE_antiguas{ 
	width:auto;
	height:auto;
}

.ECT_CONTE_cuadroEncuesta {
	width:auto;
	height:auto;
	padding:10px 0 10px 0;
}

.ECT_CONTE_encuesta {
	width:auto;
	height:auto;
	padding:10px 10px 10px 10px;
}

.ECT_CONTE_titulo {
	width:auto;
	height:auto;
   padding:12px;
}

.ECT_CONTE_bloque{
   width: auto;
   height: auto;
   padding-bottom: 10px;
}

.ECT_CONTE_bloqueInterno{
   width:auto;
	height:auto;
}

/* Contenedor Subir */

.ECT_CONTE_subir{
   width: auto;
   height: auto;
   padding: 2px 0 8px 0;
}

.ECT_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 10px 0 0;
   padding: 6px 0 6px 0;
   background: url(images/modulos/flecha_arriba.gif) no-repeat center 0px;
}

.ECT_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.ECT_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.ECT_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.ECT_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}


.ECT_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.ECT_linea hr{ 
	display:none;
}

/* Formato de Contenidos */

.ECT_tabla1{
   width: 100%;
   height: auto;
   padding: 0px;
   margin: 0px;
   border-collapse: collapse;
   border: 0px;
}

.ECT_tabla1 td{
   width: auto;
   height: auto;
   padding: 0px;
   margin: 0px;
   border-collapse: collapse;
   border: 0px;
}


.ECT_titulo1{
   font:bold 14px Arial, Helvetica, sans-serif;
   color:#0E326F;
   margin: 0px;
}

.ECT_titulo2{
   font:bold 14px Arial, Helvetica, sans-serif;
   color:#2D72E8;
   margin: 0px;
}

.ECT_vineta1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin: 0px;
   background:url(images/modulos/vineta_1.gif) no-repeat 3px 2px;
}

.ECT_texto1{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin:0px;
}

.ECT_texto2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#2D72E8;
   padding-left:12px;
   margin:0px;
}

.ECT_texto2 a:link{
   color: #2D72E8;
   text-decoration:none;
}

.ECT_texto2 a:visited{
   color: #2D72E8;
   text-decoration:none;
}

.ECT_texto2 a:hover{
   color: #2D72E8;
   text-decoration:underline;
}

.ECT_texto2 a:active{
   color: #2D72E8;
   text-decoration:none;
}

.ECT_texto3{ 
   font:normal 10px Arial, Verdana, Geneva, Helvetica, sans-serif;
   color:#000000;
}

.ECT_texto3 a:link{
   text-decoration:none;
   color:#2D72E8;
}

.ECT_texto3 a:visited{
   text-decoration:none;
   color:#2D72E8;
}

.ECT_texto3 a:hover{
   text-decoration:underline;
   color:#2D72E8;
}

.ECT_texto3 a:active{
   text-decoration:none;
   color:#2D72E8;
}  

.ECT_texto4{
   font:bold 11px Arial, Helvetica, sans-serif;
	color:#0E326F;
}

.ECT_texto4 a:link{
   color: #0E326F;
   text-decoration:none;
}

.ECT_texto4 a:visited{
   color: #0E326F;
   text-decoration:none;
}

.ECT_texto4 a:hover{
   color: #0E326F;
   text-decoration:underline;
}

.ECT_texto4 a:active{
   color: #0E326F;
   text-decoration:none;
}

.ECT_texto5{
   font:bold 11px Arial, Helvetica, sans-serif;
	color:#2D72E8;
}

.ECT_texto5 a:link{
   color: #2D72E8;
   text-decoration:none;
}

.ECT_texto5 a:visited{
   color: #2D72E8;
   text-decoration:none;
}

.ECT_texto5 a:hover{
   color: #2D72E8;
   text-decoration:underline;
}

.ECT_texto5 a:active{
   color: #2D72E8;
   text-decoration:none;
}

/* Deslizadores */

.ECT_VerResultado_On{ 
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#0E326F;
   padding: 10px 0 0 12px;
	width:52px;
	height:auto;
	cursor:pointer;
   background: url(images/modulos/vineta_2b.gif) no-repeat 2px 15px;
}

.ECT_VerResultado_Off{ 
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#2D72E8;
	padding: 10px 0 0 12px;
	width:52px;
	height:auto;
	cursor:pointer;
   background: url(images/modulos/vineta_2a.gif) no-repeat 4px 13px;
}

.ECT_CONTE_fondoEncuesta1{
	background-color:#f1f1f1 !important;
	border-left:solid 1px #666666 !important;
}

.ECT_CONTE_fondoEncuesta2{
	/*background-color:#f1f1f1 !important;*/
	border-left:solid 1px #ffffff !important;
	border-top:solid 1px #666666 !important;
}

.ECT_CONTE_boton{
	width: auto;
	height: auto;
	padding: 2px 10px;
}

.ECT_boton1{
	width: auto;
	height: 20px;
	font: bold 11px Arial, Helvetica, sans-serif;
	color: white;
	border: solid 1px #0E326F;
	background: #0E326F;
	margin-top: 6px;
}