/* Contenedores */

.ENL_CONTE_modulo{
	width: auto;
	height: auto;
}

.ENL_CONTE_combo{
	width: auto;
	height: auto;
	padding-bottom: 10px;
}

.ENL_CONTE_combo select{
	padding: 0px;
}

.ENL_CONTE_comboTitulo{
	width: 145px !important;
	height: auto;
	padding:0px 0px 0px 12px  !important;
}

.ENL_CONTE_titulo {
	width:auto;
	height:auto;
   padding:12px;
}

.ENL_CONTE_bloque{
   width: auto;
   height: auto;
   padding-bottom: 20px;
}

.ENL_CONTE_bloqueInterno1{
   width:65%;
	height:auto;
}

.ENL_CONTE_bloqueInterno2{
   width:auto;
	height:auto;
}

/* Contenedor Subir */

.ENL_CONTE_subir{
   width: auto;
   height: auto;
   padding: 2px 0 8px 0;
}

.ENL_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 10px 0 0;
   padding: 6px 0 6px 0;
   background: url(images/modulos/flecha_arriba.gif) no-repeat center 0px;
}

.ENL_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.ENL_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.ENL_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.ENL_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}

.ENL_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.ENL_linea hr{ 
	display:none;
}

/* Formato de Contenidos */

.ENL_tabla1{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.ENL_tabla1 td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.ENL_titulo1{
   font:bold 14px Arial, Helvetica, sans-serif;
   color:black;
   margin: 0px;
}

.ENL_vineta1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin: 0px;
	background: url(images/modulos/vineta_5.gif) no-repeat 3px 5px;
}

.ENL_texto1{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin:0px;
}

.ENL_texto1 a:link{
   color: #e77900;
   text-decoration:underline;
}

.ENL_texto1 a:visited{
   color: #e77900;
   text-decoration:underline;
}

.ENL_texto1 a:hover{
   color: #e77900;
   text-decoration:none;
}

.ENL_texto1 a:active{
   color: #e77900;
   text-decoration:underline;
}

.ENL_texto2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#ff9610;
   padding-left:12px;
   margin:0px;
}

.ENL_texto2 a:link{
   color: #ff9610;
   text-decoration:none;
}

.ENL_texto2 a:visited{
   color: #ff9610;
   text-decoration:none;
}

.ENL_texto2 a:hover{
   color: #ff9610;
   text-decoration:underline;
}

.ENL_texto2 a:active{
   color: #ff9610;
   text-decoration:none;
}

.ENL_texto3{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: Black;
	margin: 0px;
}

.ENL_texto4{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: Black;
	margin: 0px;
}
.ENL_combo{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:#000000;
   margin:0px;
}
