/* Contenedores */

.EVE_CONTE_modulo{
	width: auto;
	height: auto;
}

.EVE_CONTE_bloque{
   width: auto;
   height: auto;
   padding: 10px 0;
}

.EVE_CONTE_bloqueInterno1{
   width:auto;
	height:auto;
}

.EVE_CONTE_bloqueInterno2{
   width:auto;
	height:auto;
	padding-top: 20px;
}

/* Contenedor Subir */

.EVE_CONTE_subir{
   width: auto;
   height: auto;
   padding: 2px 0 8px 0;
}

.EVE_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 10px 0 0;
   padding: 6px 0 6px 0;
   background: url(images/modulos/flecha_arriba.gif) no-repeat center 0px;
}

.EVE_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.EVE_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.EVE_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.EVE_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}

.EVE_CONTE_enlace{
   width: auto;
   height: auto;
   padding: 2px 0 8px 0;
}


.EVE_vinetaEnlace{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0;
   padding: 6px 8px 6px 8px;
	background: url(images/modulos/vineta_2a.gif) no-repeat 0px;
}

.EVE_vinetaEnlace a:link{ 
	color:Black;
	text-decoration:none;
}

.EVE_vinetaEnlace a:visited{ 
	color:Black;
	text-decoration:none;
}

.EVE_vinetaEnlace a:hover{ 
	color:Black;
	text-decoration:underline;
}

.EVE_vinetaEnlace a:active{ 
	color:Black;
	text-decoration:none;
}

.EVE_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.EVE_linea hr{ 
	display:none;
}

.EVE_CONTE_navegacionMeses{
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	line-height: 40px;
	list-style: none;
}

.EVE_tituloMeses ul{
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	line-height: 40px;
	list-style: none;
}

.EVE_tituloMeses li{
	width: auto;
	height: auto;
	display: inline;
	font: normal 11px/40px Arial, Helvetica, sans-serif;
   color: #e47800;
}

.EVE_tituloMeses li a:link{
	color: Black;
	text-decoration: none;
}

.EVE_tituloMeses li a:visited{
	color: Black;
	text-decoration: none;
}

.EVE_tituloMeses li a:hover{
	color: #e47800;
	text-decoration: none;
	/*border-bottom: solid 1px black;*/
}

.EVE_tituloMeses li a:active{
	color: Black;
	text-decoration: none;
}


.EVE_seleccionado{
	font: normal 11px/40px Arial, Helvetica, sans-serif;
   color: #e47800 !important;
}

.EVE_seleccionado a:link{
	color: #e47800 !important;
	text-decoration: none;
	border-bottom: solid 1px black;
}

.EVE_seleccionado a:visited{
	color: #e47800 !important;
	text-decoration: none;
	border-bottom: solid 1px black;
}

.EVE_seleccionado a:hover{
	color: #e47800 !important;
	text-decoration: none;
	border-bottom: solid 1px #ffffff !important;
}

.EVE_seleccionado a:active{
	color: #e47800 !important;
	text-decoration: none;
	border-bottom: solid 1px black;
}

/* Calendario 1 */

.EVE_CONTE_calendario1{
	width: auto;
	height: auto;
	padding: 0px 0px 0px 0px;
	/*border-left: solid 1px #0E326F;
	border-right: solid 1px #0E326F;*/
}

.EVE_CONTE_tituloMes{
	width: auto;
	height: auto;
	padding: 0 0 5px 0;
	background: #006573;
	border-bottom: 1px solid #ffffff;
}

.EVE_CONTE_bloqueIzquierdo{ 
	width: 50%;
	height: 20px;
}

.EVE_CONTE_bloqueDerecho{ 
	width: 50%;
	height: 20px;
}

.EVE_CONTE_calendario1 table{
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	background: none;
	border: 0px;
}

/* Dia Normal */

.EVE_diaHome td{
	width: 3%;
	height: 3%;
	padding: 4px 2px;
	margin: 0px;
	border-collapse: collapse;
	background: #007d94;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-align: center;
	color:white;
}

.EVE_diaHome td a{
	width: 3%;
	height: 3%;
	padding: 4px 2px;
	margin: 0px;
	border-collapse: collapse;
	background: #007d94;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-align: center;
	color:white;
}

.EVE_diaHome td a:link{
	text-decoration: none;
	color: white;
}

.EVE_diaHome td a:visited{
	text-decoration: none;
	color: white;
}

.EVE_diaHome td a:hover{
	text-decoration: underline;
	color: white;
}

.EVE_diaHome td a:active{
	text-decoration: none;
	color: white;
}

/* Dia Numero */

.EVE_diaNumeroHome td{
	width: 3%;
	height: 3%;
	padding: 3px 2px;
	margin: 0px;
	border-collapse: collapse;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-align: center;
	color:#333333;
}

.EVE_diaNumeroHome td a{
	width: 3%;
	height: 3%;
	padding: 3px 2px;
	margin: 0px;
	border-collapse: collapse;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-align: center;
	color:#333333;
}

.EVE_diaNumeroHome td a:link{
	text-decoration: none;
	color: #333333;
}

.EVE_diaNumeroHome td a:visited{
	text-decoration: none;
	color: #333333;
}

.EVE_diaNumeroHome td a:hover{
	text-decoration: none;
	color: #2D72E8;
	/*background: #f0f0f2;*/
}

.EVE_diaNumeroHome td a:active{
	text-decoration: none;
	color: #333333;
}

/* Dia Seleccionado */

.EVE_diaNumeroSelecionadoHome{
	background: url(images/modulos/fondo_seleccion_calendario.gif) no-repeat center !important ;
	color:White !important ;
}

.EVE_diaNumeroSelecionadoHome a:link{
	color:White !important ;
	background:  !important ;
}

.EVE_diaNumeroSelecionadoHome a:visited{
	color:White !important ;
	background:  !important ;
}

.EVE_diaNumeroSelecionadoHome a:hover{
	color:black !important ;
	background:  !important ;
}

.EVE_diaNumeroSelecionadoHome a:active{
	color:White !important ;
	background:  !important ;
}

/* Dia Feriado */

.EVE_diaFeriadoHome{
	font-weight: bold !important ;
	color:#2D72E8 !important ;
}

.EVE_diaFeriadoHome a:link{
	font-weight: bold !important ;
	color:#2D72E8 !important ;
}

.EVE_diaFeriadoHome a:visited{
	font-weight: bold !important ;
	color:#2D72E8 !important ;
}

.EVE_diaFeriadoHome a:hover{
	font-weight: bold !important ;
	color: #2D72E8 !important ;
}

.EVE_diaFeriadoHome a:active{
	font-weight: bold !important ;
	color:#2D72E8 !important ;
}

/* Calendario 2 */

.EVE_CONTE_calendario2{
	width: auto;
	height: auto;
	padding: 0 0 20px 0;
}

.EVE_CONTE_calendario2 table{
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.EVE_dia td{
	width: 3%;
	height: auto;
	padding: 3px 2px;
	margin: 0px;
	border-collapse: collapse;
	background: #e78210;
	font: normal 8px Arial, Helvetica, sans-serif;
	text-align: center;
	color:White;
}

.EVE_dia td a{
	width: 3%;
	height: 3%;
	padding: 3px 2px;
	margin: 0px;
	border-collapse: collapse;
	background: #efebef;
	font: normal 8px Arial, Helvetica, sans-serif;
	text-align: center;
	color:White;
}

.EVE_dia td a:link{
	text-decoration: none;
	color: White;
}

.EVE_dia td a:visited{
	text-decoration: none;
	color: White;
}

.EVE_dia td a:hover{
	text-decoration: underline;
	color: White;
}

.EVE_dia td a:active{
	text-decoration: none;
	color: White;
}

.EVE_diaNumero td{
	width: 3%;
	height: auto;
	padding: 3px 2px;
	margin: 0px;
	border-collapse: collapse;
	background: White;
	font: normal 8px Arial, Helvetica, sans-serif;
	text-align: center;
	color:#888888;
}

.EVE_diaNumero td a{
	width: 3%;
	height: auto;
	padding: 3px 2px;
	margin: 0px;
	border-collapse: collapse;
	background: white;
	font: normal 8px Arial, Helvetica, sans-serif;
	text-align: center;
	color:#e47800;
}

.EVE_diaNumero td a:link{
	text-decoration: none;
	color: #e47800;
}

.EVE_diaNumero td a:visited{
	text-decoration: none;
	color: #e47800;
}

.EVE_diaNumero td a:hover{
	text-decoration: underline;
	color: #e47800;
	/*background: #f0f0f2;*/
}

.EVE_diaNumero td a:active{
	text-decoration: none;
	color: #e47800;
}

.EVE_diaNumeroSelecionado{
	width: 3%;
	height: auto;
	padding: 3px 2px;
	margin: 0px;
	border-collapse: collapse;
	background: #efebef !important ;
	font: normal 8px Arial, Helvetica, sans-serif;
	text-align: center;
	color:#000000 !important ;
}

.EVE_diaNumeroSelecionado a:link{
	text-decoration: none;
	color:#000000 !important ;
	background: #efebef !important ;
}

.EVE_diaNumeroSelecionado a:visited{
	text-decoration: none;
	color:#000000 !important ;
	background: #efebef !important ;
}

.EVE_diaNumeroSelecionado a:hover{
	text-decoration: none;
	color:#000000 !important ;
	background: #efebef !important ;
}

.EVE_diaNumeroSelecionado a:active{
	text-decoration: none;
	color:#000000 !important ;
	background: #efebef !important ;
}

/**********************/

.EVE_botonTexto{
	width: auto;
	height: 14px;
	vertical-align: middle;

}

.EVE_botonIzq_On{
	width: 6px;
	height: 14px;
	padding: 0px 5px;
	cursor: pointer;
	vertical-align: middle;
	background: url(images/modulos/btn_izquierda2.gif) no-repeat center;
}

.EVE_botonIzq_Off{
	width: 6px;
	height: 14px;
	padding: 0px 5px;
	cursor: pointer;
	vertical-align: middle;
	background: url(images/modulos/btn_izquierda1.gif) no-repeat center;
}

.EVE_botonDer_On{
	width: 6px;
	height: 14px;
	padding: 0px 5px;
	cursor: pointer;
	vertical-align: middle;
	background: url(images/modulos/btn_derecha2.gif) no-repeat center;
}

.EVE_botonDer_Off{
	width: 6px;
	height: 14px;
	padding: 0px 5px;
	cursor: pointer;
	vertical-align: middle;
	background: url(images/modulos/btn_derecha1.gif) no-repeat center;
}

.EVE_tabla1{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.EVE_tabla1 td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.EVE_tabla2{
	width: auto;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.EVE_tabla2 td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.EVE_titulo1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:#e47800;
   margin: 0px;
}
.EVE_titulo1 a:link{
   color: Black;
   text-decoration:none;
}

.EVE_titulo1 a:visited{
   color: Black;
   text-decoration:none;
}

.EVE_titulo1 a:hover{
   color: #e47800;
   text-decoration:none;
}

.EVE_titulo1 a:active{
   color: Black;
   text-decoration:none;
}



.EVE_titulo2{
   font:bold 11px/11px Verdana, Geneva, Arial, Helvetica, sans-serif;
   color:#2D72E8;
   margin: 0px;
}

.EVE_titulo2 a:link{
   color: Black;
   text-decoration:none;
}

.EVE_titulo2 a:visited{
   color: Black;
   text-decoration:none;
}

.EVE_titulo2 a:hover{
   color: #2D72E8;
   text-decoration:none;
}

.EVE_titulo2 a:active{
   color: Black;
   text-decoration:none;
}

.EVE_titulo3{
   font:bold 12px/12px Arial, Helvetica, sans-serif;
   color:white;
   margin: 6px 0px 0px 6px;
}

.EVE_titulo3 a:link{
   color: white;
   text-decoration:none;
}

.EVE_titulo3 a:visited{
   color: white;
   text-decoration:none;
}

.EVE_titulo3 a:hover{
   color: white;
   text-decoration:none;
}

.EVE_titulo3 a:active{
   color: white;
   text-decoration:none;
}

.EVE_titulo4{
   font:bold 12px/12px Arial, Helvetica, sans-serif;
   color:white;
   margin: 6px 6px 0px 0px;
}

.EVE_titulo4 a:link{
   color: white;
   text-decoration:none;
}

.EVE_titulo4 a:visited{
   color: white;
   text-decoration:none;
}

.EVE_titulo4 a:hover{
   color: white;
   text-decoration:none;
}

.EVE_titulo4 a:active{
   color: white;
   text-decoration:none;
}



.EVE_vineta1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin: 0px;
	background: url(images/modulos/vineta_5.gif) no-repeat 3px 4px;
}

.EVE_vineta1 a:link{
   color: Black;
   text-decoration:none;
}

.EVE_vineta1 a:visited{
   color: Black;
   text-decoration:none;
}

.EVE_vineta1 a:hover{
   color: #2D72E8;
   text-decoration:none;
}

.EVE_vineta1 a:active{
   color: Black;
   text-decoration:none;
}

.EVE_subtitulo1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:Black;
	margin: 0px;
}

.EVE_texto1{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin:0px;
}

.EVE_texto1 a:link{
   color: #e77900;
   text-decoration:underline;
}

.EVE_texto1 a:visited{
   color: #e77900;
   text-decoration:underline;
}

.EVE_texto1 a:hover{
   color: #e77900;
   text-decoration:none;
}

.EVE_texto1 a:active{
   color: #e77900;
   text-decoration:underline;
}

.EVE_texto2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#ff9610;
   padding-left:12px;
   margin:0px;
}

.EVE_texto2 a:link{
   color: #ff9610;
   text-decoration:none;
}

.EVE_texto2 a:visited{
   color: #ff9610;
   text-decoration:none;
}

.EVE_texto2 a:hover{
   color: #ff9610;
   text-decoration:none;
}

.EVE_texto2 a:active{
   color: #ff9610;
   text-decoration:none;
}

.EVE_texto3{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: Black;
	margin: 0px;
}

.EVE_texto4{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#ff9610;
	margin: 0px;
}

.EVE_texto4 a:link{
   color: #ff9610;
   text-decoration:none;
}

.EVE_texto4 a:visited{
   color: #ff9610;
   text-decoration:none;
}

.EVE_texto4 a:hover{
   color: #ff9610;
   text-decoration:underline;
}

.EVE_texto4 a:active{
   color: #ff9610;
   text-decoration:none;
}


/*  Estilos FKedit  */


.EVEF_titulo1{
   font:bold 13px Arial, Helvetica, sans-serif;
   color:#0E326F;
}

.EVEF_subtitulo1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:Black;
}

.EVEF_texto1{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:Black;
}

.EVEF_texto1 a:link{
   color: #2D72E8;
   text-decoration:underline;
}

.EVEF_texto1 a:visited{
   color: #2D72E8;
   text-decoration:underline;
}

.EVEF_texto1 a:hover{
   color: #2D72E8;
   text-decoration:none;
}

.EVEF_texto1 a:active{
   color: #2D72E8;
   text-decoration:underline;
}

.EVEF_texto2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#0E326F;
}

.EVEF_texto2 a:link{
   color: #0E326F;
   text-decoration:none;
}

.EVEF_texto2 a:visited{
   color: #0E326F;
   text-decoration:none;
}

.EVEF_texto2 a:hover{
   color: #0E326F;
   text-decoration:underline;
}

.EVEF_texto2 a:active{
   color: #0E326F;
   text-decoration:none;
}

.EVEF_vineta1{
   font:bold 12px Arial, Helvetica, sans-serif;
	color:Black;
   padding-left:12px;
   margin: 0px;
	display: block;	
	background: url(images/modulos/vineta_1.gif) no-repeat 3px 2px;
}

.EVEF_vineta1 a:link{
   color: #000000;
   text-decoration:none;
}

.EVEF_vineta1 a:visited{
   color: #000000;
   text-decoration:none;
}

.EVEF_vineta1 a:hover{
   color: #2D72E8;
   text-decoration:underline;
}

.EVEF_vineta1 a:active{
   color: #000000;
   text-decoration:none;
}