.GAL_CONTE_modulo{
	width: auto;
	height: auto;
/*	padding: 10px;*/
}

.GAL_CONTE_descripcion{
	width: auto;
	height: auto;
	padding-bottom: 10px;
}

.GAL_tablaGaleria{
	width: auto;
	height: auto;
	margin: 0px auto;
	padding: 0px;
	border-collapse: collapse;
}

.GAL_tablaGaleria td{
	width: auto;
	height: auto;
	padding: 10px 5px 10px 5px;
	margin: 0px;
	border-collapse: collapse;
	border: 0px;
}

.GAL_tdGaleria{ 
	width: 195px !important;
	height: auto !important;
}

.GAL_CONTE_imagenGaleria{
	width: auto;
	height: auto;
}

.GAL_CONTE_imagen{
	width: auto;
	height: auto;
	padding: 5px;
	border: solid 1px #ddd;
}

.GAL_CONTE_contenido{
	width: auto;
	height: auto;
	overflow: hidden;
}

.GAL_CONTE_datos{
	width: 165px;
	height: auto;
	padding: 0 5px;
}

.GAL_CONTE_tituloImagen{
	width: auto;
	height: auto;
	padding: 5px 0;
	cursor: pointer;
}

.GAL_CONTE_detalleImagen{
	width: auto;
	height: auto;
	padding-left: 8px;
}

.GAL_CONTE_enlace{
	width: 20px;
	height: 20px;
	background: url(images/modulos/vineta_2a.gif) no-repeat 8px 7px ;
}

/* Lista Galeria */

.GAL_CONTE_titulo {
	width:auto;
	height:auto;
   padding:12px;
}

.GAL_CONTE_bloque{
   width: auto;
   height: auto;
   padding-bottom: 20px;
}

.GAL_combo{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:#000000;
   margin:0px;
}


.GAL_CONTE_bloqueInterno1{
   width:65%;
	height:auto;
}

.GAL_CONTE_bloqueInterno2{
   width:auto;
	height:auto;
}

.GAL_CONTE_combo{
	width: auto;
	height: auto;
	padding-bottom: 10px;
}

.GAL_CONTE_combo select{
	padding: 0px;
}

.GAL_tabla1{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.GAL_tabla1 td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.GAL_CONTE_subir{
   width: auto;
   height: auto;
   padding: 2px 0 8px 0;
}

.GAL_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 10px 0 0;
   padding: 6px 0 6px 0;
   background: url(images/modulos/flecha_arriba.gif) no-repeat center 0px;
}

.GAL_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.GAL_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.GAL_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.GAL_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}


.GAL_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.GAL_linea hr{ 
	display:none;
}

/***************** Popup ******************/

.GAL_CONTE_popup{
	width: 600px;
	height: auto;
	background: #ffffff;
}

.GAL_CONTE_popupCabecera{
	width: auto;
	height: 100px;
	position: relative;
}

.GAL_CONTE_popupLogo{
	width: 222px;
	height: 55px;
	position: absolute;
	background: url(images/modulos/imagen_logo.jpg) no-repeat;
	top: 8px;
	left: 12px;
}

.GAL_CONTE_popupCerrar{
	width: 51px;
	height: auto;
	position: absolute;
	top: 10px;
	right: 6px;
}

.GAL_CONTE_popupTitulo{
	width: auto;
	height: auto;
	padding: 10px 10px;
	border-top: solid 4px #000000;
	background: #e77900;
}

.GAL_CONTE_popupGaleria{
	width: auto;
	height: auto;
	padding-top: 20px;
	overflow: hidden;
}

.GAL_CONTE_popupBoton1off{
	width: 49px;
	height: 50px;
	display: inline;
	margin-top: 130px;
	float: left;
	background: url(images/modulos/boton_galeria1off.gif) no-repeat 16px 12px;
	cursor: pointer;
}

.GAL_CONTE_popupBoton2off{
	width: 49px;
	height: 50px;
	display: inline;
	margin-top: 130px;
	float: left;
	background: url(images/modulos/boton_galeria2off.gif) no-repeat 18px 12px;
	cursor: pointer;
}

.GAL_CONTE_popupBoton1on{
	width: 49px;
	height: 50px;
	display: inline;
	margin-top: 130px;
	float: left;
	background: url(images/modulos/boton_galeria1on.gif) no-repeat 16px 12px;
	cursor: pointer;
}

.GAL_CONTE_popupBoton2on{
	width: 49px;
	height: 50px;
	display: inline;
	margin-top: 130px;
	float: left;
	background: url(images/modulos/boton_galeria2on.gif) no-repeat 18px 12px;
	cursor: pointer;
}

.GAL_CONTE_popupImagen{
	width: 500px;
	height: auto;
	border: solid 1px #000000;
	float: left;
}

.GAL_CONTE_popupContenido{
	width: auto;
	height: auto;
	padding: 10px 49px;
}


/******************** Texto **********************/

.GAL_titulo1{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;
}

.GAL_titulo2{
   font:bold 14px Arial, Helvetica, sans-serif;
   color:black;
   margin: 0px;
}


.GAL_texto1{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	margin: 0px;
}

.GAL_texto1 a:link{
   color: #657c8a;
   text-decoration:underline;
}

.GAL_texto1 a:visited{
   color: #657c8a;
   text-decoration:underline;
}

.GAL_texto1 a:hover{
   color: #657c8a;
   text-decoration:none;
}

.GAL_texto1 a:active{
   color: #657c8a;
   text-decoration:underline;
}

.GAL_texto2{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	margin: 0px;
}

.GAL_texto2 a:link{
   color: #657c8a;
   text-decoration:underline;
}

.GAL_texto2 a:visited{
   color: #657c8a;
   text-decoration:underline;
}

.GAL_texto2 a:hover{
   color: #657c8a;
   text-decoration:none;
}

.GAL_texto2 a:active{
   color: #657c8a;
   text-decoration:underline;
}

.GAL_texto3{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: Black;
	margin: 0px;
}

.GAL_texto4{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #ff9610;
	margin: 0px;
	margin-left:12px;
}

.GAL_texto4 a:link{
   color: #ff9610;
   text-decoration:underline;
}

.GAL_texto4 a:visited{
   color: #ff9610;
   text-decoration:underline;
}

.GAL_texto4 a:hover{
   color: #ff9610;
   text-decoration:none;
}

.GAL_texto4 a:active{
   color: #ff9610;
   text-decoration:underline;
}


.GAL_texto5{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin:0px;
}

.GAL_texto5 a:link{
   color: #e77900;
   text-decoration:underline;
}

.GAL_texto5 a:visited{
   color: #e77900;
   text-decoration:underline;
}

.GAL_texto5 a:hover{
   color: #e77900;
   text-decoration:none;
}

.GAL_texto5 a:active{
   color: #e77900;
   text-decoration:underline;
}

.GAL_texto6{
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#e77900;
	padding-left:12px;
	margin: 0px;
}

.GAL_texto6 a:link{
	text-decoration:underline;
	color:#e77900;
}
		
.GAL_texto6 a:visited{
	text-decoration:underline;
	color:#e77900;
}

.GAL_texto6 a:hover{
	text-decoration:none;
	color:#e77900;
}

.GAL_texto6 a:active{
	text-decoration:underline;
	color:#e77900;
}  

.GAL_vineta1{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	margin: 0px;
	padding: 0 0 0 8px;
	background: url(images/modulos/vineta_1.gif) no-repeat 0px 4px;
}

.GAL_vineta1 a:link{
	text-decoration: none;
	color: #5c5c5c;
}

.GAL_vineta1 a:visited{
	text-decoration: none;
	color: #5c5c5c;
}

.GAL_vineta1 a:hover{
	text-decoration: underline;
	color: #5c5c5c;
}

.GAL_vineta1 a:active{
	text-decoration: none;
	color: #5c5c5c;
}

.GAL_vineta3{
	font: bold 12px Arial, Helvetica, sans-serif;
	color: Black;
	margin: 0px;
	padding: 0 0 0 12px;
	background: url(images/modulos/vineta_5.gif) no-repeat 0px 4px;
}

.GAL_vineta3 a:link{
	text-decoration: none;
	color: Black;
}

.GAL_vineta3 a:visited{
	text-decoration: none;
	color: Black;
}

.GAL_vineta3 a:hover{
	text-decoration: underline;
	color: Black;
}

.GAL_vineta3 a:active{
	text-decoration: none;
	color: Black;
}

.GAL_vineta2{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	margin: 0px;
	padding: 0 0 0 8px;
	background: url(images/modulos/vineta_1.gif) no-repeat 0px 4px;
}

.GAL_vineta2 a:link{
	text-decoration: none;
	color: #5c5c5c;
}

.GAL_vineta2 a:visited{
	text-decoration: none;
	color: #5c5c5c;
}

.GAL_vineta2 a:hover{
	text-decoration: underline;
	color: #5c5c5c;
}

.GAL_vineta2 a:active{
	text-decoration: none;
	color: #5c5c5c;
}