.IMP_Cabecera{
	width:auto;
	height:auto;
}
.IMP_BarraGris{
	width:auto;
	height:5px;
	background-color:#949494;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1px;
}
.IMP_BarraModulo{
	width:auto;
	height:11px;
	background-color:#a60343;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1px;
}
.IMP_Navegacion{
	width:auto;
	height:26px;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#525252;
	padding-top:5px;
	margin-right:10px;
}
.IMP_Navegacion A:active
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline;
}
.IMP_Navegacion A:link
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline;
}
.IMP_Navegacion A:visited
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: underline;
}
.IMP_Navegacion A:hover
{
    COLOR: #5c5c5c;
    TEXT-DECORATION: none;
}
.IMP_Titulo{
	width:auto;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#525252;
	padding-bottom:5px;
    FONT-WEIGHT: bold;
	padding-left:15px;
}
.IMP_Contenido{
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#5c5c5c;
	padding-left:15px;
}


#TBL_Cabecera{
	width:100%;
	height:auto;
	padding: 7px 0px;
	text-align:center;
	background-color:gray;
	border-bottom: solid 1px #000000;
}

#TBL_Cabecera input{
	margin:0px 10px;
}
