.MAP_CONTE_modulo{
	width: auto;
	height: auto;
}

.MAP_CONTE_sitio{
	width: auto;
	height: auto;
}


.MAP_CONTE_nivel0 {
	width: auto;
	height: auto;
	padding: 1px 0;
}

.MAP_CONTE_nivel1 {
	width: auto;
	height: auto;
	padding: 1px 0;
}

.MAP_CONTE_nivel2 {
	width: auto;
	height: auto;
	padding: 1px 0;
}

.MAP_CONTE_nivel3 {
	width: auto;
	height: auto;
	padding: 1px 0;
}

.MAP_CONTE_nivel4 {
	width: auto;
	height: auto;
	padding: 1px 0;
}

.MAP_CONTE_nivel5 {
	width: auto;
	height: auto;
	padding: 1px 0;
}

.MAP_CONTE_nivel6 {
	width: auto;
	height: auto;
	padding: 1px 0;
}

.MAP_CONTE_nivel7 {
	width: auto;
	height: auto;
	padding: 1px 0;
}

.MAP_textoNivel0 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #e77900;
	padding-left: 10px;
	margin: 0px;
	background: url(images/modulos/vineta_1.gif) no-repeat 1px 5px;
}

.MAP_textoNivel0 a:link{
	color: #e77900;
	text-decoration: none;
}

.MAP_textoNivel0 a:visited{
	color: #e77900;
	text-decoration: none;
}

.MAP_textoNivel0 a:hover{
	color: #e77900;
	text-decoration: underline;
}

.MAP_textoNivel0 a:active{
	color: #e77900;
	text-decoration: none;
}


.MAP_textoNivel1 {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #ff9610;
	padding-left: 20px;
	margin: 0px;
}

.MAP_textoNivel1 a:link{
	color: #ff9610;
	text-decoration: none;
}

.MAP_textoNivel1 a:visited{
	color: #ff9610;
	text-decoration: none;
}

.MAP_textoNivel1 a:hover{
	color: #ff9610;
	text-decoration: underline;
}

.MAP_textoNivel1 a:active{
	color: #ff9610;
	text-decoration: none;
}


.MAP_textoNivel2 {
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	padding-left: 30px;
	margin: 0px;
	background: url(images/modulos/vineta_4.gif) no-repeat 21px 3px;
}

.MAP_textoNivel2 a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel2 a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel2 a:hover{
	color: #5c5c5c;
	text-decoration: underline;
}

.MAP_textoNivel2 a:active{
	color: #5c5c5c;
	text-decoration: none;
}



.MAP_textoNivel3 {
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	padding-left: 40px;
	margin: 0px;
}

.MAP_textoNivel3 a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel3 a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel3 a:hover{
	color: #5c5c5c;
	text-decoration: underline;
}

.MAP_textoNivel3 a:active{
	color: #5c5c5c;
	text-decoration: none;
}



.MAP_textoNivel4 {
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	padding-left: 50px;
	margin: 0px;
}

.MAP_textoNivel4 a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel4 a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel4 a:hover{
	color: #5c5c5c;
	text-decoration: underline;
}

.MAP_textoNivel4 a:active{
	color: #5c5c5c;
	text-decoration: none;
}



.MAP_textoNivel5 {
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	padding-left: 60px;
	margin: 0px;
}

.MAP_textoNivel5 a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel5 a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel5 a:hover{
	color: #5c5c5c;
	text-decoration: underline;
}

.MAP_textoNivel5 a:active{
	color: #5c5c5c;
	text-decoration: none;
}



.MAP_textoNivel6 {
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	padding-left: 70px;
	margin: 0px;
}

.MAP_textoNivel6 a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel6 a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel6 a:hover{
	color: #5c5c5c;
	text-decoration: underline;
}

.MAP_textoNivel6 a:active{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel7 {
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	padding-left: 80px;
	margin: 0px;
}

.MAP_textoNivel7 a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel7 a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.MAP_textoNivel7 a:hover{
	color: #5c5c5c;
	text-decoration: underline;
}

.MAP_textoNivel7 a:active{
	color: #5c5c5c;
	text-decoration: none;
}
