/* Contenedores */

.PAR_CONTE_modulo{
	width: auto;
	height: auto;
}

.PAR_CONTE_combo{
	width: auto;
	height: auto;
	padding-bottom: 10px;
}

.PAR_CONTE_combo select{
	padding: 0px;
}

.PAR_CONTE_comboTitulo{
	width: 145px !important;
	height: auto;
	padding:0px 0px 0px 12px  !important;
}

.PAR_CONTE_titulo {
	width:auto;
	height:auto;
   padding:12px;
}

.PAR_CONTE_bloque{
   width: auto;
   height: auto;
   padding-bottom: 20px;
}

.PAR_CONTE_bloqueInterno1{
   width:65%;
	height:auto;
}

.PAR_CONTE_bloqueInterno2{
   width:auto;
	height:auto;
}

.PAR_CONTE_descargas{
	width: auto;
	height: auto;
	padding-top: 10px;
}

.PAR_CONTE_descargas img{
	padding-right: 4px;
}


/* Contenedor Subir */

.PAR_CONTE_subir{
   width: auto;
   height: auto;
   padding: 2px 0 8px 0;
}

.PAR_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 10px 0 0;
   padding: 6px 0 6px 0;
   background: url(images/modulos/flecha_arriba.gif) no-repeat center 0px;
}

.PAR_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.PAR_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.PAR_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.PAR_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}

.PAR_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.PAR_linea hr{ 
	display:none;
}

.PAR_vinetaDescargas{
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#0E326F;
}

.PAR_vinetaDescargas a:link{
	text-decoration:underline;
	color:#2D72E8;
}
		
.PAR_vinetaDescargas a:visited{
	text-decoration:underline;
	color:#2D72E8;
}

.PAR_vinetaDescargas a:hover{
	text-decoration:none;
	color:#2D72E8;
}

.PAR_vinetaDescargas a:active{
	text-decoration:underline;
	color:#2D72E8;
}  

/* Formato de Contenidos */

.PAR_tabla1{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.PAR_tabla1 td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.PAR_titulo1{
   font:bold 14px Arial, Helvetica, sans-serif;
   color:#0E326F;
   margin: 0px;
}

.PAR_vineta1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin: 0px;
	background: url(images/modulos/vineta_1.gif) no-repeat 3px 2px;
}

.PAR_texto1{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:Black;
   padding-left:12px;
   margin:0px;
}

.PAR_texto1 a:link{
   color: #2D72E8;
   text-decoration:underline;
}

.PAR_texto1 a:visited{
   color: #2D72E8;
   text-decoration:underline;
}

.PAR_texto1 a:hover{
   color: #2D72E8;
   text-decoration:none;
}

.PAR_texto1 a:active{
   color: #2D72E8;
   text-decoration:underline;
}

.PAR_texto2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#0E326F;
   padding-left:12px;
   margin:0px;
}

.PAR_texto2 a:link{
   color: #0E326F;
   text-decoration:none;
}

.PAR_texto2 a:visited{
   color: #0E326F;
   text-decoration:none;
}

.PAR_texto2 a:hover{
   color: #0E326F;
   text-decoration:underline;
}

.PAR_texto2 a:active{
   color: #0E326F;
   text-decoration:none;
}

.PAR_texto3{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: Black;
	margin: 0px;
}

.PAR_texto4{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: Black;
	margin: 0px;
}

.PAR_texto5{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:#2D72E8;
   padding-left:12px;
   margin:0px;
}

.PAR_texto5 a:link{
   color: #2D72E8;
   text-decoration:underline;
}

.PAR_texto5 a:visited{
   color: #2D72E8;
   text-decoration:underline;
}

.PAR_texto5 a:hover{
   color: #2D72E8;
   text-decoration:none;
}

.PAR_texto5 a:active{
   color: #2D72E8;
   text-decoration:underline;
}
.PAR_combo{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:#000000;
   margin:0px;
}
