	.POP_Contenedor_ST{
		position:absolute;
		width:auto;
		height:auto;
		background: transparent;
		border:0px solid #024a84;
		z-index: 999999;
	}

	.POP_Contenedor_CT {
		position:absolute;
		width:auto;
		height:auto;
		background-color:#F4F4F4;
		border:1px solid #024a84;
		z-index: 999999;
	}

	.POP_ContenedorTitulo {
		margin:0px;
		padding:3px 0px;
		/*padding:6px 0px;  estilo anterior  */
		width: 100%;
		height:auto;
		color:white;
		background-color: #024a84;
		font-weight: bold;
		float:left;
		z-index: 999999;
	}
	
	.POP_ContenedorTitulo p{
		margin:0px 24px 0px 10px;
		display:block;
		font: bold 10px Arial, Helvetica, sans-serif;
	}
		
	.POP_ContenedorCerrar{
		width:19px;
		height:auto;
		margin-left:-19px;
		font: bold 10px Arial, Helvetica, sans-serif;
		float:right;
		text-align:center;
	}
	
	.POP_ContenedorCerrar a{
		color:#FFFFFF;
		text-decoration:none;
		display: block;
		margin-top: 2px;
		margin-right:3px;
		border: 1px solid #ffffff;
	}
	
	.POP_ContenedorCerrar a:hover{
		color:#000000;
		text-decoration:none;
	}
	
	.POP_Contenido{
		width:auto;
		height:auto;
		padding:0px 10px;
		font: normal 11px Arial, Helvetica, sans-serif;
		clear:both;
		margin:0px;
	}

/*  Estilos FKedit  */


.POPF_titulo1{
   font:bold 13px Arial, Helvetica, sans-serif;
   color:#024a84;
}

.POPF_subtitulo1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:Black;
}

.POPF_texto1{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:#5c5c5c;
}

.POPF_texto1 a:link{
   color: #5c5c5c;
   text-decoration:underline;
}

.POPF_texto1 a:visited{
   color: #5c5c5c;
   text-decoration:underline;
}

.POPF_texto1 a:hover{
   color: #5c5c5c;
   text-decoration:none;
}

.POPF_texto1 a:active{
   color: #5c5c5c;
   text-decoration:underline;
}

.POPF_texto2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#024a84;
}

.POPF_texto2 a:link{
   color: #024a84;
   text-decoration:none;
}

.POPF_texto2 a:visited{
   color: #024a84;
   text-decoration:none;
}

.POPF_texto2 a:hover{
   color: #024a84;
   text-decoration:underline;
}

.POPF_texto2 a:active{
   color: #024a84;
   text-decoration:none;
}

.POPF_vineta1{
   font:bold 12px Arial, Helvetica, sans-serif;
	color:Black;
   padding-left:12px;
   margin: 0px;
	display: block;	
	background: url(images/modulos/vineta_1.gif) no-repeat 3px 2px;
}

.POPF_vineta1 a:link{
   color: #024a84;
   text-decoration:none;
}

.POPF_vineta1 a:visited{
   color: #024a84;
   text-decoration:none;
}

.POPF_vineta1 a:hover{
   color: #024a84;
   text-decoration:underline;
}

.POPF_vineta1 a:active{
   color: #024a84;
   text-decoration:none;
}