#POS_Seleccione{
	width:auto;
	height:auto;
	margin-bottom:10px;
}
.POS_TituloCombo {
	width: 120px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	PADDING-LEFT: 11px;
	COLOR: #5c5c5c;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
}
.POS_Combo {
	width: auto;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	PADDING-LEFT: 11px;
	COLOR: #5c5c5c;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
}
.POS_Linea {
	BACKGROUND: #bcbcbc; WIDTH: 100%; HEIGHT: 1px;
}
.POS_Linea HR {
	DISPLAY: none;
}
#POS_Postal{
	width: 547px;
	height: auto;
	overflow: hidden;
	padding-top:20px;
	padding-bottom: 10px;
}
.POS_GrupoPostalHorizontal{
	width: 165px;
	height: auto;
	float: left;
	margin-right: 7px;
	margin-bottom: 20px;
}
html>body .POS_GrupoPostalHorizontal{
	width: 165px;
	height: auto;
	float: left;
	margin-right: 7px;
	margin-bottom: 20px;
}
.POS_PostalImagen{
	width: 163px;
	height: 128px;
	border: solid 1px #708090;
}
.POS_PostalImagenGrande{
	border: solid 1px #708090;
}
.POS_GrupoContenido{
	width: 165px;
	height: auto;
}
.POS_Tema {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	padding-bottom:10px;
	padding-top:10px;
	COLOR: #a81d48;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.POS_Tema A:active {
	COLOR: #a81d48; 
	TEXT-DECORATION: underline
}
.POS_Tema A:link {
	COLOR: #a81d48; 
	TEXT-DECORATION: underline
}
.POS_Tema A:visited {
	COLOR: #a81d48; 
	TEXT-DECORATION: underline
}
.POS_Tema A:hover {
	COLOR: #a81d48; 
	TEXT-DECORATION: none
}

.POS_Nombre {
	FONT-SIZE: 11px;
	padding-bottom:5px;
	padding-top:5px;
	COLOR: #5c5c5c;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.POS_Nombre A:active {
	COLOR: #5c5c5c; 
	TEXT-DECORATION: underline
}
.POS_Nombre A:link {
	COLOR: #5c5c5c; 
	TEXT-DECORATION: underline
}
.POS_Nombre A:visited {
	COLOR: #5c5c5c; 
	TEXT-DECORATION: underline
}
.POS_Nombre A:hover {
	COLOR: #a81d48; 
	TEXT-DECORATION: none
}

.POS_Enviar {
	FONT-SIZE: 9px;
	padding-bottom:5px;
	COLOR: #343434;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND: url(/RepositorioAPS/estilos/0/0/images/boton_postal.gif) no-repeat 3px 2px;
	PADDING-LEFT: 12px;
}
.POS_Enviar A:active {
	COLOR: #343434; 
	TEXT-DECORATION: underline
}
.POS_Enviar A:link {
	COLOR: #343434; 
	TEXT-DECORATION: underline
}
.POS_Enviar A:visited {
	COLOR: #343434; 
	TEXT-DECORATION: underline
}
.POS_Enviar A:hover {
	COLOR: #a81d48; 
	TEXT-DECORATION: none
}
.POS_ContenidoTabla {
	FONT-SIZE: 11px;
	COLOR: #5c5c5c;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
}
.POS_ContenidoTabla A:active {
	COLOR: #5c5c5c; 
	TEXT-DECORATION: underline
}
.POS_ContenidoTabla A:link {
	COLOR: #5c5c5c; 
	TEXT-DECORATION: underline
}
.POS_ContenidoTabla A:visited {
	COLOR: #5c5c5c; 
	TEXT-DECORATION: underline
}
.POS_ContenidoTabla A:hover {
	COLOR: #a81d48; 
	TEXT-DECORATION: none
}
.POS_ContenidoTabla2 {
	FONT-SIZE: 11px;
	COLOR: #a81d48;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
}
.POS_ContenidoTabla2 A:active {
	COLOR: #a81d48; 
	TEXT-DECORATION: underline
}
.POS_ContenidoTabla2 A:link {
	COLOR: #a81d48; 
	TEXT-DECORATION: underline
}
.POS_ContenidoTabla2 A:visited {
	COLOR: #a81d48; 
	TEXT-DECORATION: underline
}
.POS_ContenidoTabla2 A:hover {
	COLOR: #a81d48; 
	TEXT-DECORATION: none
}
.POS_ContenidoDetalle {
	FONT-SIZE: 11px;
	COLOR: #5c5c5c;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.POS_ContenidoDetalle A:active {
	COLOR: #5c5c5c; 
	TEXT-DECORATION: underline
}
.POS_ContenidoDetalle A:link {
	COLOR: #5c5c5c; 
	TEXT-DECORATION: underline
}
.POS_ContenidoDetalle A:visited {
	COLOR: #5c5c5c; 
	TEXT-DECORATION: underline
}
.POS_ContenidoDetalle A:hover {
	COLOR: #a81d48; 
	TEXT-DECORATION: none
}
.POS_Caracteres {
	FONT-SIZE: 11px;
	COLOR: #a81d48;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.POS_Caracteres A:active {
	COLOR: #a81d48; 
	TEXT-DECORATION: underline
}
.POS_Caracteres A:link {
	COLOR: #a81d48; 
	TEXT-DECORATION: underline
}
.POS_Caracteres A:visited {
	COLOR: #a81d48; 
	TEXT-DECORATION: underline
}
.POS_Caracteres A:hover {
	COLOR: #a81d48; 
	TEXT-DECORATION: none
}
.POS_ContSubir{ 
	width:auto;
	height:auto;
	padding:8px 0px;
	text-align:right;
}

.POS_ContSubir p{ 
	font:bold 9px Arial, Helvetica, sans-serif;
	color:#252525;
	padding-top:20px;
	margin:0px 12px 8px 0px;
	background:url(/RepositorioAPS/estilos/0/images/flecha_arriba.gif) no-repeat 516px 14px;
}

.POS_ContSubir p a:link{ 
	color:#252525;
	text-decoration:none;
}

.POS_ContSubir p a:visited{ 
	color:#252525;
	text-decoration:none;
}

.POS_ContSubir p a:hover{ 
	color:#a81d48;
	text-decoration:underline;
}

.POS_ContSubir p a:active{ 
	color:#252525;
	text-decoration:none;
}
.POS_LineaPloma{ 
	width:auto;
	height:1px;
	background:#BBBBBB;
	text-align:right;
}

.POS_LineaPloma hr{ 
	display:none;
}
.POS_ContContenedor{ 
	width:auto;
	height:auto;
	overflow:hidden;
	margin-bottom:20px;
}

.POS_ContBotones{ 
	width:auto;
	height:auto;
	padding:4px 8px 4px 8px;
	text-align:right;
	
}

.POS_ContBotones p{ 
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#252525;
	margin:0px 0px 0px 12px;
	padding-left:10px;
	background:url(/RepositorioAPS/estilos/0/0/images/flechita.gif) no-repeat 2px 2px;
	display:inline;

}

.POS_ContBotones p a:link{ 
	color:#252525;
	text-decoration:none;
}

.POS_ContBotones p a:visited{ 
	color:#252525;
	text-decoration:none;
}

.POS_ContBotones p a:hover{ 
	color:#252525;
	text-decoration:underline;
}

.POS_ContBotones p a:active{ 
	color:#252525;
	text-decoration:none;
}

.POS_Mensaje{ 
	font:normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#252525;
	FONT-WEIGHT: bold;
	width:auto;
	height:auto;
}

.POS_Mensaje a:link{ 
	color:#a81d48;
	text-decoration:underline;
}

.POS_Mensaje a:visited{ 
	color:#a81d48;
	text-decoration:underline;
}

.POS_Mensaje a:hover{ 
	color:#a81d48;
	text-decoration:none;
}

.POS_Mensaje a:active{ 
	color:#a81d48;
	text-decoration:underline;
}
.POS_Credito{ 
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#252525;
	width:auto;
	height:auto;
}

.POS_Credito a:link{ 
	color:#252525;
	text-decoration:underline;
}

.POS_Credito a:visited{ 
	color:#252525;
	text-decoration:underline;
}

.POS_Credito a:hover{ 
	color:#252525;
	text-decoration:none;
}

.POS_Credito a:active{ 
	color:#252525;
	text-decoration:underline;
}