/****************** Registros *********************/


.REG_CONTE_modulo{
	width: 420px;
	height: auto;
	background: #ffffff;
	margin: 0px auto;
}

/* Recomendar Pagina */

.REG_CONTE_recomendarPagina{
	width: 450px;
	height: auto;
	background: #ffffff;
}

.REG_CONTE_recomendarCabecera{
	width: auto;
	height: 76px;
	border-bottom: solid 4px #252525;
	background: url(images/modulos/fondo_logo.jpg) no-repeat;
}

.REG_CONTE_recomendarTitulo{
	width: auto;
	height: auto;
	padding: 10px 15px;
	background: #4a6d94;
}

.REG_CONTE_recomendarTitulo p{
	font: bold 15px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;
}

.REG_CONTE_recomendarContenido{
	width: auto;
	height: auto;
	padding: 10px 15px;
}

.REG_CONTE_cerrarBoton{
	width: 20px;
	height: 12px;
	padding: 5px;
	float: right;
	cursor: pointer;
}


.REG_CONTE_cerrarBoton p{ 
	font: normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #252525;
}

.REG_CONTE_cerrarBoton p a:link{
	text-decoration: none;
	color: #252525;
}

.REG_CONTE_cerrarBoton p a:visited{
	text-decoration: none;
	color: #252525;
}

.REG_CONTE_cerrarBoton p a:hover{
	text-decoration: underline;
	color: #252525;
}

.REG_CONTE_cerrarBoton p a:active{
	text-decoration: none;
	color: #252525;
}


/* Formulario */


.REG_CONTE_form1{ 
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
}

.REG_CONTE_form1 br {
	clear: left;
}

.REG_CONTE_fila1{ 
	width: auto;
	height: auto;
}

.REG_CONTE_fieldset1{ 
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0 0 10px 0;
	border: none;
}

.REG_CONTE_label1{ 
	width: 145px;
	height: auto;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	float:left;
	padding: 0 0 0 0;
	margin: 5px 0 5px 0;
	text-align: left;
	display: block;
}

.REG_CONTE_input1{ 
	width: 240px;
	height: auto;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	float:left;
	padding: 2px 0 2px 0;
	margin: 0 0 5px 0;
	display: block;
}

.REG_CONTE_input2{ 
	width: 22px;
	height: auto;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	float:left;
	padding: 2px 0 2px 0;
	margin: 0 0 5px 145px;
	display: block;
}

.REG_CONTE_textarea1{ 
	width: 240px;
	height: 50px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	float:left;
	padding: 2px 0 2px 0;
	margin: 0 0 5px 0;
	display: block;
}

/* Contenedor Subir */

.REG_CONTE_enlaces{
   width: auto;
   height: auto;
   padding: 2px 30px 8px 30px;
}

.REG_CONTE_enlaces input{ 
	width: 50px;
	height: 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	background: #6b79c6;
}

/* Mensajes */


.REG_CONTE_mensaje{ 
	width: auto;
	height: auto;
	padding: 0px 0px 25px 0px;
}

.REG_CONTE_mensaje p{ 
	font: bold 12px Arial, Helvetica, sans-serif;
	color: black;
	margin: 0px;
}


.REG_mensajeError{
	font: bold 12px Arial, Helvetica, sans-serif;
   color:#657C8A;
	padding: 8px 0;  
}

.REG_iconoError{
	font: bold 11px/14px Arial, Helvetica, sans-serif;
	color: #657C8A;
	padding: 1px 0 4px 22px;
	background: url(images/modulos/error.gif) no-repeat;
}

.REG_iconoAlerta{
	font: bold 11px/14px Arial, Helvetica, sans-serif;
	color: #657C8A;
	padding: 2px 0 4px 22px;
	background: url(images/modulos/alerta.gif) no-repeat;
}

.REG_mensajeFormulario{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: Black;
}


/* Login */

.REG_CONTE_moduloLogin{ 
	width: auto;
	height: auto;
}

.REG_CONTE_bloqueLogin1{ 
	width: auto;
	height: auto;
	padding: 18px 0 0 0;
}

.REG_CONTE_loginImagen{ 
	width: 96px;
	height: auto;
	padding-left: 14px;
}

.REG_CONTE_loginFormulario{ 
	width: 249px;
	height: auto;
	padding-left: 20px;
}

.REG_CONTE_bloqueLogin2{ 
	width: auto;
	height: auto;
}

.REG_CONTE_fieldset2{ 
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0 0 5px 0;
	border: none;
}

.REG_CONTE_label2{ 
	width: 85px;
	height: auto;
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #333333;
	float:left;
	padding: 0 0 0 0;
	margin: 5px 0 5px 0;
	text-align: left;
	display: block;
}

.REG_CONTE_input3{ 
	width: 150px;
	height: auto;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	float:left;
	padding: 2px 0 2px 0;
	margin: 0 0 5px 0;
	display: block;
}

.REG_CONTE_input4{ 
	width: auto;
	height: auto;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
}

/**************************************************************/


.REG_CONTE_bloqueLogin2{ 
	width: auto;
	height: auto;
}

.REG_CONTE_mensajeLogin{ 
	width: 279px;
	height: auto;
	padding-top: 85px;
}

.REG_CONTE_digitosLogin{ 
	width: 100px;
	height: auto;
}

.REG_CONTE_bloqueDigito{ 
	width: auto;
	height: auto;
}

.REG_CONTE_cuadradoDigitoLogin{ 
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	background: #ffbe00;
	border: 1px solid #de9600;
	margin: 0px 1px 1px 0px;
	text-align: center;
}

.REG_CONTE_cuadradoDigitoLogin a{ 
	width: 23px;
	height: 23px;
	font: bold 12px/23px Arial, Helvetica, sans-serif;
	color: #ffffff;
	background: #ffbe00;
	display: block;
	text-decoration: none;
}

.REG_CONTE_cuadradoDigitoLogin a:link{ 
	color: #ffffff;
	background: #ffbe00;
	text-decoration: none;
}

.REG_CONTE_cuadradoDigitoLogin a:visited{ 
	color: #ffffff;
	background: #ffbe00;
	text-decoration: none;
}

.REG_CONTE_cuadradoDigitoLogin a:hover{ 
	color: #ffffff;
	background: #ca9800;
	text-decoration: none;
}

.REG_CONTE_cuadradoDigitoLogin a:active{ 
	color: #ffffff;
	background: #ffbe00;
	text-decoration: none;
}

.REG_CONTE_cuadradoDigitoLogin2{ 
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	background: #ffbe00;
	border: 1px solid #de9600;
	margin: 0px 1px 1px 0px;
	text-align: center;
}

.REG_CONTE_cuadradoDigitoLogin2 a{ 
	width: 49px;
	height: 23px;
	font: bold 12px/23px Arial, Helvetica, sans-serif;
	color: #ffffff;
	background: #ffbe00;
	display: block;
	text-decoration: none;
}

.REG_CONTE_cuadradoDigitoLogin2 a:link{ 
	color: #ffffff;
	background: #ffbe00;
	text-decoration: none;
}

.REG_CONTE_cuadradoDigitoLogin2 a:visited{ 
	color: #ffffff;
	background: #ffbe00;
	text-decoration: none;
}

.REG_CONTE_cuadradoDigitoLogin2 a:hover{ 
	color: #ffffff;
	background: #ca9800;
	text-decoration: none;
}

.REG_CONTE_cuadradoDigitoLogin2 a:active{ 
	color: #ffffff;
	background: #ffbe00;
	text-decoration: none;
}

.REG_CONTE_boton1{ 
	width: auto;
	height: auto;
	padding: 5px 0px 10px 0px;
}

.REG_boton1{ 
	width: 77px;
	height: 22px;
	border: none;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	background: #007d94;
}

/**************************** NUEVO ******************************/

/* CONTENEDORES */

.REG_CONTE_info{ 
	width: auto;
	height: auto;
	padding: 10px 30px;
}


.REG_CONTE_login{ 
	width: 390px;
	height: auto;
	padding: 10px 0px;
}

.REG_CONTE_cambiarClave{ 
	width: 390px;
	height: auto;
	padding: 10px 0px;
}

.REG_linea1{ 
	width: 390px;
	height: 1px;
	background: #d7d7d7;
	margin: 10px 0px;
	overflow: hidden;
}

/****************/


.REG_subtitulo1{
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	color: #000000;
}

.REG_subtitulo1 a:link{
	text-decoration: underline;
	color: #004A83;
}

.REG_subtitulo1 a:visited{
	text-decoration: underline;
	color: #004A83;
}

.REG_subtitulo1 a:hover{
	text-decoration: none;
	color: #004A83;
}

.REG_subtitulo1 a:active{
	text-decoration: underline;
	color: #004A83;
}

.REG_subtitulo2{
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	color: #000000;
}

.REG_subtitulo2 a:link{
	text-decoration: underline;
	color: #004A83;
}

.REG_subtitulo2 a:visited{
	text-decoration: underline;
	color: #004A83;
}

.REG_subtitulo2 a:hover{
	text-decoration: none;
	color: #004A83;
}

.REG_subtitulo2 a:active{
	text-decoration: underline;
	color: #004A83;
}

.REG_subtitulo3{
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
}

.REG_subtitulo3 a:link{
	text-decoration: underline;
	color: #004A83;
}

.REG_subtitulo3 a:visited{
	text-decoration: underline;
	color: #004A83;
}

.REG_subtitulo3 a:hover{
	text-decoration: none;
	color: #004A83;
}

.REG_subtitulo3 a:active{
	text-decoration: underline;
	color: #004A83;
}

.REG_texto1{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
}

.REG_texto1 a:link{
	text-decoration: underline;
	color: #657C8A;
}

.REG_texto1 a:visited{
	text-decoration: underline;
	color: #657C8A;
}

.REG_texto1 a:hover{
	text-decoration: none;
	color: #657C8A;
}

.REG_texto1 a:active{
	text-decoration: underline;
	color: #657C8A;
}

.REG_texto2{
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
}

.REG_texto2 a:link{
	text-decoration: underline;
	color: #657C8A;
}

.REG_texto2 a:visited{
	text-decoration: underline;
	color: #657C8A;
}

.REG_texto2 a:hover{
	text-decoration: none;
	color: #657C8A;
}

.REG_texto2 a:active{
	text-decoration: underline;
	color: #657C8A;
}

.REG_texto3{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
}

.REG_texto3 a:link{
	text-decoration: underline;
	color: #657C8A;
}

.REG_texto3 a:visited{
	text-decoration: underline;
	color: #657C8A;
}

.REG_texto3 a:hover{
	text-decoration: none;
	color: #657C8A;
}

.REG_texto3 a:active{
	text-decoration: underline;
	color: #657C8A;
}


.REG_CONTE_generaCaptcha{ 
	width: auto;
	height: 90px !important;
	margin: 0px;
	padding: 0px;
}

.REG_UL_registros1{
	margin:0 auto;
	padding:0;
	list-style-type:none;
} 

.REG_UL_registros1 li{
	width: auto;
	height: auto;
	position: relative;
	list-style-type:none;
	padding-top:5px;
}

.REG_UL_registros1 li span{
	width: 120px;
	height: auto;
	display: block;
	text-align: right;
	position: absolute;
	margin-top:0px;
	padding:4px 0 0 0;
	list-style-type:none;
}  

.REG_UL_registros1 li input{
	position:relative;
	left:125px;
	margin-top:-4px;
}
				
.REG_UL_registros1 li textArea{
	position:relative;
	left:125px;
	margin-top:-4px;
}

.REG_UL_registros1 li label{
	position:relative;
	left:125px;
	margin-top:-4px;
}

.REG_UL_registros2{
	margin:0 auto;
	padding:0 0 0 50px;
	list-style-type:none;
} 

.REG_UL_registros2 li{
	width: auto;
	height: auto;
	position: relative;
	padding:0 0 0 0;
	list-style-type:none;
}

.REG_UL_registros3{
	margin:0 auto;
	padding:0;
	list-style-type:none;
} 

.REG_UL_registros3 li{
	width: auto;
	height: auto;
	position: relative;
	list-style-type:none;
	padding-top:0px;
}

.REG_UL_registros3 li span{
	width: 120px;
	height: auto;
	display: block;
	text-align: right;
	position: absolute;
	margin-top:0px;
	padding:4px 0 0 0;
	list-style-type:none;
}  

.REG_UL_registros3 li input{
	position:relative;
	left:125px;
	margin-top:-4px;
}
				
.REG_UL_registros3 li textArea{
	position:relative;
	left:125px;
	margin-top:-4px;
}

.REG_UL_registros4{
	width: auto;
	margin:0 auto;
	padding:0 0 0 0px;
	list-style-type:none;
	text-align: right;
	margin-top: 10px;
} 

.REG_UL_registros4 li{
	width: auto;
	height: auto;
/*	position: relative;*/
	padding:0 0 0 0px;
	list-style-type:none;
}

/*.REG_UL_registros4 li input{
	position:relative;
	left:125px;
	margin-top:-4px;
}*/

.REG_UL_registros5{
	margin:0 auto;
	padding:0;
	list-style-type:none;
} 

.REG_UL_registros5 li{
	width: auto;
	height: auto;
	position: relative;
	list-style-type:none;
	padding-top:5px;
}

.REG_UL_registros5 li span{
	width: 120px;
	height: auto;
	display: block;
	text-align: right;
	position: absolute;
	margin-top:0px;
	padding:4px 0 0 0;
	list-style-type:none;
}  

.REG_UL_registros5 li input{
	position:relative;
	left:125px;
	margin-top:-4px;
}
				
.REG_UL_registros5 li textArea{
	position:relative;
	left:125px;
	margin-top:-4px;
}

/*.REG_UL_registros5 ul table{
	position:absolute;
	left:125px;
	margin-top:-4px;
}

.REG_UL_registros5 ul table td{
	background: aqua;
}*/


/*************************** FIN NUEVO ***************************/




.REG_titulo1{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;
}







/*.REG_cajaTexto1{
	width: auto;
	height: auto;
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	color: #000000;
	border: solid 1px #BBBBBB;
	border-collapse: separate;
	background: White;
	margin: 0px;
	padding: 0px;
}*/




