body{
	margin: 0px;
	background: #9c9aad;
}

h1,h2,h3,h5,h6,h7,h8,p{
	margin: 0 0 auto 0;
}

/*************************** Maquetacion Principal *****************************/

.WEB_MAQUE_Alineacion1{
	width: 880px;
	height: auto;
	padding: 10px 10px 0 10px;
	margin: 0px auto;
	background: #5a7d94 url(images/web/fondo_alineacion1.jpg) repeat-x;
}

.WEB_MAQUE_Alineacion2{
	width: 760px;
	height: 54px;
	padding: 0 8px;
	margin: 0px auto;
	/*background: url(images/web/fondo_alineacion2.jpg) no-repeat ;*/
}



.WEB_MAQUE_Fondo1{
	width: 880px;
	height: auto;
/*	overflow: hidden;*/
	background: url(images/web/fondo_1.jpg) no-repeat;
	border-bottom: solid 1px #ffffff;
}

.WEB_MAQUE_Fondo2{
	width: 880px;
	height: 32px;
	background: #ffffff url(images/web/fondo_2.jpg) no-repeat center;
/*	overflow: hidden;*/
	border-bottom: solid 1px #ffffff;
}

/*.WEB_MAQUE_Fondo3{
	width: 880px;
	height: auto;
	padding: 2px 0 20px 0;
	background: white;
}*/

.WEB_MAQUE_Fondo3{
	width: 880px;
	height: auto;
	background: #ffffff url(images/web/fondo_3.jpg) repeat-y center;
/*	background: #212021;*/
}

.WEB_MAQUE_Fondo4{
	width: auto;
	height: 84px;
	padding: 0 0 0 0;
	overflow: hidden;
	background: #ffffff url(images/web/fondo_4.jpg) no-repeat;
/*	border-top: solid 2px #151515;*/
}



.WEB_MAQUE_f1_c1{
	width: 880px;
	height: 119px;
}

.WEB_MAQUE_f2_c1{
	width: 866px;
	height: 32px;
	padding: 0 7px 0 7px;
	
}

.WEB_MAQUE_fx_c1{
	width: auto;
	height: auto;
	padding: 7px 7px 7px 7px;
	background: #212021;
}


.WEB_MAQUE_f3_c1{
	width: 866px;
	height: auto;
	padding: 0px 7px;
	
/*	background: #e7e7e7;*/
}

/*.WEB_MAQUE_f3_c1{
	width: 170px;
	height: auto;
	overflow: hidden;
}*/

/*.WEB_MAQUE_f3_c2{
	width: 705px;
	height: auto;
}*/


.WEB_MAQUE_f4_c1{
	width: auto;
	height: auto;
	padding: 0 0 0 255px;
	overflow: hidden;
}

/**************************************************************************/

.WEB_CONTE_tamanioLetra {
	width: auto;
	height: auto;
	padding: 8px 15px;
}

.WEB_CONTE_bloqueLetra{ 
	width: 20px;
	height: 16px;
	font: bold 10px/16px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#797979;
	text-align: center;
	border: solid 1px #dddedf;
	background: #bbbbbb;
	margin-left: 8px;
	float: right;
}

.WEB_CONTE_bloqueLetra a:link{
	color:#ffffff;
	text-decoration: none;
}

.WEB_CONTE_bloqueLetra a:visited{
	color:#ffffff;
	text-decoration: none;
} 

.WEB_CONTE_bloqueLetra a:hover{
	color:#ffffff;
	text-decoration: underline;
} 

.WEB_CONTE_bloqueLetra a:active{
	color:#ffffff;
	text-decoration: none;
} 

.WEB_CONTE_creditos{
	width: 880px;
	height: 18px;
	padding: 10px 10px 14px 10px;
	background: url(images/web/fondo_creditos.jpg) no-repeat;
	margin: 0px auto 0px auto;
}

.WEB_CONTE_placeHolder{
	width: auto;
	height: auto;
/*	overflow: hidden;*/
	padding: 3px 0 0px 0;
}

.WEB_CONTE_contenidoHolder{
	width: auto;
	height: auto;
	padding: 20px 40px 0px 40px;
/*	overflow: hidden;*/
}

.WEB_CONTE_menuJerarquia{
	width: auto;
	height: auto;
	/*padding-bottom: 20px;*/
	background: #4a6d94 ;
/*	overflow: hidden;*/
}

.WEB_FONDO_pieMenu{
	width: 170px;
	height: 78px;
	background: url(images/web/fondo_pie_menu.gif) no-repeat;
	overflow: hidden;
}

.WEB_CONTE_partners{
	width: auto;
	height: auto;
}

.WEB_CONTE_piePagina{
	width: auto;
	height: auto;
	overflow: hidden;
}

.WEB_CONTE_pieZona{
	width: auto;
	height: auto;
	padding: 15px 0 0 0;
	overflow: hidden;
}

.WEB_MAQUE_f3_c2>.WEB_CONTE_pieZona {   
	padding: 15px 0 20px 0;
}

*+html .WEB_CONTE_pieZona { 
	padding: 15px 0 0 0 !important ;
}

.WEB_CONTE_enlacesBasicos{
	width: auto;
	height: auto;
	padding: 10px 0 10px 0;
}

.WEB_CONTE_menuInferior{
	width: 660px;
	height: auto;
	padding: 8px 20px 12px 20px;
	background: url(images/web/fondo_menu_inferior.gif) repeat-x;
	margin: 5px 0 0 0;
}

.WEB_CONTE_menuInferior ul{
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	line-height: 12px;
	border: none;
	list-style: none;
}


.WEB_CONTE_menuInferior li{
	width: auto;
	height: auto;
	
	margin: 0 10px 0 0;
	display: inline;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	list-style: none;
}

.WEB_CONTE_menuInferior>ul>li {
	margin: 0 9px 0 0;
}

*+html .WEB_CONTE_menuInferior li{
	margin: 0 10px 0 0;
}

.WEB_CONTE_menuInferior li a:link{
	text-decoration: none;
	color: #ffffff;
}

.WEB_CONTE_menuInferior li a:visited{
	text-decoration: none;
	color: #ffffff;
}

.WEB_CONTE_menuInferior li a:hover{
	text-decoration: none;
	color: #f7b81d;
}

.WEB_CONTE_menuInferior li a:active{
	text-decoration: none;
	color: #ffffff;
}

.WEB_CONTE_menuInferiorLinea{ 
	color: #f7b81d !important;
}

/* Opciones Inferior */

.WEB_CONTE_opcionesSuperior2{ 
	width: 200px;
	height: auto;
}

/* Buscador */

.WEB_CONTE_buscador{
	/*width: 195px;*/
	width: 200px;
	height: 27px;
	background: url(images/web/fondo_buscador.gif) no-repeat;
/*	padding: 6px 0 0 0 ;*/
	position: relative;
	margin-left: 15px;
}

.WEB_CONTE_buscador label{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	line-height: 11px;
}

.WEB_CONTE_buscador input{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #333333;
	border: none;
	background: none;
	width: 168px;
	height: 15px;
	margin: 0 15px 0 2px;
	padding: 0px;
	position: absolute;
	top: 4px;
}

.WEB_CONTE_buscadorBoton{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	right: 4px;
	cursor: pointer;
}

.WEB_CONTE_linea1{
	width: auto;
	height: 1px;
	background: #2E2E2E;
	overflow: hidden;
	border-bottom: solid 1px #606060;
}


.WEB_CONTE_iconoFavoritos_off{
	width: auto;
	height: auto;
	font: normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
	background: url(images/web/icono_agregar_favoritos.gif) no-repeat 14px 1px;
	padding: 4px 10px 4px 39px;
	cursor: pointer;
}

.WEB_CONTE_iconoFavoritos_on{
	width: auto;
	height: auto;
	font: normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ADADAD;
	background: url(images/web/icono_agregar_favoritos_on.gif) no-repeat 14px 1px;
	padding: 4px 10px 4px 39px;
}

.WEB_CONTE_iconoEnviar_off{
	width: auto;
	height: auto;
	font: normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
	background: url(images/web/icono_enviar_amigo_on.gif) no-repeat 14px 1px;
	padding: 4px 10px 4px 39px;
	cursor: pointer;
}

.WEB_CONTE_iconoEnviar_on{
	width: auto;
	height: auto;
	font: normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ADADAD;
	background: url(images/web/icono_enviar_amigo.gif) no-repeat 14px 1px;
	padding: 4px 10px 4px 39px;
}

.WEB_CONTE_banner1{
	width: auto;
	height: auto;
	padding: 5px 0 5px 0;
	background: #4a6d94;
}

.WEB_CONTE_banner1 img{
	display: block;
	border: none;
	margin: 0px auto;
}

.WEB_CONTE_banner2{
	width: auto;
	height: auto;
	padding: 0 0 5px 0;
}

.WEB_CONTE_banner2 img{
	display: block;
	border: none;
	margin: 0px auto;
}

.WEB_CONTE_banner3{
	width: auto;
	height: auto;
	padding: 0 0 0 0;
	
}

.WEB_CONTE_banner3 img{
	border: none;
	display: block;
	margin: 0px auto;
}

/******************************* Contendores ******************************/

.WEB_CONTE_cabecera{
	width: 880px;
	height: 119px;
	padding: 0;
/*	overflow: hidden;*/
	/*border-bottom: solid 1px #ffffff;*/
}

.WEB_CONTE_logo1{
	width: 130px;
	height: 100px;
	cursor: pointer;
}

.WEB_CONTE_logo2{
	width: auto;
	height: auto;
	padding-left: 14px;
	border-left: solid 1px #c6c3c6;
	cursor: pointer;
}

.WEB_CONTE_bloqueSuperior1{ 
	width: auto;
	height: 82px;
}

.WEB_CONTE_tituloSuperior{ 
	width: 505px;
	height: 30px;
	padding: 7px 0 0 15px;
}

.WEB_CONTE_bloque1{ 
	width: auto;
	height: auto;
}

.WEB_CONTE_bloque2{ 
	width: auto;
	height: auto;
}

.WEB_CONTE_opcionesSuperior{ 
	width: 280px;
	height: auto;
	padding: 0 0 0 80px;
}

.WEB_CONTE_opcionesIcono{ 
	height: 16px;
	font: normal 10px Arial, Helvetica, sans-serif;
	color: white;
	padding-top: 30px;
	float: left;
	text-align: center;
}

.WEB_CONTE_opcionesIcono a:link{
	text-decoration: none;
	color: white;
} 

.WEB_CONTE_opcionesIcono a:visited{
	text-decoration: none;
	color: white;
} 

.WEB_CONTE_opcionesIcono a:hover{
	text-decoration: underline;
	color: #91cef4;
} 

.WEB_CONTE_opcionesIcono a:active{
	text-decoration: none;
	color: white;
} 


.WEB_CONTE_opcionesIconoAyuda{ 
	width: 52px;
	background: url(images/web/icono_ayuda.jpg) no-repeat center 6px ;
}

.WEB_CONTE_opcionesIconoCorreo{ 
	width: 59px;
	background: url(images/web/icono_correo.jpg) no-repeat center 6px ;
	margin-left: 2px;
}

.WEB_CONTE_opcionesIconoMsn{ 
	width: 51px;
	background: url(images/web/icono_msn.jpg) no-repeat center 6px ;
	margin-left: 2px;
}

.WEB_CONTE_opcionesIconoSkype{ 
	width: 56px;
	background: url(images/web/icono_skype.jpg) no-repeat center 6px ;
	margin-left: 2px;
}

.WEB_CONTE_opcionesIconoSalir{ 
	width: 54px;
	background: url(images/web/icono_salir.jpg) no-repeat center 6px ;
	margin-left: 2px;
}


/* Tipo de Cambio */

.WEB_CONTE_tipoCambioMoneda{ 
	width: auto;
	height: auto;
	padding: 13px 18px 0 0;
}

/* Usuario */

.WEB_CONTE_usuario{ 
	width: auto;
	height: auto;
	padding: 5px 0 0 35px;
}




/* Menu Superior */

.WEB_CONTE_menuSuperior{
	width: 480px;
	height: 36px;
	/*background: url(images/web/_fondo_tab_parte1a.gif);*/
	position: relative;
	z-index: 90;
	/*padding: 6px 16px 6px 16px;*/
	/*background: #0B4D90;*/
/*	overflow: hidden;*/
}

.WEB_CONTE_menuTab1{
	width: 860px;
	height: auto;
	padding: 6px 10px;
	position: absolute;
	top:36px;
	left: -30px;
	z-index: 100;
	background: #00b6ce;
	/*border: 1px solid #00b6ce;*/
	border-top: 2px solid #ffffff;
/*	border-bottom: 1px solid #00b6ce;
	border-left: 1px solid #00b6ce;
	border-right: 1px solid #00b6ce;*/
/*	margin-top: -114px;*/
	cursor: default;
}

.WEB_CONTE_menuTab1 ul{
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	line-height: 12px;
	border: none;
	list-style: none;
}


.WEB_CONTE_menuTab1 li{
	width: auto;
	height: auto;
	margin: 0 12px 0 0;
	display: inline;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	list-style: none;
}

.WEB_CONTE_menuTab1>ul>li {
	margin: 0 11px 0 0;
}

*+html .WEB_CONTE_menuTab1 li{
	margin: 0 12px 0 0;
}

.WEB_CONTE_menuTab1 li a:link{
	text-decoration: none;
	color: #ffffff;
}

.WEB_CONTE_menuTab1 li a:visited{
	text-decoration: none;
	color: #ffffff;
}

.WEB_CONTE_menuTab1 li a:hover{
	text-decoration: none;
	color: #fee729;
}

.WEB_CONTE_menuTab1 li a:active{
	text-decoration: none;
	color: #ffffff;
}

.WEB_CONTE_menuTabLinea{ 
	color: #ffffff !important;
}



.WEB_CONTE_menuTab1:first-child{ 
	bottom:21px;
}

.WEB_CONTE_tabActivo{
	width: 23px;
	height: 23px;
	position: absolute;
	top:13px;
	left: 0px;
	z-index: 10;
	background: url(images/web/fondo_tab_parte2d.gif) no-repeat;
	display: none;
/*	margin-top: -114px;*/
}

.WEB_CONTE_tab{ 
	width: auto;
	height: 36px;
	cursor: pointer;
	display: block;
	position: relative;
}

.WEB_CONTE_tabParte1{ 
	width: auto;
	height: 26px;
	padding: 10px 4px 0 20px;
	background: url(images/web/fondo_tab_parte1a.gif) repeat-x;
	float: left;
}

.WEB_CONTE_tabParte2{ 
	width: 18px;
	height: 36px;
	background: url(images/web/fondo_tab_parte2a.gif) no-repeat;
	float: left;
}

.WEB_CONTE_tabParte1_on{ 
	width: auto;
	height: 26px;
	padding: 10px 4px 0 20px;
	background: url(images/web/fondo_tab_parte1b.gif) repeat-x;
	float: left;
}

.WEB_CONTE_tabParte2_on{ 
	width: 18px;
	height: 36px;
	background: url(images/web/fondo_tab_parte2b.gif) no-repeat;
	float: left;
}

.WEB_CONTE_fondoTab{ 
	width: 25px;
	height: 36px;
	/*background: url(images/web/fondo_tab_final.gif) no-repeat;*/
	background: url(images/web/fondo_tab_parte2e.gif) no-repeat;
}

/* Contenido Home */

.WEB_CONTE_barra{ 
	width: 866px;
	height: 32px;
}

.WEB_CONTE_bloqueBarraIzquierdo{ 
	width: 256px;
	height: auto;
	padding: 9px 0 0 10px;
	float: left;
}

.WEB_CONTE_bloqueBarraDerecho{ 
	width: 590px;
	height: auto;
	padding: 9px 10px 0 0;
	text-align: right;
	float: right;
}

.WEB_FONDO_home{
	height: 1%;
	background: #F0F0F0;
}

.WEB_CONTE_bannerHome{
	width: auto;
	height: auto;
	padding: 5px;
	background: white;
/*	margin: 7px 7px 7px 7px;*/
}

.WEB_CONTE_bannerHomeRelativo{
	width: auto;
	height: auto;
	position: relative;
	z-index: 0;
}

.WEB_CONTE_bannerHomeRelativo img{
	display: block;
	border: none;
}

.WEB_CONTE_bannerHomeBotones{ 
	width: 340px;
	height: 95px;
	position: absolute;
	top: 195px;
	left: 517px;
}

.WEB_CONTE_bannerHomeBotonesPNG{ 
	width: 340px;
	height: 95px;
	background-image: url(images/web/fondo_banner_botones.png) !important;
	background-repeat: no-repeat;
	background-image: none;
	filter: none !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/RepositorioAPS/estilos/0/0/images/web/fondo_banner_botones.png',sizingMethod='fit');
}

.WEB_CONTE_bannerHomeTitulo{ 
	width: auto;
	height: 32px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.WEB_CONTE_bannerMensaje{ 
	width: 308px;
	height: 22px;
	position: absolute;
	/*background-image: url(images/web/banner_home_mensaje1.png) !important;
	background-repeat: no-repeat;
	background-image: none;
	filter: none !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/RepositorioAPS/estilos/0/0/images/web/banner_home_mensaje1.png',sizingMethod='fit');*/
	top: 32px;
	left: 0px;
}


.WEB_CONTE_bannerHomeTituloParte1{ 
	width: 72px;
	height: 24px;
	padding: 8px 0 0 42px;
	background: url(images/web/fondo_banner_titulo1.png) no-repeat;
}

.WEB_CONTE_bannerHomeTituloParte2{ 
	width: auto;
	height: 22px;
	padding: 10px 0 0 14px;
	background: url(images/web/fondo_banner_titulo2.png) repeat-x;
}

.WEB_CONTE_bannerHomeTituloParte3{ 
	width: 40px;
	height: 32px;
	background-image: url(images/web/fondo_banner_titulo3.png) !important;
	background-repeat: no-repeat;
	background-image: none;
	filter: none !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/RepositorioAPS/estilos/0/0/images/web/fondo_banner_titulo3.png',sizingMethod='fit');
}

.WEB_CONTE_bannerHomeTituloParte4{ 
	width: 100px;
	height: 32px;
	background-image: url(images/web/fondo_banner_titulo4.png) !important;
	background-repeat: no-repeat;
	background-image: none;
	filter: none !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/RepositorioAPS/estilos/0/0/images/web/fondo_banner_titulo3.png',sizingMethod='fit');
}

.WEB_CONTE_botonBanner{ 
	width: 120px;
	height: 95px;
	margin-left: 30px;
}

.WEB_CONTE_botonBannerParte1{ 
	width: auto;
	height: 68px;
	padding: 10px 9px 0 9px
}

.WEB_CONTE_botonBannerParte2{ 
	width: auto;
	height: 17px;
}

.WEB_CONTE_botonBannerImagen1{ 
	width: 100px;
	height: 58px;
	border: 1px solid #ffffff;
	position: relative;
}

/*.WEB_CONTE_botonBannerImagen1_on{ 
	width: 100px;
	height: 58px;
	border: 1px solid #f79618;
	position: relative;
}*/

.WEB_CONTE_botonBannerImagen2{ 
	width: 100px;
	height: 58px;
	border: 1px solid #ffffff;
	position: relative;
}

/*.WEB_CONTE_botonBannerImagen2_on{ 
	width: 100px;
	height: 58px;
	border: 1px solid #f79618;
	position: relative;
}*/


.WEB_CONTE_botonBannerTitulo1{ 
	width: 66px;
	height: 12px;
	position: relative;
	background: url(images/web/boton_banner1.gif) no-repeat;
	margin: 0px auto;
	cursor: pointer;
}

.WEB_CONTE_botonBannerTitulo1_on{ 
	width: 66px;
	height: 12px;
	position: relative;
	background: url(images/web/boton_banner1_on.gif) no-repeat;
	margin: 0px auto;
}

.WEB_CONTE_botonBannerTitulo2{ 
	width: 70px;
	height: 12px;
	position: relative;
	background: url(images/web/boton_banner2.gif) no-repeat;
	margin: 0px auto;
	cursor: pointer;
}

.WEB_CONTE_botonBannerTitulo2_on{ 
	width: 70px;
	height: 12px;
	position: relative;
	background: url(images/web/boton_banner2_on.gif) no-repeat;
	margin: 0px auto;
}


.WEB_CONTE_bannerModulo1{
	width: auto;
	height: auto;
}

.WEB_CONTE_bannerModulo2{
	width: auto;
	height: auto;
	padding-bottom: 6px;
	/*	overflow: hidden;*/
}

.WEB_CONTE_interno1{
	width: auto;
	height: auto;
	position: relative;
	background: #ff9610;
}

.WEB_CONTE_calendario{
	width: 280px;
	height: auto;
}

.WEB_CONTE_zonaHome{
	width: 410px;
	height: auto;
	padding-top: 10px;
}

.WEB_CONTE_noticias{
	width: auto;
	height: auto;
/*	border: solid 1px #005298;*/
}

.WEB_CONTE_home1{ 
	width: auto;
	height: auto;
/*	position: relative;*/
/*	overflow: hidden;*/
}

.WEB_CONTE_home2{ 
	width: auto;
	height: auto;
	overflow: hidden;
}

.WEB_CONTE_bloqueHome1{
	width: 230px;
	height: auto;
	margin-right: 5px;
	display: inline;
}


.WEB_CONTE_bloqueContenido{ 
	width: auto;
	height: auto;
	padding: 10px;
/*	background: fuchsia;*/
}

.WEB_CONTE_scrollNoticias{ 
	width: auto;
	height: auto;
	/*padding: 5px 0px;*/
	/*height: 160px;
	clip: rect(0,200px,160px,0);*/
	/*padding: 0 5px 0 5px;*/
	overflow: hidden;
	position: relative;
}

.WEB_CONTE_bloqueContenidoNoticias{ 
	width: auto;
	height: auto;
	padding: 0 5px 0 5px;
	position: absolute;
/*	background: aqua;*/
}
/* Add Actividades por cgalvez */
.WEB_CONTE_scrollActividades{ 
	width: auto;
	height: 200px;
	clip: rect(0,210px,200px,0);
	overflow: hidden;
	position: relative;
}

.WEB_CONTE_bloqueContenidoActividades{ 
	width: auto;
	height: auto;
	position: absolute;
} 
/* Fin Add Actividades por cgalvez */
.WEB_CONTE_bloqueContenidoActividadesRow{
	width: auto;
	height: auto;
	margin-bottom: 15px;	
}

.WEB_CONTE_bloqueContenidoContactenos{
	width: auto;
	height: auto;
	margin-bottom: 15px;
}


.WEB_CONTE_bloqueCabeceraParte4{ 
	width: 10px;
	height: 32px;
	background: url(images/web/vineta_1.gif) no-repeat center;
	cursor: pointer;
}

.WEB_CONTE_bloqueCabeceraParte5{ 
	width: 10px;
	height: 32px;
}

.WEB_ICONO_noticias{ 
	padding-left: 18px;
	background: url(images/web/icono_noticias.gif) no-repeat;
}

.WEB_ICONO_actividades{ 
	padding-left: 18px;
	background: url(images/web/icono_actividades.gif) no-repeat;
}

.WEB_ICONO_contactenos{ 
	padding-left: 18px;
	background: url(images/web/icono_contactenos.gif) no-repeat;
}

.WEB_ICONO_ventanillas{ 
	padding-left: 18px;
	background: url(images/web/icono_ventanillas.gif) no-repeat;
}

.WEB_CONTE_ventanilla{ 
	width: 694px;
	height: auto;
	border: 1px solid #d6d7d6;
	padding: 2px;
}

.WEB_CONTE_bloqueVentanilla{ 
	width: auto;
	height: 74px;
	background: url(images/web/fondo_home_ventanilla.gif) repeat-x;
}

.WEB_CONTE_ventanillaTitulo{ 
	width: auto;
	height: 28px;
	padding: 8px 0 0 10px;
}

.WEB_CONTE_ventanillaContenido{ 
	width: auto;
	height: auto;
	padding: 0 0 0 10px;
	position: relative;
/*	overflow: hidden;*/
}

.WEB_CONTE_bloqueCombo1{ 
	width: 210px;
	height: 21px;
	margin: 0 30px 0 0;
	position: relative;
	display: inline;
}

.WEB_CONTE_bloqueCombo2{ 
	width: 210px;
	height: 21px;
	margin: 0 30px 0 0;
	position: relative;
}

.WEB_CONTE_bloqueCombo3{ 
	width: 200px;
	height: 21px;
	position: relative;
}


.WEB_CONTE_comboTitulo{ 
	width: auto;
	height: auto;
	padding: 0 5px 0 0;
}

.WEB_CONTE_comboInferior1{
	width: 160px;
	height: 18px;
	position: relative;
	bottom: 0px;
	z-index: 10;
	float: left;
	background: url(images/web/imagen_combo1.gif) no-repeat;
	cursor: pointer;
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #444444;
	padding: 3px 0 0 6px;
	margin: 0 0 0 2px;
}

.WEB_CONTE_comboInferior1_on{
	width: 160px;
	height: 18px;
	position: relative;
	bottom: 0px;
	z-index: 10;
	float: left;
	background: url(images/web/imagen_combo1_on.gif) no-repeat;
	cursor: pointer;
	padding: 3px 0 0 6px;
	margin: 0 0 0 2px;
}

/*.WEB_CONTE_bloquePopup{ 
	width: auto;
	height: auto;
}*/

.WEB_CONTE_cargando{
	width: 151px;
	height: 65px;
/*	padding: 6px;*/
	position: absolute;
	bottom:20px;
	left: 0px;
	z-index: 0;
	border: solid 1px #c6c3c6;
	background: #ffffff url(images/web/cargando.gif) no-repeat center;
}

.WEB_CONTE_menuCombo1{
	width: 350px;
	/*max-height: 280px;
	height: auto !important;*/
	height: 280px;
	/*height: auto !important;*/
	/*height: expression( this.scrollHeight > 280 ? "280px" : "auto" );
	max-height: 280px;*/

	/*height: expression( this.scrollHeight > 279 ? "280px" : "auto" ); */
/*	height: 280px;  para IE5+ */
	
	
/*	padding: 6px;*/
	position: absolute;
	top:21px;
	left: 0px;
	z-index: 0;
	background: #ffffff;
	border: solid 1px #f79618;
	overflow-y:auto; 
	overflow-x:hidden;
/*	margin-top: -114px;*/
}

.WEB_CONTE_menuCombo1:first-child{ 
	top:21px;
}

.WEB_CONTE_menuPopup2{
	width: 350px;
	height: auto;
/*	padding: 6px;*/
	position: absolute;
	bottom:20px;
	left: -50px;
	z-index: 0;
	background: #ffffff;
	border: solid 1px #f79618;
/*	margin-top: -114px;*/
}

.WEB_CONTE_menuPopup2:first-child{ 
	bottom:21px;
}

.WEB_CONTE_menuPopup3{
	width: 350px;
	height: auto;
/*	padding: 6px;*/
	position: absolute;
	bottom:20px;
	right: 0px;
	z-index: 0;
	background: #ffffff;
	border: solid 1px #f79618;
/*	margin-top: -114px;*/
}

.WEB_CONTE_menuPopup3:first-child{ 
	bottom:21px;
}


.WEB_CONTE_botonCombo_on{
	width: auto;
	height: auto;
	padding: 6px 8px;
	background: #f79618;
	font: normal 10px Arial, Helvetica, sans-serif;
	color:#ffffff;
	/*position: absolute;*/
}

.WEB_CONTE_botonCombo_off{
	width: auto;
	height: auto;
	padding: 6px 8px;
	background: white;
	font: normal 10px Arial, Helvetica, sans-serif;
	color:#1f3155;
	/*position: absolute;*/
}

.WEB_CONTE_lineaCombo{
	width: auto;
	height: 1px;
	overflow: hidden;
	background: #f79618;
}

.WEB_CONTE_bloqueHome2{
	width: 280px;
	height: auto;
}

.WEB_CONTE_pieModulo{
	width: 280px;
	height: 12px;
	background: url(images/web/fondo_pie_modulo.gif) no-repeat ;
	overflow: hidden;
}

/********************************/

.WEB_CONTE_bloqueModulos1{ 
	width: auto;
	height: auto;
	padding: 5px 0 5px 5px;
}

.WEB_CONTE_bloqueModulos2{ 
	width: auto;
	height: auto;
	padding: 5px 0 5px 0;
}

.WEB_CONTE_bloqueModulos3{ 
	width: auto;
	height: auto;
	padding: 5px 0 5px 0;
}

.WEB_CONTE_bloqueModulos4{ 
	width: auto;
	height: auto;
	padding: 5px 5px 5px 0;
}

.WEB_CONTE_bloqueModulos5{ 
	width: auto;
	height: auto;
	padding: 5px 0 5px 4px;
}

.WEB_CONTE_bloqueModulos6{ 
	width: auto;
	height: auto;
	padding: 5px 0 5px 0;
}

.WEB_CONTE_bloqueModulos7{ 
	width: auto;
	height: auto;
	padding: 5px 5px 5px 0;
}

.WEB_CONTE_bloqueModulos8{ 
	width: auto;
	height: auto;
	padding: 5px 0 5px 5px;
}

.WEB_CONTE_bloqueModulos9{ 
	width: auto;
	height: auto;
	padding: 5px 0 5px 0;
}


/* Bloque Sombra */

.WEB_CONTE_bloqueSombra{ 
	width: auto;
	height: auto;
}

.WEB_CONTE_grupoSombraArriba{ 
	width: auto;
	height: 6px;
	overflow: hidden;
}

.WEB_CONTE_grupoSombraMedio{ 
	width: auto;
	height: auto;
	overflow: hidden;
}

.WEB_CONTE_grupoSombraAbajo{ 
	width: auto;
	height: 5px;
	overflow: hidden;
}

.WEB_CONTE_sombraHorizontalArriba{ 
	width: auto;
	height: 6px;
	background: url(images/web/fondo_sombra2.gif) repeat-x;
	float: left;
}

.WEB_CONTE_sombraHorizontalAbajo{ 
	width: auto;
	height: 5px;
	background: url(images/web/fondo_sombra7.gif) repeat-x;
	float: left;
}

.WEB_CONTE_sombraVerticalIzquierdo{ 
	width: 6px;
	height: auto;
	background: url(images/web/fondo_sombra4.gif) repeat-y;
	float: left;
}

.WEB_CONTE_sombraVerticalDerecho{ 
	width: 5px;
	height: auto;
	background: url(images/web/fondo_sombra5.gif) repeat-y;
	float: left;
}


.WEB_CONTE_bloqueCabecera{
	width: auto;
	height: 32px;
	background: url(images/web/fondo_titulo_parte2.gif) repeat-x;
	position: relative;
	overflow: hidden;
}

.WEB_CONTE_sombraContenido{ 
	width: auto;
	height: auto;
	padding: 0px 2px 2px 2px;
	overflow: hidden;
/*	background: aqua;*/
}


/* Sombras Fijas */

.WEB_CONTE_sombra1{ 
	width: 6px;
	height: 6px;
	background: url(images/web/fondo_sombra1.gif) no-repeat;
	float: left;
}

.WEB_CONTE_sombra2{ 
	width: 5px;
	height: 6px;
	background: url(images/web/fondo_sombra3.gif) no-repeat;
	float: left;
}

.WEB_CONTE_sombra3{ 
	width: 6px;
	height: 5px;
	background: url(images/web/fondo_sombra6.gif) no-repeat;
	float: left;
}

.WEB_CONTE_sombra4{ 
	width: 5px;
	height: 5px;
	background: url(images/web/fondo_sombra8.gif) no-repeat;
	float: left;
}

.WEB_CONTE_bloqueEspaciado{ 
	width: auto;
	height: auto;
	background: white;
	padding: 6px 3px 3px 3px;
	float: left;
}

.WEB_CONTE_bloqueEspaciadoCabecera{ 
	width: auto;
	height: auto;
	padding: 0 2px 0 2px;
}

.WEB_CONTE_bloqueFondo{ 
	width: auto;
	height: auto;
	background: url(images/web/fondo_bloque.gif) repeat-x bottom;
}

.WEB_CONTE_bloqueCabeceraParte1{ 
	width: 2px;
	height: 32px;
	background: url(images/web/fondo_titulo_parte1.gif) no-repeat;
}

.WEB_CONTE_bloqueCabeceraParte2{ 
	width: auto;
	height: 22px;
	padding: 10px 0 0 10px;
}

.WEB_CONTE_bloqueCabeceraParte3{ 
	width: 2px;
	height: 32px;
	background: url(images/web/fondo_titulo_parte3.gif) no-repeat;
}

.WEB_ICONO_extranet{ 
	padding-left: 18px;
	background: url(images/web/icono_actividades.gif) no-repeat 0 -2px;
}

/* Bolsas */

/*font: normal 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;*/

.WEB_CONTE_bolsas{ 
	width: auto;
	height: auto;
	overflow: hidden;
}

.WEB_CONTE_bloqueBolsas{ 
	width: auto;
	height: auto;
	font: normal 11px Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 4px 6px;
	background: #ff9a00;
	display: block;
}

.WEB_CONTE_bloqueBolsasParte1{ 
	width: 40%;
	height: auto;
	float: left;
}

.WEB_CONTE_bloqueBolsasParte2{ 
	width: 35%;
	height: auto;
	text-align: center;
	float: left;
}

.WEB_CONTE_bloqueBolsasParte3{ 
	width: 25%;
	height: auto;
	text-align: right;
	float: left;
}


/* Graficos Estadisticos */

.WEB_CONTE_estadistico{ 
	width: auto;
	height: auto;
	padding: 10px 0 10px 8px;
	overflow: hidden;
}

.WEB_CONTE_estadistico ul{ 
	width: auto;
	height: auto;
}

.WEB_CONTE_estadistico li{ 
	width: 200px;
	height: 104px;
	display:inline;
	float:left;  
	margin: 0 4px 15px 0;
}

.WEB_CONTE_estadistico li img{ 
	float: none;
	margin: 0px;
	display: block;
}

/* Tramites */

.WEB_CONTE_tramites{ 
	width: auto;
	height: auto;
}

.WEB_CONTE_tramiteTitulo{ 
	width: 48px;
	height: 24px;
	padding: 8px 0 0 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(images/web/fondo_titulo_tramite.gif) no-repeat;
}

.WEB_CONTE_tramitesEstado{ 
	width: auto;
	height: 17px;
	padding: 6px 5px 5px 25px;
	border-bottom: 1px solid #d6d3d6;
	margin-bottom: 5px;
	overflow: hidden;
}

.WEB_CONTE_tramiteIcono1{ 
	width: 60px;
	height: 18px;
	padding-left: 15px;
	background: url(images/web/icono_tramite1.gif) no-repeat 0px 4px;
}

.WEB_CONTE_tramiteIcono2{ 
	width: 70px;
	height: 18px;
	padding-left: 15px;
	background: url(images/web/icono_tramite2.gif) no-repeat 0px 4px;
}

.WEB_CONTE_tramiteIcono3{ 
	width: 70px;
	height: 18px;
	padding-left: 15px;
	background: url(images/web/icono_tramite3.gif) no-repeat 0px 4px;
}

.WEB_CONTE_bloqueTramite{ 
	width: auto;
	height: auto;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #333333;
	padding: 5px 5px 5px 10px;
	background: url(images/web/vineta_2.gif) no-repeat 4px 12px;
}

.WEB_CONTE_bloqueTramiteIzquierdo{ 
	width: 75%;
	height: auto;
	float: left;
	overflow: hidden;
/*	background: fuchsia;*/
}

*+html .WEB_CONTE_bloqueTramiteIzquierdo{ width: 70%; }

* html .WEB_CONTE_bloqueTramiteIzquierdo{	width: 70%; }


.WEB_CONTE_bloqueTramiteDerecho{ 
	width: 22%;
	height: auto;
	float: right;
	text-align: right;
	overflow: hidden;
/*	background: aqua;*/
}

*+html .WEB_CONTE_bloqueTramiteDerecho{ width: 20%; }

* html .WEB_CONTE_bloqueTramiteDerecho{ width: 20%; }

.WEB_CONTE_tramiteColor1{ 
	color: #2e975a;
	margin: 0px;
}

.WEB_CONTE_tramiteColor1 a:link{ 
	color: #2e975a;
	text-decoration: none;
}

.WEB_CONTE_tramiteColor1 a:visited{ 
	color: #2e975a;
	text-decoration: none;
}

.WEB_CONTE_tramiteColor1 a:hover{ 
	color: #2e975a;
	text-decoration: underline;
}

.WEB_CONTE_tramiteColor1 a:active{ 
	color: #2e975a;
	text-decoration: none;
}

.WEB_CONTE_tramiteColor2{ 
	color: #bb262c;
	margin: 0px;
}

.WEB_CONTE_tramiteColor2 a:link{ 
	color: #bb262c;
	text-decoration: none;
}

.WEB_CONTE_tramiteColor2 a:visited{ 
	color: #bb262c;
	text-decoration: none;
}

.WEB_CONTE_tramiteColor2 a:hover{ 
	color: #bb262c;
	text-decoration: underline;
}

.WEB_CONTE_tramiteColor2 a:active{ 
	color: #bb262c;
	text-decoration: none;
}

.WEB_CONTE_tramiteColor3{ 
	color: #d29d00;
	margin: 0px;
}

.WEB_CONTE_tramiteColor3 a:link{ 
	color: #d29d00;
	text-decoration: none;
}

.WEB_CONTE_tramiteColor3 a:visited{ 
	color: #d29d00;
	text-decoration: none;
}

.WEB_CONTE_tramiteColor3 a:hover{ 
	color: #d29d00;
	text-decoration: underline;
}

.WEB_CONTE_tramiteColor3 a:active{ 
	color: #d29d00;
	text-decoration: none;
}


.WEB_CONTE_tramiteEspaciado{ 
	width: auto;
	height: auto;
	overflow: hidden;
}

.WEB_CONTE_tramiteLista{
	width: auto;
	height: auto;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	
	/*overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;*/
/*	background: blue;*/
}

/***************************************************************/

/* Contenido Interno */

.WEB_CONTE_titulo1{
	width: auto;
	height: auto;
	padding: 0 42px 5px 42px;
}


/* Formato Menu */

.WEB_CONTE_navegacion{
	width: auto;
	height: auto;
	padding: 35px 8px 2px 8px;
}

.WEB_CONTE_navegacion ul{
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	line-height: 10px;
}

.WEB_CONTE_navegacion li{
	width: auto;
	height: auto;
	display: inline;
	margin: 0px 5px 0px 0px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
}

.WEB_CONTE_navegacion li a:link{
	text-decoration: none;
	color: #444444;
}

.WEB_CONTE_navegacion li a:visited{
	text-decoration: none;
	color: #444444;
}

.WEB_CONTE_navegacion li a:hover{
	text-decoration: underline;
	color: #444444;
}

.WEB_CONTE_navegacion li a:active{
	text-decoration: none;
	color: #444444;
}





/**************************** RSS ******************************************/

.WEB_CONTE_rss{
	width: auto;
	height: auto;
	padding-bottom: 10px;
}

.WEB_CONTE_rss img{
	margin-right: 5px;
	border: none;
}


/**************************** Imprimir Subir *******************************/

.WEB_CONTE_pieInterno{
   width: auto;
   height: auto;
   padding: 0;
	overflow: hidden;
}

.WEB_CONTE_enlacesInterno{
   width: auto;
   height: auto;
   padding: 40px 30px 8px 40px;
	overflow: hidden;
}

.WEB_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 20px 0 0;
   padding: 6px 0 6px 0;
	display: inline;
   background: url(images/web/icono_flecha_arriba.gif) no-repeat center 0px;
}

.WEB_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.WEB_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaImprimir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 0 0 4px;
   padding: 2px 0 6px 20px;
	display: inline;
   background: url(images/web/icono_impresion.gif) no-repeat left 0px;
}

.WEB_vinetaImprimir a:link{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaImprimir a:visited{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaImprimir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.WEB_vinetaImprimir a:active{ 
	color:Black;
	text-decoration:none;
}

.WEB_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.WEB_linea hr{ 
	display:none;
}

.WEB_TABLA_contenido{
	width: 100%;
	height: auto;
	border: none;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

.WEB_TABLA_contenido td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
}

.WEB_TD_columna1{ 
	vertical-align: top;
}

.WEB_TD_columna1 img{ 
	display:block;
	border: none;
	padding: 0 10px 5px 0;
}

.WEB_TD_columna2{
	width: 40px !important; 
	vertical-align: top;
}

.WEB_TD_columna2 img{ 
	display:block;
	border: none;
/*	padding: 0 5px 5px 0;*/
}

.WEB_TABLA_titulo{
	width: 100%;
	height: auto;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: #005298;
	border-top: solid 1px #005298;
	border-left: solid 1px #005298;
	border-right: solid 1px #005298;
}

.WEB_TABLA_titulo td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 4px 0;
}

.WEB_TABLA_columna1{
	width: 75% !important ;
	height: auto;
	vertical-align: top;
}

.WEB_TABLA_columna3{
	width: 75% !important ;
	height: auto;
	vertical-align: top;
	padding-left: 10px !important ;
}

.WEB_TABLA_columna2{
	width: 25% !important ;
	height: auto;
	padding-right: 5px !important ;
	text-align: right;
	vertical-align: top;
}


/******************************* Formatos **********************************/


.WEB_titulo1{
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fefefe;
	margin: 0px;
}

.WEB_titulo2{
	font: bold 11px/11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	display: block;
}

.WEB_titulo2 a:link{
	text-decoration: none;
	color: #00133c;
}

.WEB_titulo2 a:visited{
	text-decoration: none;
	color: #00133c;
}

.WEB_titulo2 a:hover{
	text-decoration: none;
	color: #ab2101;
}

.WEB_titulo2 a:active{
	text-decoration: none;
	color: #00133c;
}

.WEB_titulo3{
	font: bold 11px/11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #00133c;
	margin-left: 15px;
	display: block;
	overflow: hidden;
/*	margin: 0px;*/
}

.WEB_subtitulo1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:#000000;
   margin:0px;
}

.WEB_subtitulo2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#333333;
   margin:0px;
}


.WEB_texto1{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #444444;
   margin:0px;
}

.WEB_texto1 a:link{
	text-decoration: none;
	color: #444444;
}

.WEB_texto1 a:visited{
	text-decoration: none;
	color: #444444;
}

.WEB_texto1 a:hover{
	text-decoration: underline;
	color: #444444;
}

.WEB_texto1 a:active{
	text-decoration: none;
	color: #444444;
}

.WEB_texto2{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333333;
	margin: 0px;
}

.WEB_texto2 a:link{
	text-decoration: none;
	color: #333333;
}

.WEB_texto2 a:visited{
	text-decoration: none;
	color: #333333;
}

.WEB_texto2 a:hover{
	text-decoration: underline;
	color: #333333;
}

.WEB_texto2 a:active{
	text-decoration: none;
	color: #333333;
}

.WEB_texto3{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;
}

.WEB_texto3 a:link{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto3 a:visited{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto3 a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.WEB_texto3 a:active{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto4{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;
}

.WEB_texto4 a:link{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto4 a:visited{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto4 a:hover{
	text-decoration: underline;
	color: #ffffff;
}

.WEB_texto4 a:active{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto5{
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;
}

.WEB_texto5 a:link{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto5 a:visited{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto5 a:hover{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto5 a:active{
	text-decoration: none;
	color: #ffffff;
}

.WEB_texto6{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #333333;
	margin: 0px;
}

.WEB_texto6 a:link{
	text-decoration: none;
	color: #333333;
}

.WEB_texto6 a:visited{
	text-decoration: none;
	color: #333333;
}

.WEB_texto6 a:hover{
	text-decoration: underline;
	color: #333333;
}

.WEB_texto6 a:active{
	text-decoration: none;
	color: #333333;
}



.WEB_CONTE_paginacion{
	width: auto;
	height: auto;
	padding: 10px 10px;
	text-align: right;
}


/*   Creditos   */

.WEB_textoCreditos{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #575966;
	margin: 0px;
	display: none;
}

.WEB_textoCreditos a:link{
	text-decoration: none;
	color: black;
}

.WEB_textoCreditos a:visited{
	text-decoration: none;
	color: black;
}

.WEB_textoCreditos a:hover{
	text-decoration: underline;
	color: black;
}

.WEB_textoCreditos a:active{
	text-decoration: none;
	color: black;
}

/*   Idiomas   */

.WEB_textoIdioma{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333333;
	margin: 0px;
}

.WEB_textoIdioma a:link{
	text-decoration: none;
	color: #333333;
}

.WEB_textoIdioma a:visited{
	text-decoration: none;
	color: #333333;
}

.WEB_textoIdioma a:hover{
	text-decoration: none;
	color: #266FA8;
}

.WEB_textoIdioma a:active{
	text-decoration: none;
	color: #333333;
}

/**************************** ULTIMOS INGRESADOS ******************************************/

.WEB_Error{
	width: auto;
	height: auto;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #be030c;
	line-height: 14px;
}

.WEB_Paginador{
	width: 530px;
	height: auto;
	padding: 5px 2px;
	text-align: right;
	font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #0E326F;
	margin: 0px;
}

.WEB_Paginador a:link{
	text-decoration: none;
	color: #2D72E8;
}

.WEB_Paginador a:visited{
	text-decoration: none;
	color: #2D72E8;
}

.WEB_Paginador a:hover{
	text-decoration: underline;
	color: #2D72E8;
}

.WEB_Paginador a:active{
	text-decoration: none;
	color: #2D72E8;
}


/* Login */

.WEB_MAQUE_body{ 
	background: #004163 url(images/web/fondo_body_login.jpg) repeat-x;
}

.WEB_MAQUE_Alineacion3{
	width: 425px;
	height: auto;
	padding: 10px 10px 0 10px;
	margin: 0px auto;
	background: #5a7d94 url(images/web/fondo_alineacion1.jpg) repeat-x;
}

.WEB_MAQUE_Fondo5{ 
	width: 410px;
	height: 48px;
	padding: 7px 0 0 15px;
	background: url(images/web/fondo_cabecera_login.jpg) repeat-y center;
	
}

.WEB_MAQUE_Fondo6{
	width: 411px;
	height: auto;
	padding: 7px 7px 0 7px;
	background: #ffffff;
}

.WEB_MAQUE_Fondo7{
	width: 411px;
	height: auto;
	background: url(images/web/fondo_3.jpg) repeat-y center;
}

.WEB_ICONO_login{ 
	padding-left: 18px;
	background: url(images/web/icono_login.gif) no-repeat;
}

.WEB_CONTE_login{ 
	width: auto;
	height: auto;

}

.WEB_CONTE_creditosLogin{
	width: 425px;
	height: 18px;
	padding: 20px 10px 14px 10px;
	background: url(images/web/fondo_creditos_login.jpg) no-repeat;
	margin: 0px auto 0px auto;
}

.WEB_textoCreditosLogin{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;
}

.WEB_textoCreditosLogin a:link{
	text-decoration: underline;
	color: #ffffff;
}

.WEB_textoCreditosLogin a:visited{
	text-decoration: underline;
	color: #ffffff;
}

.WEB_textoCreditosLogin a:hover{
	text-decoration: none;
	color: #ffffff;
}

.WEB_textoCreditosLogin a:active{
	text-decoration: underline;
	color: #ffffff;
}
