form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.lnHoyCal,
.lnHoyCal a,
.lnHoyCal a:hover {
	font: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	text-decoration: none;
}
.lnStat,
.lnStat a,
.lnStat a:hover {
	font: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	text-decoration: none;
}
.lnBus,
.lnBus a,
.lnBus a:hover {
	font: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3D3F66;
	text-decoration: none;
}
.not,
.not a,
.not a:hover {
	font: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3D3F66;
	text-decoration: none;
}
.tdStat {
	font: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.tdPad {
	width: 15px;
}
.txtFrm {
	height: 22px;
	border: 1px solid #B9C8D5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding: 4px 3px 1px 3px;
}
.txtFrm-disabled {
	height: 22px;
	border: 1px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding: 4px 3px 1px 3px;
}
.selFrm {
	height: 22px;
	border: 1px solid #B9C8D5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding: 4px 3px 1px 3px;
}
.tdSep1 {
	width: 20px;
}
.lb1Frm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.tdSep2 {
	padding-left: 6px;
}
.lb2Frm {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #212D30;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.tdReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEBD3;
	padding-right: 4px;
	vertical-align: bottom;
	height: 20px;
	padding-bottom: 2px;
}
.tbMar {
	margin-left: 15px;
}
.lbEmb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding-right: 10px;
	padding-top: 15px;
}
.selXML {
	font: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	background-color: #F6FAFC;
}
.tdIndex {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #888888;
	text-decoration: none;
}
.titIndex {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #444444;
	text-decoration: none;
}
.td2Index {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C3DDF0;
	padding-left: 20px;
}
