.glidecontentwrapper{
position: relative; /* Do not change this value */
width: 300px;
height: 140px; /* Set height to be able to contain height of largest content shown*/
border: 1px solid #f5f5f5;
overflow: hidden;
text-align: left;
	}
/*
	Total wrapper width: 350px+5px+5px=360px
	Or width of wrapper div itself plus any left and right CSS border and padding
	Adjust related containers below according to comments
*/


.glidecontent{
	position: absolute;
	background: white;
	padding: 0px;
	visibility: hidden;
	width: 300px;

	border: 1px solid #f5f5f5;
}
/*
 Total glidecontent width: 330px+10px+10px=350px
	Or width of wrapper div itself (not counting wrapper border/padding)
*/

.glidecontenttoggler{ /*style for DIV used to contain toggler links. */
width: 300px;
margin-top: 6px;
text-align: center; /*How to align pagination links: "left", "center", or "right"
background: white; /*always declare an explicit background color for fade effect to properly render in IE*/
}
/*
 Total contenttoggler width: 350px+5px+5px=360px
	Or total width of wrapper div (counting wrapper border/padding)
*/

.glidecontenttoggler a{ /*style for every navigational link within toggler */
display: -moz-inline-box;
display: inline-block;
border: 1px solid black;
color: #2e6ab1;
padding: 1px 1px;
margin-right: 1px;
font-weight: bold;
text-decoration: none;
}

.glidecontenttoggler a.selected{ /*style for selected page's toggler link. ".selected" class auto generated! */
background:#E4EFFA;
color: black;
}

.glidecontenttoggler a:hover{
background: #004467;
color: white;
}

.glidecontenttoggler a.toc{ 
/*style for individual toggler links (page 1, page 2, etc). ".toc" class auto generated! */
}

.glidecontenttoggler a.prev, .glidecontenttoggler a.next{ /*style for "prev" and "next" toggler links. ".prev" and ".next" classes auto generated! */
background: #004467;
color: white;
}

.glidecontenttoggler a.prev:hover, .glidecontenttoggler a.next:hover{
background: #004467;
color: white;
}