body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3270aa; text-decoration: none}
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3270aa}
hr {  background-color: #D6D6D6; border: 1px #D6D6D6 solid}

a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003366; text-decoration: none}
a:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #459CE9; text-decoration: underline; font-size: 10px}

.menhea {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #D6D6D6}
.menhea a {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #D6D6D6}
.menhea a:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFF00; text-decoration: underline}

.tree {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	text-align: justify;
	font-weight: bold;
}
.tree a {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #ffffff; 
	text-decoration: none}
.tree a:hover { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #FFCC00; 
	text-decoration: underline}

.treeOUT {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	text-align: justify;
	font-weight: bold;
}
.treeOUT a {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #FFCC00; 
	text-decoration: none}
.treeOUT a:hover { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #FFFFFF; 
	text-decoration: underline}

.td-lb-login {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333; text-decoration: none}
.td-lb-login a { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333; text-decoration: none }
.td-lb-login a:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FF80FF; text-decoration: underline}

.contenido {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px; color: #003366; 
	/*text-align: justify*/
}

.contenido-intranet {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #003366; 
	/*text-align: justify*/
	}

.contenido-renta {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; color: #003366; 
	/*text-align: justify*/
	}

	
.texto {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #3270aa; text-decoration: none}
.texto-ivf {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #003366; text-decoration: none}
.texto-ivfcuadro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3270aa;
	text-decoration: none;
	font-weight: bold;
}
.textored { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #CE001F; text-decoration: none }

.textogray { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #A0A0A0; 
	text-decoration: none }

.textograyintranet { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	color: #A0A0A0; 
	text-decoration: none }	

.textoblackintranet { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #666666; 
	text-decoration: none }		
	
.textograyvisitas{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666; 
	text-decoration: none }		

.texto-sitradoc{ 
	font-family: Arial; 
	font-size: 11px; 
	color: #000000; 
	text-decoration: none }		

.texto-sitradoc14{ 
	font-family: Arial; 
	font-size: 14px; 
	color: #000000; 
	text-decoration: none }				
	
.textoblack { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none }
.textoblack14 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; text-decoration: none }
.textowhite14 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #ffffff; text-decoration: none }
.textowhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.textogreen { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color: #009966; text-decoration:none }
.footer {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #5A9CCC; margin-top: 8px; margin-bottom: 8px; margin-right: 0px; margin-left: 0px}

.item {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	color: #265682 }

.item-intranet {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #265682 }
	
.item-sep {
	background-color: #FFFFEA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #265682;
	border: 1px solid #979797;
	padding: 4px;
}
.item-sep2 {
	background-color: #FFFFEC;
	font-family: Verdana, Arial, Helvetica;
	font-size: 9px;
	color: #183883;
	border: 1px solid #979797;
	padding: 4px;
}

.item-sep-intranet {
	background-color: #024467;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	border: 1px solid #979797;
	padding: 4px;
	font-weight: bold;
}

.item-sep-visitas {
	background-color: #024467;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	/*border: 1px solid #979797;*/
	padding: 4px;
	font-weight: bold;
}

.item-sep-visitas-frm {
	background-color: #024467;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	/*border: 1px solid #979797;*/
	padding: 4px;
	font-weight: bold;
}

.item-sep-modulos {
	background-color: #F7F7F7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #004467;
	border: 1px solid #979797;
	padding: 4px;
	font-weight: bold;
}

.ItemStyleOver {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; CURSOR: pointer; COLOR: #FEF7C1; PADDING-TOP: 0px; HEIGHT: 15px; background-color:#FFFFB0
}
.sub-item {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #0099FF}

.sub-item-intranet {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #FF9900}

.texto-cumple {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #000066}	
		
.fecha {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #51A5E2; line-height: 11px; text-decoration: none; vertical-align: middle; padding-left: 10px}
.fecha2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #183883; line-height: 11px; text-decoration: none; vertical-align: right; padding-left: 10px}
.aviso {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: normal; font-weight: normal; color: #CE001F}
.link {  color: #FF9900; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; text-align: justify}

.ip-login {  background-color: #F5F5F5; border: 1px #80C9F4 groove}
.but-login {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #3270AB; text-decoration: none; background-color: #D5D5D5; border: 1px #80C9F2 ridge; font-weight: bold; left: 40px; clip:  rect(   ); cursor: hand}
.but1 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; text-decoration: none; background-color: #EBEBEB; border: 1px #00FFFF ridge; font-weight: bold; left: 40px; clip: rect( ); cursor: hand }

.td-bienve {  background-color: #F0F9FE; border-color: #589ABF #589ABF #589ABF black; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}
.td-nove {  background-color: #F0F9FE; border-color: #589ABF black #589ABF #589ABF; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 1px}
.td-ico-nove {  border-color: black #DBDBDB; border-style: dotted; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
.td-tab-nove {  background-color: #EEEFF0; border: #DBDBDB; border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.td-nove-indice {  background-color: #F0F9FE; border-color: black #3270aa black black; border-style: dotted; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
.td-tit-login {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #3270AB; text-decoration: none; background-color: #F5F5F5; border-color: #D6D6D6 black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.td-encuesta {  border-color: black black #EBEBEB; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.td-nada {  font-family: Arial, Helvetica, sans-serif; font-size: 2px}
.td-frase {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	background-color: #F4F9FB;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border-top: 1px #95BCDF;
	border-right: 1px solid #95BCDF;
	border-bottom: 1px solid #95BCDF;
	border-left: 1px #95BCDF;

}
.td-titulo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #3270AB; text-decoration: none; background-color: #F5F5F5; border-color: #D6D6D6 black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px }
.td-titulositra {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3270AB;
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: #9A9A01;
	border-left-color: black;
}
.td-titulo2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #3270AB; text-decoration: none; background-color: #0071B3; border-color: #D6D6D6 black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px }
.td-opbusono {  background-color: #DAE7F2; border-color: black #2C4A6B; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}

.tabla-login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
}
	
.tabla-encuestas {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3270aa;}
.tabla-informatica {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3270aa; border-color: #9BC2D9 9BC2D9 9BC2D9; border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.bdr-up {  border-color: #D6D6D6 black black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.tit-tabla {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none; border: #3270aa; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #9BC2D9}

.tit-documento {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	color: #0099FF ; 
	font-weight: bold}

.tit-documento-intranet {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #CC3300 ; 
	font-weight: bold}
	
.tit-convenios-intranet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CC3300;
	font-weight: bold;
	text-align: left;
	}	


.con-tabla {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3270aa; background-color: #F0F9FE; border: #9BC2D9; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.con-tabla2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3270aa; background-color: #FFFFFF; border: #9BC2D9; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }
.con-tabla3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; background-color: #79AAD7; border: 1px #3270AA solid}.bg_left {  background-position: 0px 0px; background-repeat: repeat-y}
.con-tabla4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
	background-color: #ECF8FF;
	/*border-top: 1px solid;*/
	border-right: 1px solid;
	border-bottom: 1px solid #3270AA;
	/*border-left: 1px solid;*/
}.bg_left {  background-position: 0px 0px; background-repeat: repeat-y}
.bg_derab { background-position: right bottom; background-repeat: no-repeat;}
.bg_dercen { background-position: right center; background-repeat: no-repeat; }
.brd-img {  border: #D6D6D6; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.but-rojo { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; background-color: #339900; border: 1px ridge; font-weight: bold; left: 40px; clip: rect( ); cursor: hand ; border-color: #80C9F2 #333333 #333333 #80C9F2}
.iptxt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3270aa;
	text-decoration: none;
	background-color: #EAFFFF;
	border: 1px groove #ADCBE7;
}
.iptxtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3270aa;
	text-decoration: none;
	background-color: #FFFFCC;
	border: 1px groove #ADCBE7;
}
.ipsel1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3270aa;
	text-decoration: none;
	background-color: #EAFFFF;
	border: 1px groove #ADCBE7;
}
.ipseln {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3270aa;
	text-decoration: none;
	background-color: #FEF7C1;
	border: 1px groove #ADCBE7;
}
.ipsel3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3270aa;
	text-decoration: none;
	background-color: #EAFFFF;
	border: 1px groove #ADCBE7;
}
.ipbot1 {
	border: 1px solid #999999;
	color: #FFFFFF;
	background-color: #BBBBBB;
	font-weight: bold;
	cursor: hand;


}
.bg-ar-rx {
	background-position: top;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}
.bg-iz-ry {
	background-position: left;
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
}
.bg-ab-rx {
	background-position: bottom;
	background-repeat:  repeat-x;
	margin: 0px;
	padding: 0px;
}
.bg-de-ry {
	background-position: right;
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
}
.bg-med-nr {
	background-repeat: no-repeat;
	background-position: center center;
}
.bdr-1px {
	border: 1px solid;
}
.textoblack14 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; text-decoration: none
}
.p-up-2 {
	padding-top: 4px;
}
.texto2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3270aa;
	text-decoration: none;
	padding-left: 5px;


}
.td-frase2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	background-color: #F4F9FB;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid;

}
.submit {
	color: #2b333c;
	text-align: center;
	font: bold 10px/1.2em Verdana, Helvetica, Geneva, sans-serif!important;
	padding-right: 5px;
	padding-left: 5px;
}
.submit,
.submit-disabled {
	background: #fefefe url(https:///img/800x600/bg_but1.gif) repeat-x;
	border: 3px double;
	border-color: #969696 #818181 #6f7777 #818181;
}

.submitV2 {
	color: #2b333c;
	text-align: center;
	font: bold 10px/1.2em Verdana, Helvetica, Geneva, sans-serif!important;
	padding-right: 5px;
	padding-left: 5px;
}

.submitintranet,
.submitintranet-disabled {
	border: 3px double;
	border-color: #ff9900 #ff9900 #ff9900 #ff9900;
	background-color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

.bot-visitas,
.bot-visitas-disabled {
	border: 3px double;
	border-color: #ff9900 #ff9900 #ff9900 #ff9900;
	background-color: #006FDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

input.submit {
	cursor: pointer !important;
	cursor: hand;
}
.bg-med-rx {

	background-position: center;
	background-repeat:   repeat-x;
	margin: 0px;
	padding: 0px;
}
.menu-pager1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3270aa;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;	
}

.menu-pager-intranet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;	
}

.userIntra {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFF80;
	background-color: #83CCF6;
}
.lnk-more-new,
.lnk-more-new a,
.lnk-more-new a:hover {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	letter-spacing: 0px;
	font-weight: bold;	
	color: #CC0000;
	text-decoration: none;
}
.lnk-more-new2,
.lnk-more-new2 a,
.lnk-more-new2 a:hover {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	letter-spacing: 0px;
	font-weight: bold;	
	color: #CC0000;
	text-decoration: none;
}
.titulosPortada {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #326FAB;
	background-color: #B9E2FF;
	font-weight: bold;
	background-position: left bottom;
	height: 20px;
	text-indent: 5px;	
}

.texto-servicios-white a {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #FFFFFF;	
	text-decoration: none;
}
.texto-servicios-white a:hover {
	color: #FF9933;
	text-decoration: underline;
 }
.texto-servicios-white {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none
}

.fondoTD_chicos{
text-align:left; 
filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#E6F0FF', startColorstr='#FFFFFF', gradientType='0');
}

.enlaces-intranet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-decoration: none;
	text-align: justify;
	/*font-weight: bold;*/
}
.enlaces-intranet a {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #003366; 
	text-decoration: none}
.enlaces-intranet a:hover { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #3366FF; 
	text-decoration: underline}

.texto-comisiones { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	color: #333333; 
	text-decoration: none }		
h1-html5 {
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.lnk-importante a {font-family: Arial, Helvetica;	font-size: 11px;	color: #3270AA;	text-decoration: none;}
.lnk-importante a:hover {font-family: Arial, Helvetica; color: #0066CC;	text-decoration: underline;	background-color: #FFFF99; font-size: 11px;}
.lnk-importante {font-family: Arial, Helvetica;	font-size: 11px;	color: #0066CC;	text-decoration: none;	padding: 0px;	height: 22px;	border-top: 1px none #CCCCCC;	border-right: 1px none #CCCCCC;	border-left: 1px none #CCCCCC;}  

.sel-buscar-encuestas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFCC;
	border: 1px solid #E1E1E1;
	text-transform: none;
	height: 25px;
	width: auto;
	vertical-align: middle;
} 
#menup {
	margin:0;
	padding:0;
}
#menup li {
	margin:2px;
	padding:0; 
	float:left;
}
#menup li a {
	padding:1px;
	width:50px;
	display:block;
	text-align:center;
	color:#FFFFFF;
}


#menup li a:hover {
	text-decoration:underline;
	color:#91CEF4;
}


 
#menup li>ul{
display:none;
position:absolute;
max-width:200px;
background:#666;
}
#menup li>ul a{color:#FFF; width:auto; text-align:left;}
#menup li>ul a:hover{color:#DDD; text-decoration:none;}
#menup li ul li {
float:none;
padding:2px;
text-align:left;
}
#menup li:hover ul {
display:block;
}
#menup li>ul ul,#menup li>ul ul ul{
position:static;
border:none;
}
#menup li ul li a{ font-weight:bold;}
#menup li ul li a:hover{ color:#91CEF4;}
#menup li ul li ul li a{ font-weight:normal; text-decoration:underline;margin-left:20px;}
#menup li ul li ul li a:hover{ text-decoration:underline;color:#91CEF4;}
#menup li ul li ul li ul li a{text-decoration:none;margin-left:30px;}
#menup li ul li ul li ul li a:hover{ color:#91CEF4;text-decoration:none;}