.cont-noticia {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #878787;
}
.td-masleidas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #2C5094;
	border: 1px solid #B2BFD9;
	padding-left: 10px;
	height: 20px;
}.tit-print {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2E2E2E;
}
.img-noti1 {
	border: 1px solid #FF9933;
	margin-left: 6px;
}
.ipTxt,
.ipTxt-disabled {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #6C6C6C; 
	background-color: #FFFFFF; 
	border: 1px groove #A1C3AC; 
}
.ipTxt-disabled {
	background-color: #D7D7D7;
}
.ipSel {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #6C6C6C; 
	background-color: #FFFFFF; 
	border: 1px groove #A1C3AC; 
}
body {
	margin: 0px;
	padding: 0px;
}
.lnk-blue,
.lnk-blue a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	text-decoration: none;
}
.lnk-blue a:hover {
	color: #336699;
	text-decoration: underline;
}