.td_intranet_titu {
	background-color: #004467;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-attachment: fixed;
	background-image: url(/img/icono_ini.png);
	background-repeat: no-repeat;
	background-position: 10px;
	text-align: left;
	padding-left:30px;
	}


.td_intranet_subtitu {
background-color:  #F2DFAF;
font:Arial, Helvetica; 
color: #000000;
font-size:14px;
}

.td_intranet_cabe {
	background-color: #004467;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	top:auto;
	}

.td_intranet_cabe2 {
	background-color: #004467;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align:center;
	top:auto;
	}

.td_intranet_item1 {
background-color:  #FFFFFF;
font:Arial, Helvetica, sans-serif; 
color: #000000;
font-size:12px;
font-stretch:narrower;

}

.td_intranet_item2 {
background-color:  #DEEBF7;
font:Arial, Helvetica, sans-serif; 
color: #000000;
font-size:12px;
}


.td_intranet_item1_min {
background-color:  #FFFFFF;
font:Arial, Helvetica, sans-serif; 
color: #000000;
font-size:9px;
font-stretch:narrower;

}

.td_intranet_item2_min {
background-color:  #DEEBF7;
font:Arial, Helvetica, sans-serif; 
color: #000000;
font-size:9px;
}

.tdfondo_white{ background-color:#FFFFFF;}

.td_intranet_cabe_cb {
	background-color: #004467;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align:left;
	top:auto;
	border-width:1px;
	border-color:#F2DFAF;
	border-style:solid;
	}


.td_intranet_item2_min_cb {
background-color:  #DEEBF7;
font:Arial, Helvetica, sans-serif; 
color: #000000;
font-size:9px;
	border-width:1px;
	border-color:#F2DFAF;
	border-style:solid;

}

.box_intranet_item2_min_cb {
background-color: #FFFFFF;
font:Arial, Helvetica, sans-serif; 
color: #000000;
font-size:11px;
	border-width:1px;
	border-color:#000000;
	border-style:solid;

}
.boton_color{
	background-color: #588FB8;
	color: #FFFFFF;
	font-size:10px;
	cursor:hand;	
}




.td_intranet_item1_min_2 {
background-color:  #FFFFFF;
font:Arial, Helvetica, sans-serif; 
color: #000000;
font-size:9px;
font-stretch:narrower;

}

.td_intranet_item2_min_2 {
background-color:  #DEEBF7;
font:Arial, Helvetica, sans-serif; 
color: #000000;
font-size:9px;
}
