<!--
hr {
	background-color: #D6D6D6;
	border: 1px #D6D6D6 solid
}
.bg-ar-rx {
	background-position: top;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}
.bg-iz-ry {
	background-position: left;
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
}
.bg-ab-rx {
	background-position: bottom;
	background-repeat:  repeat-x;
	margin: 0px;
	padding: 0px;
}
.bg-de-ry {
	background-position: right;
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
}

.b_ingresar { 
	background: #183883; 
	border: 1px #FFFFFF solid; 
	color: #FFFFFF; 
	font-family: Verdana, Arial, Helvetica; 
	font-size: 9px; 
	text-align: center; 
	scrollbar-face-color: #0000FF; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #FFFFFF; 
	scrollbar-darkshadow-color: #FFFFFF; 
	scrollbar-track-color: #FFFFFF; 
	scrollbar-arrow-color: #000000; ; 
	font-weight: bold; 
	cursor: hand
}

.iptxt1,
.iptxt1-disabled {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3270aa;
	text-decoration: none;
	border: 1px groove #ADCBE7;
}
.iptxt1 {
	background-color: #EAFFFF;
}
.iptxt2 {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	color: #183883;
	text-decoration: none;

}
.iptxt1-disabled {
	background-color: #D7D7D7;
}
.ipsel1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3270aa;
	text-decoration: none;
	background-color: #EAFFFF;
	border: 1px groove #ADCBE7;
}
.ipsel2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3270aa;
	text-decoration: none;
	background-color: #EAFFFF;
	border: 1px groove #ADCBE7;
}
.ipsel3 {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	color: #183883;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px groove #ADCBE7;
}
.ipbut1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; color: #3270AB;
	text-decoration: none;
	background-color: #D5D5D5; 
	border: 1px #80C9F2 ridge; 
	font-weight: bold; 
	cursor: hand
}
.texto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3270aa;
	text-decoration: none
}
.textored {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CE001F;
	text-decoration: none
}
.textogray {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #A0A0A0;
	text-decoration: none
}
.textoblack {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}
.item {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #265682
}
.item a {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #003366; 
	text-decoration: none
}
.item a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #459CE9; 
	text-decoration: underline; 
	font-size: 10px
}
.sub-item {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0099FF
}
.tr-check {
	background-color: #FFFFEA;
}
.tr-nocheck {
	background-color: #FFFFFF;
}
.mano {
	cursor: hand
}
.submit {
	color: #2b333c;
	text-align: center;
	font: bold 10px/1.2em Verdana, Helvetica, Geneva, sans-serif!important;
	padding-right: 5px;
	padding-left: 5px;
}
.submit,
.submit-disabled {
	background: #fefefe url(https:///img/800x600/bg_but1.gif) repeat-x;
	border: 3px double;
	border-color: #969696 #818181 #6f7777 #818181;
}
input.submit {
	cursor: pointer !important;
	cursor: hand;
}
.TEmb TD{
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: middle;
	
}
.not {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #3270aa; 
	text-decoration: none
}
.not a {
	color: #3270aa; 
	text-decoration: none; 
	line-height: normal
}
.not a:hover {
	color: #333366; 
	text-decoration: underline; 
	line-height: normal
}
.Wf{
	font-family:Verdana,Arial,Helvetica;
	font-size:10px;
	color: #ffffff;
}
.Wf2{
	font-family:Verdana,Arial,Helvetica;
	font-size:10px;
	color: #ffff00;
}
-->