@charset "utf-8";
/* MODAL POPUP*/
#std_modal{ height:100%; width:100%; position:fixed; background-image:url("/sitradocV3/img/background-modal.png");display:none; left: 0;}
#std_popup{ width:960px; height:500px; position:fixed; left:50%; top:50%; margin-left:-490px; margin-top:-260px; background:#FFF; border:solid 10px #6D7987; border-radius:5px; font-family:Arial; display:none; padding:10px;}
.std_cerrar_popup{ font-size:10px; font-weight:bold; line-height:10px; color:#FFF; position:absolute; background:#DF001A; display:inline-block; width:12px; height:12px; padding:5px; text-align:center;  border-radius:0 5px 5px 0; right:-32px; top:0; cursor:pointer; border-left:none;}
.std_cerrar_popup:hover{ box-shadow:1px 1px 3px #000; width:13px; right:-33px;}
.std_titulo_popup{ background:#666; color:#FFF; position:relative; top:-10px; left:-10px; padding:10px; font-weight:bold; width:960px;}
.popup_border{ border:solid 1px #D6D6D6;}
#std_mis_destinos, #std_mis_documentos{ }
#std_popup button{
 cursor:pointer;
 border:none;
 color:#FFF;
 background:#60B7E1;
 padding:5px;
 border-radius:6px;
 box-shadow: 0 1px 3px rgba(0,0,0,0.6);
 text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
}
#std_popup button:hover{background:#3DA1D1;}
#std_popup button:active{ position: relative;top:1px;}
#std_popup input,select,option{font-family:Arial; font-size: 10px; margin:1px 2px; color:#6D7987;}
/*TABLAS*/
/*table.str_tabla_lista tr{ border-bottom:solid 1px #D6D6D6;}*/
table.str_tabla_lista tr td, table.str_tabla_lista tr th{ border:solid 1px #D6D6D6;}
table.str_tabla_lista tr th{ background: #D6D6D6; padding:3px 0;}
.str_div_lista{ width:700px; height:300px; overflow:auto;}
.str_div_lista200{ width:700px; height:200px; overflow:auto;}
.stp_opt_tabla_lista{ background: #D6D6D6; text-align:right; padding:5px; border-bottom:solid 1px #999999;}
span.std_opt { background:#60B7E1/*DF001A*/; color:#FFF; padding:5px 10px; border-radius:5px; display:inline-block; cursor:pointer; box-shadow: 0 1px 3px rgba(0,0,0,0.6);text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
span.std_opt:hover{background:#3DA1D1;}
span.std_opt:active{position: relative;top:1px;}
span.std_det{ color:#00F; padding:5px 10px; border-radius:5px; display:inline-block;}
/*GENERAL*/
.std_oculto{ display:none;}
.std_inline_block{ display:inline-block;}
.limpiar{ clear:both;}
.right{ float: right;}
.left{ float: left;}
.border-left{ border-left:solid 1px #D6D6D6;}
.uppercase{text-transform:uppercase;}
.rojo{ color:#DF001A;}
.lila{ background:#EFDBE7;}
/*MENU NAV*/
#std_nav{ text-align:left; padding:0 10px 15px 10px; font-size:11px; color:#666;}
#std_nav a{ text-decoration:none; color:#3270aa;}
#std_nav a:hover{ color:#459CEC;}
#std_nav_menu{ width:190px;}
#std_nav_menu ul{ margin:0 5px 5px 5px; padding:0; background:#666666;}
#std_nav_menu ul li{text-align:left;border-bottom:solid 1px #D6B663;}
#std_nav_menu ul li a{ color:#FFF; text-decoration:none; padding:10px; display:inline-block; font-weight:bold; border-bottom:solid 1px #F1F1F1; display:block;border-top:solid 1px #F1F1F1; display:block;}
#std_nav_menu ul li a:hover{ color:#F8B91D;}
/*CUERPO*/
#std_cuerpo{ background:#F1F1F1; width:620px; min-height:100px; margin:0 0 20px 10px; border:dashed 1px #CCC; padding:15px 10px; color:#003366;}
/*FORMULARIO*/
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.miform{
width:400px;
}

/* ----------- std_form ----------- */
.std_form{
padding:14px;
text-align:left;
}
.std_form h1 {
    font-size: 20px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family:'Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
}
.std_form p{
font-size:11px;
color:#666666;
margin-bottom:5px;
}
.std_form label{
font-weight:bold;
width:150px;
display:inline-block;
}
.std_input{
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 10px 5px;
border-radius:5px;
}
.std_button{
 cursor:pointer;
 border:none;
 color:#FFF;
 background:#60B7E1;
 font-weight:bold;
 padding:5px;
 border-radius:6px;
 box-shadow: 0 1px 3px rgba(0,0,0,0.6);
 text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.std_button:hover{background:#3DA1D1;}
.std_button:active{ position: relative;top:1px;}
.input{ width:340px;}

.std_grid tbody tr td{ padding:0 2px;}