body{
	margin: 0px;
	background: #000000;
}

h1,h2,h3,h5,h6,h7,h8,p{
	margin: 0 0 19px 0;
}

/*************************** Maquetacion Principal *****************************/

.WEB_MAQUE_Alineacion1{
	width: 776px;
	height: auto;
	margin: 0px auto;
	background: #ffffff;
}

.WEB_MAQUE_Fondo1{
	width: 776px;
	height: 100px;
	background: url(images/web/maque_fondo1.jpg) no-repeat ;
	border-bottom: solid 3px #033258;
	overflow: hidden;
}

.WEB_MAQUE_Fondo2{
	width: 776px;
	height: auto;
	background: #000623;
	padding-top: 2px;
}

.WEB_MAQUE_Fondo3{
	width: auto;
	height: auto;
	background: #F0F0F0;
}

.WEB_MAQUE_Fondo4{
	width: 772px;
	height: auto;
	background: url(images/web/fondo_principal4.gif);
}

.WEB_MAQUE_f1_c1{
	width: 776px;
	height: 100px;
}

.WEB_MAQUE_f2_c1{
	width: 212px;
	height: auto;
	background: #F0F0F0;
	padding-bottom: 10px;
}

.WEB_MAQUE_f2_c2{
	width: 564px;
	height: auto;
}

.WEB_MAQUE_f3_c1{
	width: 772px;
	height: auto;
	overflow: hidden;
}

/**************************************************************************/

.WEB_CONTE_creditos{
	width: 772px;
	height: auto;
	background-color: #090C1F;
	padding: 10px 2px 14px 2px;
	margin: 0px auto;
}

.WEB_CONTE_placeHolder{
	width: auto;
	height: auto;
	overflow: hidden;
	/*margin: 0 0 0 10px;*/
}

.WEB_CONTE_contenidoHolder{
	width: auto;
	height: auto;
	padding: 0 16px 16px 16px;
	overflow: hidden;
}

.WEB_CONTE_zonaHome{
	width: 370px;
	height: auto;
	padding: 0 0;
}

.WEB_CONTE_noticias{
	width: 180px;
	height: auto;
}

.WEB_CONTE_menuJerarquia{
	width: auto;
	height: auto;
	padding-top: 40px;
	background: #151515 url(images/web/fondo_menu_categorias.gif) no-repeat ;
}

.WEB_FONDO_pieMenu{
	width: 190px;
	height: 10px;
	background: url(images/web/fondo_menu_pie.gif) no-repeat;
	overflow: hidden;
}


.WEB_CONTE_menuInferior{
	width: auto;
	height: auto;
/*	background: url(images/web/fondo_menuInferior.gif);*/
}

/* Buscador */

.WEB_CONTE_buscador{
	width: 212px;
	height: 38px;
	background: url(images/web/fondo_buscador.gif) no-repeat;
	position: relative;
	z-index: 0;
}

.WEB_CONTE_buscador input{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #333333;
	padding:0 .15em 0 .15em;
   width:auto;
	border: none 0px;
	background: none;
	position: absolute;
	top:9px;
	left: 62px;
	z-index: 0;
}

.WEB_CONTE_buscadorBoton{
	width: 20px;
	height: 20px;
	position: absolute;
	top:6px;
/*	right: 58px;*/
	right: 10px;
	cursor: pointer;
	z-index: 0;
}



.WEB_CONTE_linea1{
	width: auto;
	height: 1px;
	background: #C4C4C4;
	overflow: hidden;
	border-bottom: solid 1px #FFFFFF;
}

.WEB_CONTE_iconoLinks_off{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #555555;
	background: #EAEAEA url(images/web/icono_links.gif) no-repeat 14px 6px;
	padding: 7px 10px 7px 39px;
	cursor: pointer;
}

.WEB_CONTE_iconoLinks_on{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #222222;
	background: #D4D4D4 url(images/web/icono_links.gif) no-repeat 14px 6px;
	padding: 7px 10px 7px 39px;
}

.WEB_CONTE_iconoSiteMap_off{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #555555;
	background: #EAEAEA url(images/web/icono_sitemap.gif) no-repeat 14px 6px;
	padding: 7px 10px 7px 39px;
	cursor: pointer;
}

.WEB_CONTE_iconoSiteMap_on{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #222222;
	background: #D4D4D4 url(images/web/icono_sitemap.gif) no-repeat 14px 6px;
	padding: 7px 10px 7px 39px;
}

.WEB_CONTE_iconoFaqs_off{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #555555;
	background: #EAEAEA url(images/web/icono_faqs.gif) no-repeat 14px 7px;
	padding: 7px 10px 7px 39px;
	cursor: pointer;
}

.WEB_CONTE_iconoFaqs_on{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #222222;
	background: #D4D4D4 url(images/web/icono_faqs.gif) no-repeat 14px 7px;
	padding: 7px 10px 7px 39px;
}

.WEB_CONTE_iconoPrivacyPolicy_off{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #555555;
	background: #EAEAEA url(images/web/icono_privacy.gif) no-repeat 14px 6px;
	padding: 7px 10px 7px 39px;
	cursor: pointer;
}

.WEB_CONTE_iconoPrivacyPolicy_on{
	width: auto;
	height: auto;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #222222;
	background: #D4D4D4 url(images/web/icono_privacy.gif) no-repeat 14px 6px;
	padding: 7px 10px 7px 39px;
}

.WEB_CONTE_banner1{
	width: auto;
	height: auto;
	padding: 7px 0 0 7px;
}

.WEB_CONTE_banner1 img{
	display: block;
	border: none;
}

/******************************* Contendores ******************************/

.WEB_CONTE_cabecera{
	width: 730px;
	height: auto;
	padding: 12px 20px 3px 26px;
	overflow: hidden;
}

.WEB_CONTE_logo1{
	width: 168px;
	height: 65px;
}


/* Menu Superior */

.WEB_CONTE_menuSuperior{
	width: auto;
	height: auto;
	padding: 6px 0 4px 0;
	overflow: hidden;
}

.WEB_CONTE_menuSuperior ul{
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	line-height: 10px;
	border: none;
}

.WEB_CONTE_menuSuperior li{
	width: auto;
	height: auto;
	display: inline;
/*	margin: 0px 0px 0px 2px;*/
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #ffffff;
}

.WEB_CONTE_menuSuperior li a:link{
	text-decoration: none;
	color: #ffffff;
}

.WEB_CONTE_menuSuperior li a:visited{
	text-decoration: none;
	color: #ffffff;
}

.WEB_CONTE_menuSuperior li a:hover{
	text-decoration: none;
	color: #AAB9DA;
}

.WEB_CONTE_menuSuperior li a:active{
	text-decoration: none;
	color: #ffffff;
}



.WEB_CONTE_superior{
	width: auto;
	height: auto;
	padding: 0 16px 0 14px;
}

.WEB_CONTE_superior img{
	display: block;
	border: none;
}

.WEB_CONTE_menuPopup{
	width: 150px;
	height: auto;
/*	padding: 6px;*/
	position: absolute;
	top:-50px;
	left: -5px;
	z-index: 0;
	background: #ffffff;
	border: solid 1px #1E3053;
/*	margin-top: -114px;*/
}

.WEB_CONTE_botonPopup_on{
	width: auto;
	height: auto;
	padding: 6px 8px;
	background: #1E3053;
	font: normal 10px Arial, Helvetica, sans-serif;
	color:#ffffff;
	/*position: absolute;*/
}

.WEB_CONTE_botonPopup_off{
	width: auto;
	height: auto;
	padding: 6px 8px;
	background: white;
	font: normal 10px Arial, Helvetica, sans-serif;
	color:#1f3155;
	/*position: absolute;*/
}

.WEB_CONTE_lineaPopup{
	width: auto;
	height: 1px;
	overflow: hidden;
	background: #1E3053;
}


.WEB_CONTE_comboSuperior1{
	width: 105px;
	height: 25px;
	margin: 0 12px 0 0;
	position: relative;
	top: 8px;
	z-index: 0;
	background: url(images/web/imagen_combo1.gif) no-repeat;
	float: left;
}

.WEB_CONTE_comboSuperior1_on{
	width: 105px;
	height: 25px;
	margin: 0 12px 0 0;
	position: relative;
	top: 8px;
	z-index: 0;
	background: url(images/web/imagen_combo1_on.gif) no-repeat;
	float: left;
	cursor: pointer;
}

.WEB_CONTE_comboSuperior2{
	width: 161px;
	height: 25px;
	margin: 0 12px 0 0;
	position: relative;
	top: 8px;
	z-index: 0;
	background: url(images/web/imagen_combo2.gif) no-repeat;
	float: left;
}

.WEB_CONTE_comboSuperior2_on{
	width: 161px;
	height: 25px;
	margin: 0 12px 0 0;
	position: relative;
	top: 8px;
	z-index: 0;
	background: url(images/web/imagen_combo2_on.gif) no-repeat;
	float: left;
	cursor: pointer;
}

.WEB_CONTE_comboSuperior3{
	width: 162px;
	height: 25px;
	margin: 0 12px 0 0;
	position: relative;
	top: 8px;
	z-index: 0;
	background: url(images/web/imagen_combo3.gif) no-repeat;
	float: left;
}

.WEB_CONTE_comboSuperior3_on{
	width: 162px;
	height: 25px;
	margin: 0 12px 0 0;
	position: relative;
	top: 8px;
	z-index: 0;
	background: url(images/web/imagen_combo3_on.gif) no-repeat;
	float: left;
	cursor: pointer;
}


.WEB_CONTE_idioma{
	width: auto;
	height: 27px;
	padding: 14px 0 0 48px;
	background: url(images/web/icono_idioma.gif) no-repeat;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333333;
	float: right;
}

.WEB_CONTE_idioma_on{
	width: auto;
	height: 27px;
	padding: 14px 0 0 48px;
	background: url(images/web/icono_idioma_on.gif) no-repeat;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #266FA8;
	cursor: pointer;
	float: right;
}




/* Contenido Home */

.WEB_FONDO_home{
	height: 1%;
	background: #F0F0F0;
}

.WEB_CONTE_bannerHome{
	width: auto;
	height: auto;
	border-bottom: solid 5px #001830;
}

.WEB_CONTE_bannerHome img{
	display: block;
	border: none;
}

.WEB_CONTE_interno1{
	width: auto;
	height: auto;
}

/* Contenido Interno */

.WEB_CONTE_titulo1{
	width: auto;
	height: auto;
	padding: 0 16px 16px 16px;
}


/* Formato Menu */

.WEB_CONTE_navegacion{
	width: auto;
	height: auto;
	padding: 12px 16px 12px 16px;
}

.WEB_CONTE_navegacion ul{
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	line-height: 10px;
}

.WEB_CONTE_navegacion li{
	width: auto;
	height: auto;
	display: inline;
	margin: 0px 0px 0px 2px;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #415278;
}

.WEB_CONTE_navegacion li a:link{
	text-decoration: none;
	color: #011A51;
}

.WEB_CONTE_navegacion li a:visited{
	text-decoration: none;
	color: #011A51;
}

.WEB_CONTE_navegacion li a:hover{
	text-decoration: underline;
	color: #011A51;
}

.WEB_CONTE_navegacion li a:active{
	text-decoration: none;
	color: #011A51;
}





/**************************** RSS ******************************************/

.WEB_CONTE_rss{
	width: auto;
	height: auto;
	padding-bottom: 10px;
}

.WEB_CONTE_rss img{
	margin-right: 5px;
	border: none;
}


/**************************** Imprimir Subir *******************************/

.WEB_CONTE_pieInterno{
   width: auto;
   height: auto;
   padding: 40px 6px 8px 16px;
	overflow: hidden;
}

.WEB_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 10px 0 0;
   padding: 6px 0 6px 0;
	display: inline;
   background: url(images/web/icono_flecha_arriba.gif) no-repeat center 0px;
}

.WEB_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.WEB_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaImprimir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 0 0 4px;
   padding: 2px 0 6px 20px;
	display: inline;
   background: url(images/web/icono_impresion.gif) no-repeat left 0px;
}

.WEB_vinetaImprimir a:link{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaImprimir a:visited{ 
	color:Black;
	text-decoration:none;
}

.WEB_vinetaImprimir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.WEB_vinetaImprimir a:active{ 
	color:Black;
	text-decoration:none;
}

.WEB_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.WEB_linea hr{ 
	display:none;
}


/******************************* Formatos **********************************/


.WEB_titulo1{
	font: bold 12px Georgia;
	color: #cc0808;
	padding-bottom: 6px;
	border-bottom: solid 1px #E68686;
	display: block;
}

.WEB_titulo2{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #ffffff;
/*	margin: 0px;*/
}

.WEB_subtitulo{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
}


.WEB_texto1{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: white;
	margin: 0px;
}

.WEB_texto1 a:link{
	text-decoration: none;
	color: white;
}

.WEB_texto1 a:visited{
	text-decoration: none;
	color: white;
}

.WEB_texto1 a:hover{
	text-decoration: none;
	color: #AEAEAE;
}

.WEB_texto1 a:active{
	text-decoration: none;
	color: white;
}

.WEB_texto2{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
}

.WEB_texto2 a:link{
	text-decoration: none;
	color: #000000;
}

.WEB_texto2 a:visited{
	text-decoration: none;
	color: #000000;
}

.WEB_texto2 a:hover{
	text-decoration: underline;
	color: #000000;
}

.WEB_texto2 a:active{
	text-decoration: none;
	color: #000000;
}

.WEB_texto3{
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #003d77;
	margin: 0px;
}

.WEB_texto4{
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #252525;
	margin: 0px;
}

.WEB_texto5{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	margin: 0px;
}

.WEB_texto5 a:link{
	text-decoration: none;
	color: #bb083a;
}

.WEB_texto5 a:visited{
	text-decoration: none;
	color: #bb083a;
}

.WEB_texto5 a:hover{
	text-decoration: none;
	color: #000000;
}

.WEB_texto5 a:active{
	text-decoration: none;
	color: #bb083a;
}


.WEB_CONTE_paginacion{
	width: auto;
	height: auto;
	padding: 10px 4px;
	text-align: right;
}


/*   Creditos   */

.WEB_textoCreditos{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #575966;
	margin: 0px;
}

.WEB_textoCreditos a:link{
	text-decoration: none;
	color: #C4C5CC;
}

.WEB_textoCreditos a:visited{
	text-decoration: none;
	color: #C4C5CC;
}

.WEB_textoCreditos a:hover{
	text-decoration: underline;
	color: #C4C5CC;
}

.WEB_textoCreditos a:active{
	text-decoration: none;
	color: #C4C5CC;
}

/*   Idiomas   */

.WEB_textoIdioma{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333333;
	margin: 0px;
}

.WEB_textoIdioma a:link{
	text-decoration: none;
	color: #333333;
}

.WEB_textoIdioma a:visited{
	text-decoration: none;
	color: #333333;
}

.WEB_textoIdioma a:hover{
	text-decoration: none;
	color: #266FA8;
}

.WEB_textoIdioma a:active{
	text-decoration: none;
	color: #333333;
}