.EMAIL_Cabecera{
	width:auto;
	height:auto;
}
.EMAIL_BarraGris{
	width:auto;
	height:5px;
	background-color:#949494;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1px;
}
.EMAIL_BarraModulo{
	width:auto;
	height:11px;
	background-color:#a60343;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1px;
}
.EMAIL_Titulo{
	width:auto;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#525252;
	padding-top:10px;
	padding-bottom:5px;
   FONT-WEIGHT: bold;
	padding-left:15px;
}
.EMAIL_Contenido{
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#5c5c5c;
	padding-left:15px;
	padding-right:15px;
}

