/* Contenedores */

.FAQ_CONTE_modulo{
	width: auto;
	height: auto;
}

.FAQ_CONTE_combo{
	width: auto;
	height: auto;
	padding-bottom: 10px;
}

.FAQ_CONTE_combo select{
	padding: 0px;
}

.FAQ_CONTE_comboTitulo{
	width: 145px !important;
	height: auto;
	padding:0px 0px 0px 12px  !important;
}

.FAQ_CONTE_respuesta {
   font:bold 9px Arial, Helvetica, sans-serif;
	width:auto;
	height:auto;
	padding:0 0 10px 0;
}

.FAQ_CONTE_califica {
	width:auto;
	height:auto;
	padding:10px;
	background-color: #EBECEC;
}

.FAQ_CONTE_titulo {
	width:auto;
	height:auto;
   padding:12px 0;
}

.FAQ_CONTE_bloque{
   width: auto;
   height: auto;
   padding-bottom: 10px;
}

.FAQ_CONTE_bloqueInterno{
   width:auto;
	height:auto;
	padding:10px;
}

/* Contenedor Subir */

.FAQ_CONTE_subir{
   width: auto;
   height: auto;
   padding: 2px 0 8px 0;
}

.FAQ_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0 10px 0 0;
   padding: 6px 0 6px 0;
   background: url(images/modulos/flecha_arriba.gif) no-repeat center 0px;
}

.FAQ_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.FAQ_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.FAQ_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.FAQ_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}


.FAQ_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.FAQ_linea hr{ 
	display:none;
}

/* Formato de Contenidos */

.FAQ_tabla1{
   width: 100%;
   height: auto;
   padding: 0px;
   margin: 0px;
   border-collapse: collapse;
   border: 0px;
}

.FAQ_tabla1 td{
   width: auto;
   height: auto;
   padding: 0px;
   margin: 0px;
   border-collapse: collapse;
   border: 0px;
}

.FAQ_tabla2{
   width: auto;
   height: auto;
   padding: 0px;
   margin: 0px;
   border-collapse: collapse;
   border: 0px;
}

.FAQ_tabla2 td{
   width: auto;
   height: auto;
   padding: 0px;
   margin: 0px;
   border-collapse: collapse;
   border: 0px;
}


.FAQ_titulo1{
   font:bold 14px Arial, Helvetica, sans-serif;
   color:#0E326F;
   margin: 0px;
}

.FAQ_texto1{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:#2D72E8;
   margin:0px;
}

.FAQ_texto2{ 
   font:normal 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
   color:#2D72E8;
}

.FAQ_texto2 a:link{
   text-decoration:none;
   color:#2D72E8;
}

.FAQ_texto2 a:visited{
   text-decoration:none;
   color:#2D72E8;
}

.FAQ_texto2 a:hover{
   text-decoration:underline;
   color:#2D72E8;
}

.FAQ_texto2 a:active{
   text-decoration:none;
   color:#2D72E8;
}  

.FAQ_texto3{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:black;
   margin:0px;
}

.FAQ_texto3 a:link{
   color:black;
   text-decoration:none;
}

.FAQ_texto3 a:visited{
   color:black;
   text-decoration:none;
}

.FAQ_texto3 a:hover{
   color:black;
   text-decoration:underline;
}

.FAQ_texto3 a:active{
   color:black;
   text-decoration:none;
}

.FAQ_texto4{
   font:bold 11px Arial, Helvetica, sans-serif;
	color:#0E326F;
	margin: 0px;
}

.FAQ_texto4 a:link{
   color: #2D72E8;
   text-decoration:none;
}

.FAQ_texto4 a:visited{
   color: #2D72E8;
   text-decoration:none;
}

.FAQ_texto4 a:hover{
   color: #2D72E8;
   text-decoration:underline;
}

.FAQ_texto4 a:active{
   color: #2D72E8;
   text-decoration:none;
}

/* Deslizadores */

.FAQ_pregunta_Off{ 
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#0E326F;
   padding: 10px 10px 0 12px;
	width:auto;
	height:auto;
	cursor:pointer;
   background: url(images/modulos/vineta_2b.gif) no-repeat 2px 15px;
}

.FAQ_pregunta_On{ 
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#000000;
	padding: 10px 10px 0 12px;
	width:auto;
	height:auto;
	cursor:pointer;
   background: url(images/modulos/vineta_2a.gif) no-repeat 4px 13px;
}
.FAQ_combo{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:#000000;
   margin:0px;
}

/* Fkedit */

.FAQF_texto1{
   font:bold 11px Arial, Helvetica, sans-serif;
	color:#0E326F;
	margin: 0px;
}

.FAQF_texto1 a:link{
   color: #2D72E8;
   text-decoration:none;
}

.FAQF_texto1 a:visited{
   color: #2D72E8;
   text-decoration:none;
}

.FAQF_texto1 a:hover{
   color: #2D72E8;
   text-decoration:underline;
}

.FAQF_texto1 a:active{
   color: #2D72E8;
   text-decoration:none;
}

.FAQF_texto2{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:#2D72E8;
   margin:0px;
}