.GEN_floatLeft{
	float: left;
}

.GEN_floatRight{
	float: right;
}

.GEN_floatNone{
	float: none;
}

.GEN_clearLeft{
	clear: left;
}

.GEN_clearRight{
	clear: right;
}

.GEN_clearBoth{
	clear: both;
}

.GEN_clearNone{
	clear: none;
}

.GEN_verticalTop{
	vertical-align: top;
}

.GEN_verticalBottom{
	vertical-align: bottom;
}

.GEN_verticalMiddle{
	vertical-align: middle;
}

.GEN_horizontalLeft{
	text-align: left;
}

.GEN_horizontalCenter{
	text-align: center;
}

.GEN_horizontalRight{
	text-align: right;
}

.GEN_displayNone{
	display: none;
}

.GEN_displayBlock{
	display: block;
}

.GEN_displayInline{
	display: inline;
}