.IMP_Cabecera{
	width:auto;
	height:auto;
}
.IMP_BarraGris{
	width:auto;
	height:5px;
	background-color:#949494;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1px;
}
.IMP_BarraModulo{
	width:auto;
	height:11px;
	background-color:#0E326F;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1px;
}

.IMP_Navegacion{
	width: auto;
	height: auto;
	padding: 8px 0px;
	padding-left: 15px;
	padding-right: 15px;
}
.IMP_Navegacion ul{
	width:auto;
	height:auto;
	text-align:right;
	margin:0px;
}
.IMP_Navegacion li{
	width:auto;
	height:auto;
	list-style:none;
	font:normal 10px Arial, Helvetica, sans-serif;
	color:#0E326F;
	display:inline;
	margin-left:4px;
}

.IMP_Navegacion li a:link{
	text-decoration: none;
	color:#b2b2b2;
}

.IMP_Navegacion li a:visited{
	text-decoration: none;
	color:#b2b2b2;
}

.IMP_Navegacion li a:hover{
	text-decoration: none;
	color:#0E326F;
}

.IMP_Navegacion li a:active{
	text-decoration: none;
	color:#b2b2b2;
}

.IMP_NavegacionSelecionado{
	color:#0E326F !important;
}




.IMP_Titulo{
	width:auto;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#0E326F;
	padding-bottom:5px;
   FONT-WEIGHT: bold;
	padding-left:15px;
}
.IMP_Contenido{
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#5c5c5c;
	padding-left:15px;
	padding-right: 15px;
}


#TBL_Cabecera{
	width:100%;
	height:auto;
	padding: 7px 0px;
	text-align:center;
	background-color:gray;
	border-bottom: solid 1px #000000;
}

#TBL_Cabecera input{
	margin:0px 10px;
}
