.NOT_CONTE_modulo{
	width: auto;
	height: auto;
}

.NOT_CONTE_noticiaHome{
	width: auto;
	height: auto;
	padding: 10px 5px 0 5px;
	position: absolute;
}

.NOT_CONTE_noticiaEnlaceHome{
	width: auto;
	height: auto;
	padding: 20px 5px 0 5px;
/*	background: blue;*/
}


.NOT_CONTE_flashNoticia{
	width: auto;
	height: 200px;
	padding: 10px;
	overflow: hidden;
}

.NOT_enlaceHome{
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	color: #ff9900;
	margin:0px;
}

.NOT_enlaceHome a:link{
	text-decoration: none;
	color: #ff9900;
}

.NOT_enlaceHome a:visited{
	text-decoration: none;
	color: #ff9900;
}

.NOT_enlaceHome a:hover{
	text-decoration: underline;
	color: #ff9900;
}

.NOT_enlaceHome a:active{
	text-decoration: none;
	color: #ff9900;
}

.NOT_subtituloHome1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:#000000;
   margin:0px;
}

.NOT_subtituloHome1 a:link{
   color:#000000;
   text-decoration:none;
}

.NOT_subtituloHome1 a:visited{
   color:#000000;
   text-decoration:none;
}

.NOT_subtituloHome1 a:hover{
   color:#000000;
   text-decoration:underline;
}

.NOT_subtituloHome1 a:active{
   color:#000000;
   text-decoration:none;
}

.NOT_textoHome1{
   font: normal 11px Arial, Helvetica, sans-serif;
	color: #444444;
   margin:0px;
}

.NOT_textoHome1 a:link{
   color: #444444;
   text-decoration:none;
}

.NOT_textoHome1 a:visited{
   color: #444444;
   text-decoration:none;
}

.NOT_textoHome1 a:hover{
   color: #444444;
   text-decoration:underline;
}

.NOT_textoHome1 a:active{
   color: #444444;
   text-decoration:none;
}

.NOT_textoHome2{
   font: bold 11px Arial, Helvetica, sans-serif;
	color: #4a6d94;
   margin:0px;
}

.NOT_textoHome2 a:link{
   color: #4a6d94;
   text-decoration:none;
}

.NOT_textoHome2 a:visited{
   color: #4a6d94;
   text-decoration:none;
}

.NOT_textoHome2 a:hover{
   color: #4a6d94;
   text-decoration:underline;
}

.NOT_textoHome2 a:active{
   color: #4a6d94;
   text-decoration:none;
}

.NOT_textoHome3{
   font: bold 11px Arial, Helvetica, sans-serif;
	color: #2d72e8;
   margin:0px;
}

.NOT_textoHome3 a:link{
   color: #2d72e8;
   text-decoration:none;
}

.NOT_textoHome3 a:visited{
   color: #2d72e8;
   text-decoration:none;
}

.NOT_textoHome3 a:hover{
   color: #2d72e8;
   text-decoration:underline;
}

.NOT_textoHome3 a:active{
   color: #2d72e8;
   text-decoration:none;
}



/*.NOT_tablaTitulo{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	border-bottom: solid 1px #A1B7D1;
}

.NOT_tablaTitulo td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 8px 0;
}

.NOT_columna1{
	width: 75% !important ;
	height: auto;
	vertical-align: top;
	padding-left: 15px !important ;
}

.NOT_columna2{
	width: 25% !important ;
	height: auto;
	vertical-align: top;
}
*/

/* Contenedores Modulos*/

.NOT_CONTE_bloque1{
   width: auto;
   height: auto;
   padding-bottom: 20px;
}

.NOT_CONTE_bloque2{
   width: auto;
   height: auto;
   padding: 10px 0;
}

.NOT_CONTE_bloqueInterno1{
   width:65%;
	height:auto;
}

.NOT_CONTE_bloqueInterno2{
   width:auto;
	height:auto;
}

/* Contenedor Subir */

.NOT_CONTE_enlaces{
   width: auto;
   height: auto;
   padding: 2px 0 8px 0;
}

.NOT_vinetaEnlace{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0;
   padding: 6px 8px 6px 8px;
	background: url(images/modulos/vineta_2a.gif) no-repeat 0px;
}

.NOT_vinetaEnlace a:link{ 
	color:Black;
	text-decoration:none;
}

.NOT_vinetaEnlace a:visited{ 
	color:Black;
	text-decoration:none;
}

.NOT_vinetaEnlace a:hover{ 
	color:Black;
	text-decoration:underline;
}

.NOT_vinetaEnlace a:active{ 
	color:Black;
	text-decoration:none;
}

.NOT_vinetaSubir{
   font:bold 9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0;
   padding: 6px 8px 6px 8px;
	background: url(images/modulos/vineta_2a.gif) no-repeat 0px;
}

.NOT_vinetaSubir a:link{ 
	color:Black;
	text-decoration:none;
}

.NOT_vinetaSubir a:visited{ 
	color:Black;
	text-decoration:none;
}

.NOT_vinetaSubir a:hover{ 
	color:Black;
	text-decoration:underline;
}

.NOT_vinetaSubir a:active{ 
	color:Black;
	text-decoration:none;
}

.NOT_linea{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	clear: right;
}

.NOT_linea hr{ 
	display:none;
}

/* Formato de Contenidos */

.NOT_tabla1{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.NOT_tabla1 td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.NOT_titulo1{
   font: bold 12px Arial, Helvetica, sans-serif;
   color:#0e326f;
   margin: 0px;
}

.NOT_titulo2{
   font:bold 13px Arial, Helvetica, sans-serif;
   color:#2d72e8;
	margin: 0px;
}

.NOT_titulo3{
	font: bold 11px/11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	display: block;
}

.NOT_titulo3 a:link{
	text-decoration: none;
	color: #000000;
}

.NOT_titulo3 a:visited{
	text-decoration: none;
	color: #000000;
}

.NOT_titulo3 a:hover{
	text-decoration: none;
	color: #2d72e8;
}

.NOT_titulo3 a:active{
	text-decoration: none;
	color: #000000;
}

.NOT_subtitulo1{
   font: bold 11px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
}

.NOT_vineta1{
   font: normal 11px Arial, Helvetica, sans-serif;
	color: #333333;
   padding-left:12px;
   margin: 0 0 5px 0;
	background: white url(images/modulos/vineta_6.gif) no-repeat 5px 7px;
}

.NOT_vineta1 a:link{
   color: #333333;
   text-decoration:none;
}

.NOT_vineta1 a:visited{
   color: #333333;
   text-decoration:none;
}

.NOT_vineta1 a:hover{
   color: #333333;
   text-decoration:underline;
}

.NOT_vineta1 a:active{
   color: #333333;
   text-decoration:none;
}


.NOT_texto1{
   font: normal 11px Arial, Helvetica, sans-serif;
	color: #4a494a;
   padding-left:12px;
   margin:0px;
}

.NOT_texto1 a:link{
   color: #e77900;
   text-decoration:underline;
}

.NOT_texto1 a:visited{
   color: #e77900;
   text-decoration:underline;
}

.NOT_texto1 a:hover{
   color: #e77900;
   text-decoration:none;
}

.NOT_texto1 a:active{
   color: #e77900;
   text-decoration:underline;
}

.NOT_texto2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#ff9610;
   padding-left:12px;
   margin:0px;
}

.NOT_texto2 a:link{
   color:#ff9610;
   text-decoration:none;
}

.NOT_texto2 a:visited{
   color:#ff9610;
   text-decoration:none;
}

.NOT_texto2 a:hover{
   color:#ff9610;
   text-decoration:underline;
}

.NOT_texto2 a:active{
   color:#ff9610;
   text-decoration:none;
}

.NOT_texto3{
	font:bold 11px Arial, Helvetica, sans-serif;
   color:#ff9610;
	margin: 0px;
}

.NOT_texto3 a:link{
   color:#ff9610;
   text-decoration:none;
}

.NOT_texto3 a:visited{
   color:#ff9610;
   text-decoration:none;
}

.NOT_texto3 a:hover{
   color:#ff9610;
   text-decoration:underline;
}

.NOT_texto3 a:active{
   color:#ff9610;
   text-decoration:none;
}


/*  Estilos FKedit  */


.NOTF_titulo1{
   font:bold 13px Arial, Helvetica, sans-serif;
   color:#0e326f;
}

.NOTF_subtitulo1{
   font:bold 12px Arial, Helvetica, sans-serif;
   color:Black;
}

.NOTF_texto1{
   font:normal 11px Arial, Helvetica, sans-serif;
   color:Black;
}

.NOTF_texto1 a:link{
   color: #2d72e8;
   text-decoration:underline;
}

.NOTF_texto1 a:visited{
   color: #2d72e8;
   text-decoration:underline;
}

.NOTF_texto1 a:hover{
   color: #2d72e8;
   text-decoration:none;
}

.NOTF_texto1 a:active{
   color: #2d72e8;
   text-decoration:underline;
}

.NOTF_texto2{
   font:bold 11px Arial, Helvetica, sans-serif;
   color:#0e326f;
}

.NOTF_texto2 a:link{
   color: #2d72e8;
   text-decoration:none;
}

.NOTF_texto2 a:visited{
   color: #2d72e8;
   text-decoration:none;
}

.NOTF_texto2 a:hover{
   color: #2d72e8;
   text-decoration:underline;
}

.NOTF_texto2 a:active{
   color: #2d72e8;
   text-decoration:none;
}

.NOTF_vineta1{
   font:bold 12px Arial, Helvetica, sans-serif;
	color:Black;
   padding-left:12px;
   margin: 0px;
	display: block;	
	background: url(images/modulos/vineta_1.gif) no-repeat 3px 2px;
}

.NOTF_vineta1 a:link{
   color: #2d72e8;
   text-decoration:none;
}

.NOTF_vineta1 a:visited{
   color: #2d72e8;
   text-decoration:none;
}

.NOTF_vineta1 a:hover{
   color: #2d72e8;
   text-decoration:underline;
}

.NOTF_vineta1 a:active{
   color: #2d72e8;
   text-decoration:none;
}