
/****************** Registros *********************/


.REG_CONTE_modulo{
	width: auto;
	height: auto;
	background: #ffffff;
}

.REG_CONTE_cabecera{
	width: auto;
	height: 100px;
	position: relative;
}

.REG_CONTE_logo{
	width: 92px;
	height: 84px;
	position: absolute;
	background: url(images/modulos/imagen_logo.jpg) no-repeat;
	top: 8px;
	left: 12px;
}

.REG_CONTE_cerrar{
	width: 51px;
	height: auto;
	position: absolute;
	top: 10px;
	right: 6px;
}

.REG_vineta1{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
	padding: 0 0 0 8px;
	background: url(images/modulos/vineta_1.gif) no-repeat 0px 2px;
}

.REG_vineta1 a:link{
	text-decoration: none;
	color: #2D72E8;
}

.REG_vineta1 a:visited{
	text-decoration: none;
	color: #2D72E8;
}

.REG_vineta1 a:hover{
	text-decoration: underline;
	color: #2D72E8;
}

.REG_vineta1 a:active{
	text-decoration: none;
	color: #2D72E8;
}

.REG_vineta2{
   font:bold 9px/9px Arial, Helvetica, sans-serif;
	color:Black;
   margin: 0px;
   padding: 6px 8px 6px 8px;
	float: right;
	background: url(images/modulos/vineta_2a.gif) no-repeat 0px;
	overflow: hidden;
}

.REG_vineta2 a:link{ 
	color:#2D72E8;
	text-decoration:none;
}

.REG_vineta2 a:visited{ 
	color:#2D72E8;
	text-decoration:none;
}

.REG_vineta2 a:hover{ 
	color:#2D72E8;
	text-decoration:underline;
}

.REG_vineta2 a:active{ 
	color:#2D72E8;
	text-decoration:none;
}



.REG_CONTE_titulo{
	width: auto;
	height: auto;
	padding: 10px 10px;
	border-top: solid 4px #000000;
	background: #0E326F;
}

.REG_CONTE_formulario1{
	width: auto;
	height: auto;
	padding: 18px 10px 0px 10px;
	overflow: hidden;
}

.REG_CONTE_enlaces{
   width: auto;
   height: auto;
   padding: 0 0 0 0;
	margin: 0px;
	overflow: hidden;
}

.REG_linea2{ 
	width:100%;
	height:1px;
	background:#BBBBBB;
	overflow: hidden;
	margin: 10px 0 5px 0;
}






.REG_mensajeError{
	font: bold 12px Arial, Helvetica, sans-serif;
   color:#2D72E8;
	padding: 8px 0;  
}

.REG_iconoError{
	font: bold 11px/14px Arial, Helvetica, sans-serif;
	color: #2D72E8;
	padding: 1px 0 4px 22px;
	background: url(images/modulos/error.gif) no-repeat;
}

.REG_iconoAlerta{
	font: bold 11px/14px Arial, Helvetica, sans-serif;
	color: #2D72E8;
	padding: 2px 0 4px 22px;
	background: url(images/modulos/alerta.gif) no-repeat;
}

.REG_mensajeFormulario{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: Black;
}



.REG_TABLA_1{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	padding: 0px;
	margin: 0px;
}

.REG_TABLA_1 td{
	width: auto;
	height: auto;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 4px 2px !important ;
	_padding: 2px 2px !important ;
}


/**************************** NUEVO ******************************/

/* CONTENEDORES */

.REG_CONTE_login{ 
	width: 390px;
	height: auto;
	padding: 10px 0px;
}

.REG_CONTE_cambiarClave{ 
	width: 390px;
	height: auto;
	padding: 10px 0px;
}

.REG_CONTE_mensaje{ 
	width: auto;
	height: auto;
	padding: 10px 0px 10px 0px;
}

/****************/


/*
.REG_TABLA_1{ 
	width: 100%;
	height: auto;
	border:none;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

.REG_TABLA_1 td{ 
	width: auto;
	height: auto;
	border:none;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

.REG_TABLA_2{ 
	width: 70%;
	height: auto;
	border:none;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}*/
/*
.REG_TABLA_2 td{ 
	width: auto;
	height: auto;
	border:none;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

.REG_TABLA_3{
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-collapse: collapse;
}

.REG_TABLA_3 td{
	width: auto;
	height: auto;
	margin: 0px;
	border: 0px;
	border-collapse: collapse;
	padding: 0px;
}

.REG_TD_campo1{ 
	width: 20%;
	height: auto;
	text-align: right;
	padding: 0px 4px !important ;	
}

.REG_TD_campo2{ 
	width: 30%;
	height: auto;
	text-align: right;
	padding: 5px 4px !important ;	
}

.REG_TD_campo3{ 
	width: 30% !important ;
	height: auto;
	text-align: right;
	padding: 0px 4px !important ;	
}*/
/*
.REG_TD_caja1{ 
	width: 80%;
	height: 30px !important ;
}

.REG_TD_caja2{ 
	width: auto;
	height: auto !important ;
	padding:0px 0px 6px 0px !important ;
	margin: 0px;
	border: 0px;
	border-collapse: collapse;
}

.REG_TD_caja3{ 
	width: 70%;
	height: 30px !important ;
}
*/

/*.REG_TD_caja2 textarea{  
	margin: 0px;
	padding: 0px;
}

.REG_TD_caja2 input{  
	margin: 0px;
	padding: 0px;
}*/

.REG_cajaTexto1{ 
	width: 252px;
	height: auto;	
	padding: 0px 5px;
	margin: 0px;
	border: solid 1px #BBBBBB;
	background: #ebebeb;
	font: normal 11px Arial, Helvetica, sans-serif;
}

.REG_cajaTexto2{ 
	width: 240px;
	height: auto;	
	padding: 0px 5px;
	margin: 0px;
	border: solid 1px #BBBBBB;
/*	border-collapse: separate;*/
	background: #ebebeb;
	font: normal 11px Arial, Helvetica, sans-serif;
}

.REG_boton1{
	width: 70px;
	height: auto;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: white;
	border: none;
	padding: 2px;
	margin: 0px;
/*	border: solid 1px #0E326F;*/
	background: #0E326F;
}

.REG_linea1{
    background: #BBBBBB;
    width: 100%;
    height: 1px;
	 overflow: hidden;
/*	 margin: 10px 0;*/
}


.REG_subtitulo1{
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	color: #000000;
}

.REG_subtitulo1 a:link{
	text-decoration: underline;
	color: #0E326F;
}

.REG_subtitulo1 a:visited{
	text-decoration: underline;
	color: #0E326F;
}

.REG_subtitulo1 a:hover{
	text-decoration: none;
	color: #0E326F;
}

.REG_subtitulo1 a:active{
	text-decoration: underline;
	color: #0E326F;
}

.REG_subtitulo2{
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	color: #000000;
}

.REG_subtitulo2 a:link{
	text-decoration: underline;
	color: #0E326F;
}

.REG_subtitulo2 a:visited{
	text-decoration: underline;
	color: #0E326F;
}

.REG_subtitulo2 a:hover{
	text-decoration: none;
	color: #0E326F;
}

.REG_subtitulo2 a:active{
	text-decoration: underline;
	color: #0E326F;
}

.REG_subtitulo3{
	font: bold 12px/12px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
}

.REG_subtitulo3 a:link{
	text-decoration: underline;
	color: #0E326F;
}

.REG_subtitulo3 a:visited{
	text-decoration: underline;
	color: #0E326F;
}

.REG_subtitulo3 a:hover{
	text-decoration: none;
	color: #0E326F;
}

.REG_subtitulo3 a:active{
	text-decoration: underline;
	color: #0E326F;
}

.REG_texto1{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
}

.REG_texto1 a:link{
	text-decoration: underline;
	color: #2D72E8;
}

.REG_texto1 a:visited{
	text-decoration: underline;
	color: #2D72E8;
}

.REG_texto1 a:hover{
	text-decoration: none;
	color: #2D72E8;
}

.REG_texto1 a:active{
	text-decoration: underline;
	color: #2D72E8;
}

.REG_texto2{
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #000000;
}

.REG_texto2 a:link{
	text-decoration: underline;
	color: #2D72E8;
}

.REG_texto2 a:visited{
	text-decoration: underline;
	color: #2D72E8;
}

.REG_texto2 a:hover{
	text-decoration: none;
	color: #2D72E8;
}

.REG_texto2 a:active{
	text-decoration: underline;
	color: #2D72E8;
}

.REG_texto3{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
}

.REG_texto3 a:link{
	text-decoration: underline;
	color: #2D72E8;
}

.REG_texto3 a:visited{
	text-decoration: underline;
	color: #2D72E8;
}

.REG_texto3 a:hover{
	text-decoration: none;
	color: #2D72E8;
}

.REG_texto3 a:active{
	text-decoration: underline;
	color: #2D72E8;
}


.REG_CONTE_generaCaptcha{ 
	width: auto;
	height: 90px !important;
	margin: 0px;
	padding: 0px;
}

.REG_UL_registros1{
	margin:0 auto;
	padding:0;
	list-style-type:none;
} 

.REG_UL_registros1 li{
	width: auto;
	height: auto;
	position: relative;
	list-style-type:none;
	padding-top:5px;
}

.REG_UL_registros1 li span{
	width: 120px;
	height: auto;
	display: block;
	text-align: right;
	position: absolute;
	margin-top:0px;
	padding:4px 0 0 0;
	list-style-type:none;
}  

.REG_UL_registros1 li input{
	position:relative;
	left:125px;
	margin-top:-4px;
}
				
.REG_UL_registros1 li textArea{
	position:relative;
	left:125px;
	margin-top:-4px;
}

.REG_UL_registros1 li label{
	position:relative;
	left:125px;
	margin-top:-4px;
}


/*.REG_UL_registros1 	{
	margin:0 auto;padding:0;
	list-style-type:none;
	font-family:Arial, Helvectica, sans-serif;
	font-size:1em;
} 

.REG_UL_registros1 li 	{
	margin:0 auto;
	padding:0;
	list-style-type:none;
	padding-top:10px;
} 

.REG_UL_registros1 li span{
	width: 120px;
	height: auto;
	display: block;
	text-align: right;
	position: absolute;
	margin-top:0px;
	padding:0;
	list-style-type:none;
}  


.REG_UL_registros1 li input 		{
	position:absolute;
	left:150px;
	margin-top:-4px;
}

.REG_UL_registros1 li textArea 		{
	position:absolute;
	left:150px;
	margin-top:-4px;
}
*/

.REG_UL_registros2{
	margin:0 auto;
	padding:0 0 0 50px;
	list-style-type:none;
} 

.REG_UL_registros2 li{
	width: auto;
	height: auto;
	position: relative;
	padding:0 0 0 0;
	list-style-type:none;
}

.REG_UL_registros3{
	margin:0 auto;
	padding:0;
	list-style-type:none;
} 

.REG_UL_registros3 li{
	width: auto;
	height: auto;
	position: relative;
	list-style-type:none;
	padding-top:0px;
}

.REG_UL_registros3 li span{
	width: 120px;
	height: auto;
	display: block;
	text-align: right;
	position: absolute;
	margin-top:0px;
	padding:4px 0 0 0;
	list-style-type:none;
}  

.REG_UL_registros3 li input{
	position:relative;
	left:125px;
	margin-top:-4px;
}
				
.REG_UL_registros3 li textArea{
	position:relative;
	left:125px;
	margin-top:-4px;
}

.REG_UL_registros4{
	width: auto;
	margin:0 auto;
	padding:0 0 0 0px;
	list-style-type:none;
	text-align: right;
	margin-top: 10px;
} 

.REG_UL_registros4 li{
	width: auto;
	height: auto;
/*	position: relative;*/
	padding:0 0 0 0px;
	list-style-type:none;
}

/*.REG_UL_registros4 li input{
	position:relative;
	left:125px;
	margin-top:-4px;
}*/

.REG_UL_registros5{
	margin:0 auto;
	padding:0;
	list-style-type:none;
} 

.REG_UL_registros5 li{
	width: auto;
	height: auto;
	position: relative;
	list-style-type:none;
	padding-top:5px;
}

.REG_UL_registros5 li span{
	width: 120px;
	height: auto;
	display: block;
	text-align: right;
	position: absolute;
	margin-top:0px;
	padding:4px 0 0 0;
	list-style-type:none;
}  

.REG_UL_registros5 li input{
	position:relative;
	left:125px;
	margin-top:-4px;
}
				
.REG_UL_registros5 li textArea{
	position:relative;
	left:125px;
	margin-top:-4px;
}

/*.REG_UL_registros5 ul table{
	position:absolute;
	left:125px;
	margin-top:-4px;
}

.REG_UL_registros5 ul table td{
	background: aqua;
}*/


/*************************** FIN NUEVO ***************************/




.REG_titulo1{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;
}







/*.REG_cajaTexto1{
	width: auto;
	height: auto;
	font: normal 10px/10px Arial, Helvetica, sans-serif;
	color: #000000;
	border: solid 1px #BBBBBB;
	border-collapse: separate;
	background: White;
	margin: 0px;
	padding: 0px;
}*/




