.VRS_Imagen{
	width: auto;
	height: auto;
	margin-bottom: 10px;
}

.VRS_Lista{
	width: auto;
	height: auto;
	margin-bottom: 10px;
}



/*********************/


/* Estilos Contenido */

.titulo{
	margin: 0px 0px 8px 0px;
	font-size: 14px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	color: #a50443;
	clear: left;
} 


.general{
	color: #5c5c5c;
	font-size: 11px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: normal;
	margin: 19px 0px;
}

.general a:link{
	color: #5c5c5c;
	text-decoration: underline;
}

.general a:visited{
	color:#5c5c5c;
	text-decoration: underline;
}

.general a:hover{
	color:#5c5c5c;
	text-decoration: none;
}

.general a:active{
	color:#5c5c5c;
	text-decoration: underline;
}



.subtitulo{
	color: #a50443;
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	clear: left;
	margin: 19px 0px;
}

.subtitulo a:link  {
	color: #a50443;
	text-decoration: none;
}

.subtitulo a:visited  {
	color: #a50443;
	text-decoration: none;
}

.subtitulo a:hover  {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo a:active  {
	color: #a50443;
	text-decoration: none;
}



.subtitulo2 {
	color: #a50443;
	font-size: 11px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: normal;
	margin: 19px 0px;
}


.subtitulo2 a:link  {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo2 a:visited  {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo2 a:hover  {
	color: #a50443;
	text-decoration: none;
}

.subtitulo2 a:active   {
	color: #a50443;
	text-decoration: underline;
}




.subtitulo3 {
	color: #a50443;
	font-size: 10px;
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	margin: 19px 0px;
}

.subtitulo3 a:link   {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo3 a:visited  {
	color: #a50443;
	text-decoration: underline;
}

.subtitulo3 a:hover  {
	color: #a50443;
	text-decoration: none;
}

.subtitulo3 a:active  {
	color: #a50443;
	text-decoration: underline;
}



.filaVineta{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #5c5c5c;
	padding: 0px 0px 0px 10px;
	margin: 2px 0px 2px 0px;
	text-indent: 0px;
	display: block;
	background: url(images/Bull_Upc.gif) no-repeat 2px 3px;

}


.filaVineta a:link{
	color: #5c5c5c;
	text-decoration: none;
}

.filaVineta a:visited{
	color: #5c5c5c;
	text-decoration: none;
}

.filaVineta a:hover{
	color: #a71d47;
	text-decoration: underline;
}

.filaVineta a:active{
	color: #5c5c5c;
	text-decoration: none;
}
